Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

chore(deps): regular dependency update (#7485)
  ui/package-lock.json
  ui/package.json
Due: none

fix(ui): fix the light theme contrast for editor. (#7438)
  ui/src/components/inputs/MonacoEditor.vue
Due: none

chore(ui): remove obsolete props (#7487)
  ui/src/components/executions/outputs/Wrapper.vue
  ui/src/components/flows/blueprints/BlueprintDetail.vue
  ui/src/components/inputs/LowCodeEditor.vue
Due: none

chore(ui): improve styling of editor file tree (#7420)
  ui/src/components/inputs/EditorSidebar.vue
Due: none

chore(translations): add missing key/value pairs (#7492)
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

feat(ui): add keyboard shortcuts for changing editor font size (#7450)
  ui/src/components/inputs/KeyShortcuts.vue
  ui/src/components/inputs/MonacoEditor.vue
Due: none

chore(ui): amend margins of EE locked pages (#7446)
  ui/src/components/Tabs.vue
  ui/src/components/layout/EmptyTemplate.vue
Due: none

fix(core): if subflow is disabled, raise an error (#7490)
  core/src/main/java/io/kestra/core/services/FlowService.java
Due: Core

chore(ui): simplify query search with spaces inside (#7404)
  ui/src/components/filter/components/Label.vue
  ui/src/components/filter/utils/helpers.ts
Due: none

fix: render before command with options in CommandsWrapper (#7496)
  script/src/main/java/io/kestra/plugin/scripts/exec/AbstractExecScript.java
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/runners/CommandsWrapper.java
Due: Script

fix(tasks): remove useless format metrics on return (#7486)
  core/src/main/java/io/kestra/plugin/core/debug/Return.java
Due: Core

fix(core): require condition in Flow trigger (#7494)
  core/src/main/java/io/kestra/core/services/FlowService.java
  core/src/main/java/io/kestra/core/validations/ConditionValidation.java
  core/src/main/java/io/kestra/core/validations/validator/ConditionValidator.java
  core/src/main/java/io/kestra/plugin/core/trigger/Flow.java
  core/src/test/java/io/kestra/core/services/FlowServiceTest.java
Due: Core

fix(ui): make flow metrics behave as expected (#7502)
  ui/src/components/flows/FlowMetrics.vue
Due: none

fix(ui): properly filter out log levels (#7503)
  ui/src/components/logs/LogsWrapper.vue
Due: none

chore(ui): improve scope type filters (#7504)
  ui/src/components/filter/KestraFilter.vue
  ui/tests/unit/filter/utils/helpers.spec.ts
Due: none

fix(core): add package-info.java to dashboard package
  core/src/main/java/io/kestra/plugin/core/dashboard/package-info.java
Due: Core

chore(ui): add translation key/value pairs (#7509)
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

chore(ui): improve the scope of translations (#7505)
  ui/src/components/admin/stats/BasicAuthPrompt.vue
  ui/src/components/content/CardLogos.vue
  ui/src/components/content/DownloadLogoPack.vue
  ui/src/components/executions/ChangeExecutionStatus.vue
  ui/src/components/executions/FilePreview.vue
  ui/src/components/executions/Gantt.vue
  ui/src/components/flows/FlowRootTopBar.vue
  ui/src/components/flows/MetadataEditor.vue
  ui/src/components/flows/MetadataVariables.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/blueprints/BlueprintDetail.vue
  ui/src/components/inputs/DurationPicker.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/components/layout/BookmarkLink.vue
  ui/src/components/layout/ContextNews.vue
  ui/src/components/onboarding/Welcome.vue
  ui/src/components/onboarding/execution/OverviewCard.vue
  ui/src/components/plugins/PluginHome.vue
  ui/src/components/utils/RouterMd.vue
Due: none

fix(core): add package-info.java to script + handle subgroups properly
  core/src/main/java/io/kestra/core/plugins/RegisteredPlugin.java
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/package-info.java
Due: Core, Script

fix(core): try to log message for unhandled realtime trigger exception
  core/src/main/java/io/kestra/core/runners/Worker.java
Due: Core

fix(core): move package-info.java to proper dashboard packages
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/package-info.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/package-info.java
  core/src/main/java/io/kestra/plugin/core/dashboard/package-info.java
Due: Core

fix(core): rename dashboards subgroups
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/package-info.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/package-info.java
Due: Core

chore(ui): restore automatic scroll to bottom on logs (#7365)
  ui/src/components/logs/TaskRunDetails.vue
Due: none

fix(core): typo in PluginScanner
  core/src/main/java/io/kestra/core/plugins/PluginScanner.java
Due: Core

fix(core): camel to snake-case for app-blocks in RegisteredPlugin
  core/src/main/java/io/kestra/core/plugins/RegisteredPlugin.java
Due: Core

fix(core): missing content type on http client
  core/src/main/java/io/kestra/plugin/core/http/AbstractHttp.java
  core/src/test/java/io/kestra/core/http/client/HttpClientTest.java
  core/src/test/java/io/kestra/plugin/core/http/RequestTest.java
Due: Core

docs: debug expression (#7514)
  .github/actions/generate-translations/action.yml
  .github/workflows/pull-request.yml
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/generate_translations.py
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

chore(ui): prevent sending random strings as child filter values (#7526)
  ui/src/components/filter/KestraFilter.vue
Due: none

chore(ui): purge empty labels on execution (#7527)
  ui/src/components/executions/SetLabels.vue
Due: none

refactor(ui): remove obsolete `chartjs-chart-treemap` library (#7529)
  ui/package-lock.json
  ui/package.json
  ui/src/charts/TreeMapChart.js
  ui/src/utils/init.js
Due: none

Fix the multi select status for the IAM/invitaiton page (#7528)
  ui/src/components/filter/KestraFilter.vue
Due: none

chore(ui): use system namespace label from configs
  ui/src/components/namespace/NamespaceSelect.vue
Due: none

fix(jdbc): be resilient to DataException
  jdbc-postgres/src/test/java/io/kestra/runner/postgres/PostgresQueueTest.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcQueueTest.java
Due: Jdbc, Jdbc Postgres

fix(core): content type encoding should not be mandatory
  core/src/main/java/io/kestra/core/http/HttpRequest.java
  core/src/main/java/io/kestra/plugin/core/http/AbstractHttp.java
  core/src/test/java/io/kestra/plugin/core/http/RequestTest.java
Due: Core

fix(core): #172 add reactor into classloader blacklist
  core/src/main/java/io/kestra/core/plugins/PluginClassLoader.java
Due: Core

Fix the search by labels input as single value
  ui/src/components/filter/utils/helpers.ts
Due: none

fix(ui): amend filtering of logs (#7535)
  ui/src/components/logs/LogsWrapper.vue
Due: none

fix(core): handle space in HTTP request URI
  core/src/main/java/io/kestra/plugin/core/http/AbstractHttp.java
  core/src/test/java/io/kestra/plugin/core/http/RequestTest.java
Due: Core

chore(ui): prevent system labels to be shown in set labels dialog (#7539)
  ui/src/components/flows/FlowRun.vue
  ui/src/components/labels/LabelInput.vue
Due: none

fix(core): Subflow using the old task name never ends
  core/src/main/java/io/kestra/core/runners/ExecutableUtils.java
  core/src/test/java/io/kestra/plugin/core/flow/FlowCaseTest.java
  core/src/test/java/io/kestra/plugin/core/flow/FlowTest.java
  core/src/test/resources/flows/valids/subflow-old-task-name.yaml
Due: Core
