Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

feat: Trigger Initialization Method Performance Optimization
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

fix(): fix icons
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Triggers.java
  core/src/main/resources/icons/io.kestra.plugin.core.dashboard.chart.svg
  core/src/main/resources/icons/io.kestra.plugin.core.dashboard.data.svg
Due: Core

build(ci): allow downloading the exe from the workflow and not the release
  .github/workflows/docker.yml
Due: none

fix(ci): add missing build artifact job
  .github/workflows/docker.yml
Due: none

fix(flows): playground align restart button button (#10415)
  ui/src/components/executions/Logs.vue
Due: none

feat(plugins): add script plugins
  .plugins
Due: none

fix(ci): don't publish docker in build-artifact
  .github/workflows/docker.yml
  .github/workflows/workflow-build-artifacts.yml
Due: none

fix(core): redesign playground run task button (#10423)
  ui/src/components/flows/FlowPlayground.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/components/inputs/PlaygroundRunTaskButton.vue
  ui/src/composables/playground/useFlowEditorRunTaskButton.ts
  ui/src/stores/playground.ts
  ui/src/styles/layout/element-plus-overload.scss
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(flows): playground - implement new designs (#10459)
  ui/package-lock.json
  ui/package.json
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/flows/FlowPlayground.vue
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/flows/TriggerFlow.vue
  ui/src/components/inputs/FlowPlaygroundToggle.vue
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/components/inputs/PlaygroundRunTaskButton.vue
  ui/src/stores/playground.ts
  ui/src/styles/layout/element-plus-overload.scss
  ui/src/translations/en.json
Due: none

chore(deps): hardcode vue override version
  ui/package.json
Due: none

fix(core): avoid follow execution from being discarded too early
  ui/src/components/logs/TaskRunDetails.vue
Due: none

fix(executions): make columns that are not links normal text (#10460)
  ui/src/components/executions/Executions.vue
Due: none

fix(core): remove top spacing from no execution page and removing the redundant code (#10445)
  ui/src/components/Tabs.vue
  ui/src/components/executions/ExecutionPending.vue
  ui/src/components/flows/NoExecutions.vue
  ui/src/styles/app.scss
Due: none

fix(executions): do not rely on monaco to get value (#10467)
  ui/src/components/executions/outputs/Wrapper.vue
Due: none

fix(flows): hide executionkind meta in the logs (#10482)
  ui/src/components/logs/LogLine.vue
Due: none

fix(build): reduce Gradle warnings
  build.gradle
Due: none

feat(core): validate URL configuration
  core/src/main/java/io/kestra/core/validations/AppConfigValidator.java
  core/src/test/java/io/kestra/core/validations/AppConfigValidatorTest.java
Due: Core

feat(system): improve performance of computeSchedulable
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

fix(flows): add the load errors to the flow errors (#10483)
  ui/src/components/inputs/LowCodeEditorWrapper.vue
  ui/src/stores/flow.js
  ui/src/translations/en.json
Due: none

fix(executions): Don't create outputs from the Subflow task when we didn't wait
  core/src/main/java/io/kestra/plugin/core/flow/Subflow.java
  core/src/test/java/io/kestra/plugin/core/flow/SubflowRunnerTest.java
  core/src/test/resources/flows/valids/subflow-child-with-output.yaml
  core/src/test/resources/flows/valids/subflow-parent-no-wait.yaml
Due: Core

feat(ui): added http method autocompletion (#10492)
  ui/src/override/services/flowAutoCompletionProvider.ts
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
Due: none

fix(flows): load flows documentation when coming back to no-code root (#10374)
  ui/src/components/code/segments/Editor.vue
  ui/src/stores/plugins.ts
Due: none

fix(flows): wait longer for widgets to be rendered (#10485)
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/logs/TaskRunDetails.vue
  ui/src/stores/playground.ts
  ui/src/translations/en.json
Due: none

fix(flows): forget all old taskRunId when a new execution (#10487)
  ui/src/stores/playground.ts
Due: none

fix(ci): do not run github release on tag
  .github/workflows/workflow-github-release.yml
Due: none

fix(editor): adjust padding for editor (#10497)
  ui/src/components/inputs/MonacoEditor.vue
Due: none

fix(ui): load correctly filters + refresh dashboard on filter change (#10504)
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/composables/useDashboards.ts
Due: none

fix: handle empty flows list in lastExecutions correctly (#10493)
  core/src/main/java/io/kestra/core/repositories/ExecutionRepositoryInterface.java
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
Due: Core, Jdbc

fix(executions): properly handle methods and computed for tabs (#10513)
  ui/src/components/executions/ExecutionRoot.vue
Due: none

fix(flows): route to flow page (#10514)
  ui/src/components/flows/Flows.vue
Due: none

fix(flows): playground need to use ui-libs (#10506)
  ui/package-lock.json
  ui/package.json
Due: none

fix(ci): workflow build artifact doesn't need the plugin version
  .github/workflows/workflow-publish-docker.yml
  .github/workflows/workflow-release.yml
Due: none

fix(executions): do not rely on monaco to get value (#10515)
  ui/src/components/executions/TriggerCascader.vue
Due: none

feat(flows): warn on runnable only properties on non-runnable tasks
  core/src/main/java/io/kestra/core/services/FlowService.java
  core/src/main/java/io/kestra/core/validations/validator/FlowValidator.java
  core/src/test/java/io/kestra/core/services/FlowServiceTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
Due: Core

fix(tests): RunContextLoggerTest.secrets(): wrong number of logs in awaitLogs()
  core/src/test/java/io/kestra/core/runners/RunContextLoggerTest.java
Due: Core

feat(flow): pull up description to the FlowInterface
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/models/flows/AbstractFlow.java
  core/src/main/java/io/kestra/core/models/flows/Flow.java
  core/src/main/java/io/kestra/core/models/flows/FlowInterface.java
Due: Core

fix(namespaces): fixes loading of additional ns (#10518)
  ui/src/components/namespaces/components/NamespaceSelect.vue
Due: none

fix(executions): avoid race condition leading to never-ending follow with non-terminal state
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: none

fix(core): ensure instances can read all messages when no consumer group / queue type
  core/src/main/java/io/kestra/core/queues/QueueInterface.java
Due: Core

fix(core): remove icon for inputs in no-code
  ui/src/components/code/components/collapse/Element.vue
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
