Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(core): fix misc APIs with main tenants
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscControllerSecuredTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscControllerTest.java
Due: none

chore(deps): regular dependency update (#8895)
  ui/package-lock.json
  ui/package.json
Due: none

fix(core): filter deprecated properties from optional ones in no code editor (#8896)
  ui/src/components/flows/tasks/TaskObject.vue
Due: none

fix(plugins): ForEach must be displayed as a sequential
  core/src/main/java/io/kestra/core/runners/FlowableUtils.java
  core/src/main/java/io/kestra/plugin/core/flow/ForEach.java
Due: Core

feat(system): Property.ofValue & Property.ofExpression
  core/src/main/java/io/kestra/core/models/property/Property.java
Due: Core

fix(filters): corrected the namespace contains filter (#8653)
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
Due: Jdbc

feat(core): added SecurityScheme annotation for openapi spec file generation + add some custom Schema name to avoid duplicated name (#8726)
  core/src/main/java/io/kestra/core/docs/Schema.java
  core/src/main/java/io/kestra/core/models/executions/TaskRunAttempt.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: Core

fix(plugins): remove "DYNAMIC" log from browser console
  ui/package-lock.json
  ui/package.json
Due: none

fix(core): avoid multiple rendering in ForEachItem (#8906)
  core/src/main/java/io/kestra/core/services/StorageService.java
Due: Core

fix(core): cleanup LogService to always prefix with tenant
  core/src/main/java/io/kestra/core/services/LogService.java
Due: Core

fix(core): make sure that complex tasks are properly rendered for both inputs and sections (#8902)
  ui/src/components/code/components/Save.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/flows/MetadataInputsContent.vue
  ui/src/components/flows/tasks/TaskComplex.vue
  ui/src/components/flows/tasks/TaskComplexContent.vue
  ui/src/components/flows/tasks/TaskObject.vue
Due: none

fix(test): mockTaskRun should be public
  tests/src/main/java/io/kestra/core/utils/TestsUtils.java
Due: none

feat(system): don't compute empty task outputs
  core/src/main/java/io/kestra/core/models/executions/Execution.java
Due: Core

feat(system): don't clone maps when not necessary
  core/src/main/java/io/kestra/core/runners/RunVariables.java
Due: Core

chore(test): add module for jmh benchmarks
  jmh-benchmarks/README.md
  jmh-benchmarks/build.gradle
  jmh-benchmarks/src/jmh/java/io/kestra/core/utils/MapUtilsBenchmark.java
  settings.gradle
Due: none

feat(system): optimize MapUtils for merge
  core/src/main/java/io/kestra/core/utils/MapUtils.java
  jmh-benchmarks/src/jmh/java/io/kestra/core/utils/MapUtilsBenchmark.java
Due: Core

test: avoid FileChangedEventListenerTest being flaky (#8810)
  cli/src/test/java/io/kestra/cli/services/FileChangedEventListenerTest.java
Due: Cli

chore(core): add keyboard shortcuts icon to flow editor tab (#8925)
  ui/src/components/inputs/EditorWrapper.vue
Due: none

fix(plugins)*: ForEach executes task in the wrong order when no concurrency limit
  core/src/main/java/io/kestra/core/runners/FlowableUtils.java
Due: Core

fix(system): force a state after kill (#8937)
  core/src/main/java/io/kestra/core/models/executions/ExecutionKilledExecution.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/test/java/io/kestra/core/runners/ExecutionServiceTest.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

fix(core): filter the inputs with no id field to prevent breaking of panel (#8944)
  ui/package-lock.json
  ui/package.json
  ui/src/components/flows/MetadataInputsContent.vue
Due: none

fix(core): prevent multiple tabs for adding tasks to create duplicate entries (#8916)
  ui/src/components/code/segments/Task.vue
  ui/src/stores/flow.js
Due: none

fix(build): exclude jmh-benchmark module
  build.gradle
Due: none

fix(filters): change label filtering to 'and' instead of 'or' (#8661)
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionRepositoryTest.java
  jdbc-h2/src/main/java/io/kestra/repository/h2/H2ExecutionRepositoryService.java
  jdbc-mysql/src/main/java/io/kestra/repository/mysql/MysqlExecutionRepositoryService.java
  jdbc-postgres/src/main/java/io/kestra/repository/postgres/PostgresExecutionRepositoryService.java
Due: Core, Jdbc H2, Jdbc Mysql, Jdbc Postgres

fix(system): rename flyway migrations
  jdbc-h2/src/main/resources/migrations/h2/V1_33__queues_index_on_key.sql
  jdbc-h2/src/main/resources/migrations/h2/V1_39__flow_interface.sql
  jdbc-mysql/src/main/resources/migrations/mysql/V1_32__queues_index_on_key.sql
  jdbc-mysql/src/main/resources/migrations/mysql/V1_38__flow_interface.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_32__queues_index_on_key.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_38__flow_interface.sql
Due: Jdbc H2, Jdbc Mysql, Jdbc Postgres

feat(core): save individual namespace files from multi panel editor (#8930)
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/KeyShortcuts.vue
  ui/src/stores/flow.js
Due: none

fix(core): amend autocompletion in multi panel yaml flow editor (#8956)
  ui/src/components/flows/panelDefinition.ts
Due: none

feat(tests): add ERROR state and handling
  core/src/main/java/io/kestra/core/test/TestState.java
  core/src/main/java/io/kestra/core/test/TestSuiteRunResult.java
  core/src/main/java/io/kestra/core/test/flow/Assertion.java
  core/src/main/java/io/kestra/core/test/flow/AssertionRunError.java
  core/src/main/java/io/kestra/core/test/flow/UnitTestResult.java
  core/src/test/java/io/kestra/core/test/AssertionTest.java
Due: Core

feat(tests): add a contextual Test badge on Execution topbar
  ui/src/components/executions/ExecutionRootTopBar.vue
  ui/src/components/global/TestBadge.vue
  ui/src/translations/en.json
Due: none

fix(core): tenant migration scripts now update keys
  jdbc-h2/src/main/java/io/kestra/repository/h2/H2TenantMigration.java
  jdbc-mysql/src/main/java/io/kestra/repository/mysql/MysqlTenantMigration.java
  jdbc-postgres/src/main/java/io/kestra/repository/postgres/PostgresTenantMigration.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTenantMigration.java
Due: Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres

refactor(core): regroup Test and Beta badges with same component
  ui/src/components/global/Badge.vue
  ui/src/components/global/BetaBadge.vue
  ui/src/components/global/TestBadge.vue
Due: none

fix(flows): adjust plugin doc to match the specified plugin version
  ui/package-lock.json
  ui/package.json
  ui/src/stores/plugins.js
Due: none

feat(core): improve the ux of no code editor (#8955)
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/code/styles/code.scss
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskBoolean.vue
  ui/src/components/flows/tasks/TaskEnum.vue
  ui/src/components/flows/tasks/TaskLabelWithBoolean.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskString.vue
  ui/src/components/flows/tasks/TaskWrapper.vue
  ui/src/components/plugins/PluginSelect.vue
  ui/src/stores/plugins.js
Due: none

feat(ui): make trigger conditions in no-code a form (#8859)
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/code/NoCode.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/components/Breadcrumbs.vue
  ui/src/components/code/components/Save.vue
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/code/components/collapse/buttons/Creation.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/code/utils/types.ts
  ui/src/components/flows/FlowCreate.vue
  ui/src/components/flows/FlowEditor.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/tasks/Task.js
  ui/src/components/flows/tasks/TaskConditions.vue
  ui/src/components/flows/tasks/TaskNumber.vue
  ui/src/components/flows/useNoCodePanels.ts
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/components/plugins/PluginSelect.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/stores/flow.js
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
  ui/src/utils/constants.ts
  ui/src/utils/init.js
  ui/tests/storybook/components/code/segments/Editor.stories.jsx
Due: none

feat(plugins): add allowedResponseCodes on http tasks
  core/src/main/java/io/kestra/core/http/client/HttpClient.java
  core/src/main/java/io/kestra/core/http/client/apache/FailedResponseInterceptor.java
  core/src/main/java/io/kestra/core/http/client/configurations/HttpConfiguration.java
  core/src/test/java/io/kestra/core/http/client/HttpClientTest.java
Due: Core

feat(plugins): add plugins InfluxDB, Jenkins, Ollama, GraphQL
  .plugins
Due: none

refactor(core): simplify header badge component usage (#8963)
  ui/src/components/executions/ExecutionRootTopBar.vue
  ui/src/components/flows/FlowRootTopBar.vue
  ui/src/components/global/Badge.vue
  ui/src/components/global/BetaBadge.vue
  ui/src/components/global/TestBadge.vue
  ui/src/components/layout/TopNavBar.vue
Due: none

fix(cli): properly install all plugins depending on kestra distribution
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginInstallCommand.java
  core/src/main/java/io/kestra/core/contexts/KestraBeansFactory.java
  core/src/main/java/io/kestra/core/plugins/LocalPluginManager.java
  core/src/main/java/io/kestra/core/plugins/MavenPluginDownloader.java
  core/src/main/java/io/kestra/core/plugins/PluginCatalogService.java
Due: Cli, Core

feat(core): move complex task fields inline in no code editor (#8977)
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskComplex.vue
  ui/src/components/flows/tasks/TaskComplexContent.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskWrapper.vue
Due: none
