Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(core): truncate the overflowing text from button when zoomed #10775
  ui/src/components/executions/outputs/Wrapper.vue
  ui/src/styles/layout/element-plus-overload.scss
Due: none

fix(kv): Set task should convert numbers to string if kvType == STRING (#10836)
  core/src/main/java/io/kestra/plugin/core/kv/Set.java
  core/src/test/java/io/kestra/plugin/core/kv/SetTest.java
Due: Core

fix(ai): add instructions for AI Copilot configuration if not enabled yet (#10835)
  ui/package-lock.json
  ui/src/components/ai/AITriggerButton.vue
  ui/src/components/ai/AiAgent.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/styles/layout/root.scss
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
  ui/src/utils/markdown.ts
  ui/src/utils/markdownDeps.ts
Due: none

fix(ai): make sure accept / decline AI banner doesn't hide code editor (#10835)
  ui/src/components/inputs/EditorWrapper.vue
Due: none

fix(ai): AI Copilot instructions for better results (#10835)
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  webserver/src/main/java/io/kestra/webserver/services/ai/gemini/GeminiAiService.java
Due: Core

feat(system): report additional server events
  core/src/main/java/io/kestra/core/reporter/model/Count.java
  core/src/main/java/io/kestra/core/reporter/reports/FeatureUsageReport.java
  core/src/main/java/io/kestra/core/repositories/DashboardRepositoryInterface.java
  jdbc/src/main/java/io/kestra/jdbc/AbstractJdbcRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcDashboardRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
Due: Core, Jdbc

feat(flow): add support for optional flow outputs
  core/src/main/java/io/kestra/core/models/flows/Output.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/FlowInputOutput.java
  core/src/main/java/io/kestra/plugin/core/flow/ForEachItem.java
  core/src/main/java/io/kestra/plugin/core/flow/Subflow.java
  core/src/test/java/io/kestra/plugin/core/flow/FlowOutputTest.java
  core/src/test/resources/flows/valids/flow-with-optional-outputs.yml
Due: Core

fix(core): update params for flow navigation (#10847)
  ui/src/components/executions/ExecutionRoot.vue
Due: none

fix(tests): a TestSuite with any ERROR could not end in ERROR
  core/src/main/java/io/kestra/core/test/TestSuiteRunResult.java
  core/src/test/java/io/kestra/core/test/TestSuiteRunResultTest.java
Due: Core

feat(flows): add pebble expression support for all input defaults (#9762)
  core/src/main/java/io/kestra/core/models/flows/Input.java
  core/src/main/java/io/kestra/core/models/flows/input/InputAndValue.java
  core/src/main/java/io/kestra/core/models/property/Property.java
  core/src/main/java/io/kestra/core/models/property/PropertyContext.java
  core/src/main/java/io/kestra/core/runners/FlowInputOutput.java
  core/src/main/java/io/kestra/core/runners/RunContext.java
  core/src/main/java/io/kestra/core/runners/RunContextFactory.java
  core/src/main/java/io/kestra/core/runners/RunVariables.java
  core/src/main/java/io/kestra/core/validations/validator/FileInputValidator.java
  core/src/test/java/io/kestra/core/runners/FlowInputOutputTest.java
  core/src/test/java/io/kestra/core/runners/RunContextTest.java
  core/src/test/java/io/kestra/core/runners/RunVariablesTest.java
  core/src/test/java/io/kestra/core/schedulers/AbstractSchedulerTest.java
  core/src/test/java/io/kestra/core/validations/InputTest.java
  core/src/test/java/io/kestra/plugin/core/trigger/ScheduleOnDatesTest.java
  core/src/test/java/io/kestra/plugin/core/trigger/ScheduleTest.java
  ui/src/components/inputs/InputsForm.vue
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: Core

fix: #4442 extract tenant id from file path (#10850)
  cli/src/main/java/io/kestra/cli/services/FileChangedEventListener.java
  cli/src/test/java/io/kestra/cli/services/FileChangedEventListenerTest.java
Due: Cli

fix(core): Choose File button and hover on btn text in light theme (#10857)
  ui/src/styles/layout/element-plus-overload.scss
Due: none

fix(flows): in no-code refreshing a message will update its value (#10851)
  ui/src/components/flows/tasks/TaskAnyOf.vue
Due: none

fix(core): when refreshing a multipanel editor, sizes are not kept (#10858)
  ui/src/components/MultiPanelTabs.vue
Due: none

chore(versions) : bump the ui-libs (#10862)
  ui/package-lock.json
  ui/package.json
Due: none

fix(flows): fixes revision restore for a flow (#10841)
  ui/src/components/flows/FlowRevisions.vue
Due: none

fix(tests): flaky consumer test (#10853)
  script/src/test/java/io/kestra/plugin/scripts/runners/LogConsumerTest.java
Due: Script

ci: simplify docker ci and push minor semver (#10848)
  .github/workflows/docker.yml
  .github/workflows/main.yml
  .github/workflows/workflow-publish-docker.yml
  .github/workflows/workflow-release.yml
Due: none

ci: fix by making inputs accept both dispatch and callable
  .github/workflows/main.yml
  .github/workflows/workflow-release.yml
Due: none

fix(core): add missing equals/hashcode methods on UnitTest
  core/src/main/java/io/kestra/core/test/flow/UnitTest.java
Due: Core

fix(system): fix count in AbstractJdbcRepository
  jdbc/src/main/java/io/kestra/jdbc/AbstractJdbcRepository.java
Due: Jdbc

docs: add agents guidelines (#10875)
  AGENTS.md
Due: none

fix: do no trim `.` in file path when it starts with one when creating namespace file (#10876)
  core/src/main/java/io/kestra/core/storages/NamespaceFile.java
Due: Core

feat: add action to merge release note between OSS and EE (#10882)
  .github/workflows/workflow-github-release.yml
Due: none

fix(core): scope the styling to fix overflow of trigger render. (#10880)
  ui/src/components/executions/TriggerCascader.vue
  ui/src/components/executions/outputs/Wrapper.vue
Due: none

fix(core): show the proper origin in webhook curl command (#10878)
  ui/src/components/flows/WebhookCurl.vue
  ui/src/override/utils/route.ts
Due: none

chore(core): prevent running the invalid flow in playground (#10869)
  ui/src/stores/playground.ts
Due: none

chore(flows): load dependencies only once (#10782)
  ui/src/components/flows/FlowRoot.vue
Due: none

fix(core): show the logs for the task from topology graph. (#10890)
  ui/src/components/inputs/LowCodeEditor.vue
Due: none

fix(core): return URI as string (#10892)
  core/src/main/java/io/kestra/core/runners/FlowInputOutput.java
Due: Core

fix(logs): emitAsync is now keeping messages order
  core/src/main/java/io/kestra/core/queues/QueueInterface.java
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/services/PluginDefaultService.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Core, Jdbc

fix(logs): higher max message length to keep stacktraces in a single log
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
  core/src/test/java/io/kestra/core/runners/RunContextTest.java
Due: Core

chore(deps): bump Micronaut platform to 4.9.2
  core/src/main/java/io/micronaut/retry/intercept/OverrideRetryInterceptor.java
  platform/build.gradle
Due: Core, Platform

chore(core): make playground feature enabled by default (#10891)
  ui/src/components/inputs/EditorButtonsWrapper.vue
  ui/src/components/settings/BasicSettings.vue
Due: none

chore(core): added closing button for horizontal panel in playground (#10777)
  ui/src/components/flows/FlowPlayground.vue
  ui/src/components/inputs/FlowPlaygroundToggle.vue
  ui/src/translations/en.json
Due: none

fix: allow to enforce editor view when list is unreadable, also truncate too long column (#10885)
  ui/src/components/ListPreview.vue
  ui/src/components/executions/FilePreview.vue
  ui/src/translations/en.json
Due: none

fix(ui): bring better small chart and tooltip. (#10839)
  ui/src/components/dashboard/sections/Bar.vue
  ui/src/components/dashboard/sections/TimeSeries.vue
  ui/src/components/flows/Flows.vue
  ui/src/styles/layout/element-plus-overload.scss
Due: none

refactor(flows): generalize no code editor (#10873)
  ui/src/components/code/NoCode.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/code/utils/useFlowFields.ts
  ui/src/components/code/utils/useKeyboardSave.ts
  ui/src/components/flows/MultiPanelFlowEditorView.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/noCodeTypes.ts
  ui/src/components/flows/tasks/TaskArray.vue
  ui/src/components/flows/tasks/TaskConstant.vue
  ui/src/components/flows/tasks/TaskList.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskTask.vue
  ui/src/components/flows/tasks/TaskTasks.vue
  ui/src/components/flows/tasks/getTaskComponent.ts
  ui/src/components/flows/useNoCodePanels.ts
  ui/src/components/plugins/PluginSelect.vue
  ui/src/composables/useRouteContext.ts
  ui/src/override/components/flows/panelDefinition.ts
  ui/src/utils/utils.ts
  ui/tests/storybook/components/code/NoCode.stories.jsx
  ui/tests/storybook/components/code/segments/Editor.stories.jsx
Due: none

fix(core): do not overflow the version selection on release notes (#10903)
  ui/src/components/plugins/Plugin.vue
Due: none

chore(executions): add parent execution link to execution overview page (#10810)
  ui/src/components/executions/Overview.vue
Due: none
