Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(system): avoid catching JVM fatal error on Worker
  core/src/main/java/io/kestra/core/runners/AbstractWorkerCallable.java
  core/src/main/java/io/kestra/core/utils/Exceptions.java
Due: Core

fix(core): allow scalar-to-string concatenation in typed task property
  core/src/main/java/io/kestra/core/runners/pebble/TypedObjectWriter.java
  core/src/test/java/io/kestra/core/runners/VariableRendererTest.java
  core/src/test/java/io/kestra/core/runners/pebble/TypedObjectWriterTest.java
Due: Core

fix(ui): nocode save /close button is now smaller (#8713)
  ui/src/components/code/components/Save.vue
Due: none

feat(system): add metrics for Worker Job resubmission
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

feat(plugins)!: kill the Docker container on kill
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
Due: Script

docs(http): update SSL options property with note
  core/src/main/java/io/kestra/plugin/core/http/HttpInterface.java
Due: Core

docs(docker): update title and description of docker kill grace period property (#8733)
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
Due: Script

fix(plugins)*: don't cache the `condition` property inside the If task
  core/src/main/java/io/kestra/plugin/core/flow/If.java
  core/src/test/java/io/kestra/plugin/core/flow/IfTest.java
  core/src/test/resources/flows/valids/if-in-parallel.yaml
Due: Core

feat(ui): treat the pluginsdefaults as a section (#8731)
  ui/eslint.config.js
  ui/package-lock.json
  ui/package.json
  ui/src/components/code/NoCode.vue
  ui/src/components/code/components/Save.vue
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/code/utils/types.ts
  ui/src/components/flows/MetadataEditor.vue
  ui/src/components/flows/MetadataInputsContent.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/tasks/TaskDict.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskRoot.vue
  ui/src/components/flows/useNoCodePanels.ts
  ui/src/components/inputs/EditorButtonsWrapper.vue
  ui/src/components/plugins/PluginSelect.vue
  ui/src/translations/en.json
  ui/src/utils/constants.ts
  ui/tests/storybook/components/code/segments/Editor.stories.jsx
Due: none

fix(core): some logs can emits null message
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
Due: Core

chore(flows): remove unnecessary section about keyboard shortcuts from flow basic documentation (#8745)
  ui/src/assets/docs/basic.md
Due: none

fix(ui): legacy editor iew no-code does not need creatintask flag (#8742)
  ui/src/components/inputs/EditorView.vue
Due: none

fix(namespaces): use the right route param to get namespace files (#8747)
  ui/src/components/inputs/EditorSidebar.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/stores/editor.js
  ui/src/stores/flow.js
  ui/src/stores/namespaces.js
Due: none

fix(core): showing properties of any-of tasks (#8748)
  ui/src/components/flows/tasks/AnyOfContent.vue
Due: none

chore(core): properly handle topology action clicks while using multi panel editor (#8705)
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/code/NoCode.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/utils/types.ts
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/flows/useCodeTopology.ts
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/components/inputs/LowCodeEditorWrapper.vue
  ui/src/components/inputs/MonacoEditor.vue
Due: none

tests(executions): remove flakiness on some tests around sleep
  core/src/test/resources/flows/valids/sleep.yml
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

fix(executions): avoid to stop following execution too early leading to UI display shifting from actual state (#8718)
  webserver/src/main/java/io/kestra/webserver/services/ExecutionStreamingService.java
Due: none

feat(system): add TestSuite run and assertions
  core/src/main/java/io/kestra/core/test/TestState.java
  core/src/main/java/io/kestra/core/test/TestSuiteRunResult.java
  core/src/main/java/io/kestra/core/test/flow/Assertion.java
  core/src/main/java/io/kestra/core/test/flow/AssertionResult.java
  core/src/main/java/io/kestra/core/test/flow/UnitTestResult.java
  core/src/test/java/io/kestra/core/test/AssertionTest.java
  ui/src/components/layout/SelectTable.vue
Due: Core

feat(system): use the FlowMetaStore instead of the FlowRepository inside the Executor
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

feat(core): replace task array option selection design (#8699)
  ui/src/components/flows/tasks/AnyOfContent.vue
Due: none

chore(plugins): hide deprecated plugins from plugin select options (#8744)
  ui/src/components/plugins/PluginSelect.vue
Due: none

refactor(core): remove obsolete node script (#8773)
  ui/scripts/ci/generateReleaseNotes.js
Due: none

chore(deps): regular dependency update (#8774)
  ui/package-lock.json
  ui/package.json
Due: none

fix(core): make no code breadcrumb clickable only in legacy mode (#8776)
  ui/src/components/code/components/Breadcrumbs.vue
Due: none

fix: allow retry edition in no-code (#8770)
  ui/src/components/code/components/Save.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/flows/tasks/AnyOfContent.vue
  ui/src/components/flows/tasks/TaskArray.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskTasks.vue
Due: none

fix(core): check for schema existence on no code input editing (#8775)
  ui/src/components/flows/MetadataInputsContent.vue
  ui/src/components/flows/tasks/TaskObject.vue
Due: none

fix(filters): allows to filter using `is not` for relative date filter (#8659)
  webserver/src/main/java/io/kestra/webserver/utils/QueryFilterUtils.java
Due: none

fix(tests): assertions with numbers
  core/src/main/java/io/kestra/core/test/flow/Assertion.java
Due: Core

feat(tests): rename testsuite to tests in UI,API
  ui/src/translations/en.json
Due: none

refactor(deps): revert monaco-yaml upgrade due to patch on previous version (#8791)
  ui/package-lock.json
  ui/package.json
Due: none

feat(core): Embed videos directly on EE-feature teasers. (#8790)
  ui/src/components/demo/Apps.vue
  ui/src/components/demo/AuditLogs.vue
  ui/src/components/demo/Blueprints.vue
  ui/src/components/demo/DemoButtons.vue
  ui/src/components/demo/IAM.vue
  ui/src/components/demo/Instance.vue
  ui/src/components/demo/Layout.vue
  ui/src/components/demo/Namespace.vue
  ui/src/components/demo/Tenants.vue
  ui/src/components/secrets/Secrets.vue
Due: none

fix(core): flaky test ExecutionServiceTest.replayEachSeq or replayEachSeq2
  core/src/test/java/io/kestra/core/runners/ExecutionServiceTest.java
Due: Core

feat(plugins): add InfluxDB, GraphQL plugins
  .plugins
Due: none

refactor(deps): revert monaco-yaml upgrade due to patch on previous version (#8797)
  ui/package-lock.json
  ui/package.json
Due: none

chore(system): mask Caffeine metrics log
  core/src/main/java/io/kestra/core/log/KestraLogFilter.java
Due: Core

chore(system): improve performance of IdUtils.fromParts()
  core/src/main/java/io/kestra/core/utils/IdUtils.java
Due: Core

test(server): fix time range unit test (#8802)
  webserver/src/test/java/io/kestra/webserver/utils/TimeLineSearchTest.java
Due: none

fix(plugins): properly handle POSIX permissions for Docker task runner
  core/src/main/java/io/kestra/core/utils/UnixModeToPosixFilePermissions.java
  core/src/test/java/io/kestra/core/utils/UnixModeToPosixFilePermissionsTest.java
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
Due: Core, Script

chore: the code is now in ui-libs delete the duplicate yaml-utils test (#8799)
  ui/tests/unit/utils/flowUtils.spec.js
  ui/tests/unit/utils/yamlUtils.spec.ts
Due: none

fix(system)*: reset the trigger into the KafkaScheduler instead of the ExecutorMain
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core
