Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

fix(core): remove tutorial flows from anonymous report
  core/src/main/java/io/kestra/core/models/collectors/FlowUsage.java
Due: Core

feat(system): add uv to kestra docker image
  Dockerfile
Due: none

chore(deps): regular dependency update (#8599)
  ui/package-lock.json
  ui/package.json
Due: none

feat(executions): use schedule set input values for backfills (#7913)
  ui/src/components/flows/FlowRun.vue
  ui/src/components/flows/FlowTriggers.vue
  ui/src/components/inputs/InputsForm.vue
Due: none

fix(core): Doc search is more relevant (#8601)
  ui/src/components/docs/ContextDocsSearch.vue
  ui/src/components/docs/Toc.vue
  ui/src/stores/doc.js
Due: none

fix(executions): amend storybook tests for inputs form (#8608)
  ui/src/components/inputs/InputsForm.vue
Due: none

feat(iam): introduce user menu into left sidebar (#8602)
  ui/src/assets/ks-logo-small.svg
  ui/src/components/layout/SideBar.vue
  ui/src/components/layout/TopNavBar.vue
  ui/src/override/components/LeftMenu.vue
  ui/src/override/components/auth/Auth.vue
  ui/src/override/components/useLeftMenu.ts
  ui/src/translations/en.json
Due: none

fix(dashboards)*: SQL errors on logs data chart
  jdbc-postgres/src/main/java/io/kestra/repository/postgres/PostgresLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcDashboardRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/services/JdbcFilterService.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/DashboardControllerTest.java
Due: Jdbc, Jdbc Postgres

fix(flows): fix regression on flow validation (#8600)
  core/src/main/java/io/kestra/core/models/validations/ValidateConstraintViolation.java
  core/src/main/java/io/kestra/core/services/FlowService.java
  core/src/main/java/io/kestra/core/services/PluginDefaultService.java
  core/src/test/java/io/kestra/core/services/FlowServiceTest.java
Due: Core

feat: allow multiple nocode (#8532)
  ui/eslint.config.js
  ui/package-lock.json
  ui/package.json
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/code/NoCode.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/components/Breadcrumbs.vue
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/code/components/collapse/buttons/Creation.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/code/utils/types.ts
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/flows/MetadataInputs.vue
  ui/src/components/flows/MetadataInputsContent.vue
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/panelDefinition.ts
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskComplex.vue
  ui/src/components/flows/tasks/TaskTasks.vue
  ui/src/components/flows/useCodePanels.ts
  ui/src/components/flows/useNoCodePanels.ts
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/stores/code.ts
  ui/src/stores/flow.js
  ui/src/stores/store.js
  ui/src/translations/en.json
  ui/src/utils/scheme.js
  ui/tests/storybook/components/code/segments/Editor.stories.jsx
Due: none

fix(naming): name action file in the same way as name to avoid double display and confusion (#8634)
  .github/workflows/auto-translate-ui-keys.yml
Due: none

fix(ui): conditionally render icon based on save mode (#8636)
  ui/src/components/code/components/Save.vue
Due: none

fix(core): amend the problem with translation key (#3577) (#8638)
  ui/src/components/inputs/InputsForm.vue
  ui/src/translations/en.json
Due: none

fix(core): introduce back the proper translation key (#8639)
  ui/src/components/inputs/InputsForm.vue
  ui/src/translations/en.json
Due: none

feat(jdbc): Improve JDBC queue poll duration selection
  cli/src/main/resources/application.yml
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcQueueConfigurationTest.java
Due: Cli, Jdbc

fix(editor): check isFlow when displaying NoCode in legacy editor (#8645)
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/inputs/EditorView.vue
Due: none

docs(http): add mention to check for plugins before using HTTP
  core/src/main/java/io/kestra/plugin/core/http/Request.java
Due: Core

fix(flows): ForEach concurrency should not be over the number of values
  core/src/main/java/io/kestra/core/runners/FlowableUtils.java
Due: Core

chore(core): update keyboard shortcut for triggering the autocompletion (#8618)
  ui/src/components/inputs/KeyShortcuts.vue
Due: none

fix(system): subflow validation can fail when typing
  core/src/main/java/io/kestra/core/services/FlowService.java
Due: Core

feat(system): add metrics to the executor
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

feat(core): enable filter refresh interval to be changed in settings (#8522)
  ui/src/components/layout/RefreshButton.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/translations/en.json
  ui/src/utils/constants.ts
Due: none

feat(ui): add version property to Frontend API call (#8650)
  ui/src/mixins/flowTemplateEdit.js
Due: none

fix(tests): flaky test ExecutionServiceTest.deleteExecutionKeepLogs()
  core/src/test/java/io/kestra/core/runners/ExecutionServiceTest.java
Due: Core

feat(system): purge empty service instances
  cli/src/main/resources/application.yml
  core/src/main/java/io/kestra/core/repositories/ServiceInstanceRepositoryInterface.java
  jdbc-h2/src/test/resources/application-test.yml
  jdbc-mysql/src/test/resources/application-test.yml
  jdbc-postgres/src/test/resources/application-test.yml
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcServiceInstanceRepository.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcServiceLivenessCoordinator.java
  jdbc/src/test/java/io/kestra/jdbc/repository/AbstractJdbcServiceInstanceRepositoryTest.java
  webserver/src/test/resources/application-test.yml
Due: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres

chore(core): retry flaky test triggerPaused()
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
Due: Core

feat(system): add NoopCache
  core/build.gradle
  core/src/main/java/io/kestra/core/cache/NoopCache.java
  core/src/test/java/io/kestra/core/cache/NoopCacheTest.java
Due: Core

chore(triggers): swap the backfill button on triggers page with the one form flow triggers (#8624)
  ui/src/components/admin/Triggers.vue
Due: none

fix(filters): use correct key for timeRange when using multiple filters (#8657)
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/utils/helpers.ts
Due: none

chore(deps): regular dependency update (#8687)
  ui/package-lock.json
  ui/package.json
Due: none

chore(build): gradle runStandalone
  build.gradle
Due: none

feat(flows)!: evaluate flow trigger on PAUSED by default
  core/src/main/java/io/kestra/plugin/core/trigger/Flow.java
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/MultipleConditionTriggerCaseTest.java
  core/src/test/resources/flows/valids/flow-trigger-paused-flow.yaml
  core/src/test/resources/flows/valids/flow-trigger-paused-listen.yaml
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Core

chore(system): prepare TestSuite ui
  core/src/main/java/io/kestra/core/docs/SchemaType.java
  core/src/main/java/io/kestra/core/test/TestSuite.java
  ui/src/translations/en.json
Due: Core

chore(system): rename FlowExecutorInterface to FlowMetaStoreInterface
  core/src/main/java/io/kestra/core/models/hierarchies/SubflowGraphTask.java
  core/src/main/java/io/kestra/core/models/tasks/ExecutableTask.java
  core/src/main/java/io/kestra/core/runners/DefaultFlowMetaStore.java
  core/src/main/java/io/kestra/core/runners/ExecutableUtils.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/FlowMetaStoreInterface.java
  core/src/main/java/io/kestra/plugin/core/execution/Resume.java
  core/src/main/java/io/kestra/plugin/core/flow/ForEachItem.java
  core/src/main/java/io/kestra/plugin/core/flow/Subflow.java
  core/src/main/java/io/kestra/plugin/core/trigger/Toggle.java
Due: Core

feat(system): send task and trigger usage metrics
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  core/src/main/java/io/kestra/core/models/collectors/PluginMetric.java
  core/src/main/java/io/kestra/core/models/collectors/Usage.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/services/CollectorService.java
  core/src/test/java/io/kestra/core/services/CollectorServiceTest.java
  core/src/test/resources/application-test.yml
Due: Core

fix(core): flaky test RunContextLoggerText.logs()
  core/src/test/java/io/kestra/core/runners/RunContextLoggerTest.java
  tests/src/main/java/io/kestra/core/utils/TestsUtils.java
Due: Core

chore(flows): make flow validation a bit less aggressive (#8700)
  ui/src/components/inputs/EditorWrapper.vue
Due: none

fix(namespaces)*: send proper parameter for namespace on file creation/update (#8706)
  ui/src/components/inputs/EditorSidebar.vue
Due: none

fix: make settings menu proper links (#8710)
  ui/src/override/components/auth/Auth.vue
Due: none

fix(ui): update breadcrumb click behavior in legacy (#8709)
  ui/src/components/code/NoCode.vue
  ui/src/components/code/components/Breadcrumbs.vue
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
