Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(ui)!: prevent infinite loading loop in Namespace KV Store & Secrets pages if there is none
  ui/src/components/kv/KVTable.vue
  ui/src/components/secrets/SecretsTable.vue
Due: none

feat(jdbc-h2,jdbc-mysql,jdbc-postgres): add an index on queues.key
  jdbc-h2/src/main/resources/migrations/h2/V1_33__queues_index_on_key.sql
  jdbc-mysql/src/main/resources/migrations/mysql/V1_32__queues_index_on_key.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_32__queues_index_on_key.sql
Due: Jdbc H2, Jdbc Mysql, Jdbc Postgres

fix(core): fix NPE when generating flow graph
  core/src/main/java/io/kestra/core/utils/GraphUtils.java
Due: Core

fix(docs): remove note about Podman rootless (#8259)
  docker-compose.yml
Due: none

chore(deps): Upgrade Guava to 33.4.5-jre (#8005)
  platform/build.gradle
Due: Platform

chore: use @Nullable from Jakarata annotations
  cli/src/main/java/io/kestra/cli/services/FileChangedEventListener.java
  core/src/main/java/io/kestra/core/models/tasks/runners/ScriptService.java
  core/src/main/java/io/kestra/core/models/tasks/runners/TaskRunnerResult.java
  core/src/main/java/io/kestra/core/storages/StorageInterface.java
  core/src/main/java/io/kestra/core/trace/propagation/ExecutionTextMapGetter.java
  core/src/main/java/io/kestra/core/trace/propagation/ExecutionTextMapSetter.java
  core/src/main/java/io/kestra/core/trace/propagation/RunContextTextMapGetter.java
  core/src/main/java/io/kestra/core/trace/propagation/RunContextTextMapSetter.java
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/DockerService.java
  storage-local/src/main/java/io/kestra/storage/local/LocalStorage.java
  webserver/src/main/java/io/kestra/webserver/services/BasicAuthService.java
Due: Cli, Core, Script, Storage Local

fix: correct version migration for H2 sql file
  jdbc-h2/src/main/resources/migrations/h2/V1_34__queues_index_on_key.sql
Due: Jdbc H2

fix(jdbc): conflict on migration numbers
  jdbc-mysql/src/main/resources/migrations/mysql/V1_33__queues_index_on_key.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_33__queues_index_on_key.sql
Due: Jdbc Mysql, Jdbc Postgres

fix(core): duration defaults are rendered as duration string instead of timestamp
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
Due: Core

feat(ui): ability to hide secret value when typing in secrets
  ui/src/assets/fonts/obscure.woff2
  ui/src/components/secrets/MultilineSecret.vue
  ui/src/components/secrets/SecretsTable.vue
Due: none

refactor(ui): uniform the namespace components for `oss` and `ee` versions (#8256)
  ui/src/components/Tabs.vue
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/flows/FlowsSearch.vue
  ui/src/components/flows/tasks/TaskSubflowNamespace.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/kv/KVTable.vue
  ui/src/components/layout/TopNavBar.vue
  ui/src/components/namespace/Executions.vue
  ui/src/components/namespace/Flows.vue
  ui/src/components/namespace/Namespace.vue
  ui/src/components/namespace/NamespaceDependencies.vue
  ui/src/components/namespace/NamespaceDependenciesWrapper.vue
  ui/src/components/namespace/NamespaceKV.vue
  ui/src/components/namespace/Namespaces.vue
  ui/src/components/namespace/Overview.vue
  ui/src/components/namespaces/Namespace.vue
  ui/src/components/namespaces/Namespaces.vue
  ui/src/components/namespaces/components/NamespaceSelect.vue
  ui/src/components/namespaces/components/buttons/Action.vue
  ui/src/components/namespaces/components/content/Dependencies.vue
  ui/src/components/namespaces/utils/useHelpers.ts
  ui/src/components/secrets/SecretsTable.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/components/templates/Templates.vue
  ui/src/override/components/namespaces/Actions.vue
  ui/src/override/components/namespaces/useTabs.ts
  ui/src/override/components/useLeftMenu.ts
  ui/src/routes/routes.js
  ui/src/stores/namespaces.js
Due: none

feat: Deprecated BOOLEAN input for new BOOL input with no undefined state (#8257)
  core/src/main/java/io/kestra/core/models/flows/Input.java
  core/src/main/java/io/kestra/core/models/flows/Type.java
  core/src/main/java/io/kestra/core/models/flows/input/BoolInput.java
  core/src/main/java/io/kestra/core/runners/FlowInputOutput.java
  core/src/main/java/io/kestra/plugin/core/trigger/Toggle.java
  core/src/test/resources/flows/valids/finally-allowfailure.yaml
  core/src/test/resources/flows/valids/finally-dag.yaml
  core/src/test/resources/flows/valids/finally-eachparallel.yaml
  core/src/test/resources/flows/valids/finally-flow-error.yaml
  core/src/test/resources/flows/valids/finally-flow.yaml
  core/src/test/resources/flows/valids/finally-foreach.yaml
  core/src/test/resources/flows/valids/finally-parallel.yaml
  core/src/test/resources/flows/valids/finally-sequential-error.yaml
  core/src/test/resources/flows/valids/finally-sequential.yaml
  core/src/test/resources/flows/valids/if.yaml
  core/src/test/resources/flows/valids/inputs.yaml
  core/src/test/resources/flows/valids/kv.yaml
  core/src/test/resources/flows/valids/primitive-labels-flow.yml
  ui/src/assets/docs/basic.md
  ui/src/components/inputs/InputsForm.vue
  ui/src/utils/inputs.js
  webserver/src/test/java/io/kestra/webserver/controllers/api/PluginControllerTest.java
Due: Core

chore(ui): amend the sizing of editor panels (#8277)
  ui/src/components/Tabs.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/inputs/EditorSidebar.vue
Due: none

chore(ui): pass prop to maximize the height of namespace file editor (#8278)
  ui/src/components/namespaces/utils/useHelpers.ts
Due: none

fix(ui): amend namespace files creation & editing problems (#8279)
  ui/src/components/inputs/EditorButtons.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/stores/flow.js
Due: none

fix: repair docs home page
  ui/src/components/content/BigChildCards.vue
  ui/src/components/content/HomePageButtons.vue
  ui/src/components/content/HomePageHeader.vue
  ui/src/components/content/SupportLinks.vue
  ui/src/components/content/WhatsNew.vue
Due: none

fix(ui): allow tab button to take effect while using editor
  ui/src/components/inputs/Editor.vue
Due: none

fix: remove props warning in flow editor
  ui/src/components/Tabs.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/namespaces/utils/useHelpers.ts
Due: none

chore: remove console.log drop
  ui/src/components/MultiPanelTabs.vue
Due: none

fix: remove the big plus when dragging
  ui/src/components/MultiPanelTabs.vue
Due: none

chore(deps): regular dependency update (#8310)
  ui/package-lock.json
  ui/package.json
Due: none

fix(docs): add titles and examples to Dashboard chart types (#8233)
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Bar.java
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Markdown.java
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Pie.java
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Table.java
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/TimeSeries.java
Due: Core

chore(ui): remove reorder buttons when there's only one value in no code arrays (#8266)
  ui/src/components/flows/tasks/TaskArray.vue
Due: none

ci: remove some odd arguments to frontend checkout
  .github/workflows/workflow-frontend-test.yml
Due: none

fix: [#8282] - Fixed issue with Devcontainer not running on arm64 architecture (#8285)
  .devcontainer/Dockerfile
Due: none

chore(ui): amend scrollbar issue on the no code editor fields (#8216)
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/styles/code.scss
Due: none

tests: fix storybook multipanel test
  ui/src/components/MultiPanelTabs.vue
  ui/tests/storybook/components/MultiPanelTabs.stories.tsx
Due: none

chore(ui): improve the filter label colors on hover (#8141)
  ui/src/components/filter/components/Label.vue
  ui/src/components/filter/styles/filter.scss
Due: none

chore(ui): Add a trigger from Triggers tab (#7754)
  ui/src/components/flows/FlowTriggers.vue
Due: none

feat(cli,core)!: change KESTRA_ env prefix by ENV_
  build.gradle
  cli/src/main/resources/application.yml
  core/src/main/java/io/kestra/core/runners/RunContextCache.java
  core/src/test/java/io/kestra/plugin/core/flow/VariablesTest.java
Due: Cli, Core

doc(Devcontainer): link instructions to contributing guide
  .github/CONTRIBUTING.md
Due: none

fix(ui): make sure that dropping tab places it into right place (#8315)
  ui/src/components/MultiPanelTabs.vue
  ui/tests/storybook/components/MultiPanelTabs.stories.tsx
Due: none

fix(sanitycheck): update flows id and namespace
  core/src/test/resources/sanity-checks/all_core.yaml
  core/src/test/resources/sanity-checks/allow_failure.yaml
  core/src/test/resources/sanity-checks/dag.yaml
  core/src/test/resources/sanity-checks/fail.yaml
  core/src/test/resources/sanity-checks/fetch.yaml
  core/src/test/resources/sanity-checks/for_each.yaml
  core/src/test/resources/sanity-checks/if.yaml
  core/src/test/resources/sanity-checks/kv.yaml
  core/src/test/resources/sanity-checks/labels.yaml
  core/src/test/resources/sanity-checks/log.yaml
  core/src/test/resources/sanity-checks/namespace_files.yaml
  core/src/test/resources/sanity-checks/parallel.yaml
  core/src/test/resources/sanity-checks/pause.yaml
  core/src/test/resources/sanity-checks/purge_current_execution_files.yaml
  core/src/test/resources/sanity-checks/return.yaml
  core/src/test/resources/sanity-checks/sequential.yaml
  core/src/test/resources/sanity-checks/sleep.yaml
  core/src/test/resources/sanity-checks/switch.yaml
  core/src/test/resources/sanity-checks/write.yaml
Due: Core

doc(Core): task example indentation error
  core/src/main/java/io/kestra/plugin/core/execution/Fail.java
Due: Core

feat(makefile): add pull-plugin script and fixe clone-plugin script (#8283)
  Makefile
Due: none

chore(deps): upgrade micronaut-platform to 4.8.0 (#8232)
  cli/build.gradle
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerPollingTriggerTest.java
  platform/build.gradle
  script/build.gradle
  webserver/build.gradle
Due: Cli, Core, Platform, Script

feat(#233)!: remove warningOnError behavior (#8321)
  core/src/main/java/io/kestra/plugin/core/flow/WorkingDirectory.java
  core/src/main/java/io/kestra/plugin/core/storage/LocalFiles.java
  script/src/main/java/io/kestra/plugin/scripts/exec/AbstractExecScript.java
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/models/ScriptOutput.java
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/runners/CommandsWrapper.java
Due: Core, Script

fix: add missing indices for service instance table
  jdbc-h2/src/main/resources/migrations/h2/V1_35__service_instance_indices.sql
  jdbc-mysql/src/main/resources/migrations/mysql/V1_34__service_instance_indices.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_34__service_instance_indices.sql
Due: Jdbc H2, Jdbc Mysql, Jdbc Postgres
