Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

refactor(core): migrates core.js to pinia (#9858)
  ui/src/App.vue
  ui/src/components/dashboard/components/Create.vue
  ui/src/components/errors/Errors.vue
  ui/src/components/executions/ExecutionRoot.vue
  ui/src/components/executions/TaskRunLine.vue
  ui/src/components/flows/FlowCreate.vue
  ui/src/components/flows/FlowDependencies.vue
  ui/src/components/flows/FlowEdit.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/flows/FlowRun.vue
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/flows/NoExecutions.vue
  ui/src/components/flows/TriggerFlow.vue
  ui/src/components/flows/tasks/TaskSubflowInputs.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/components/layout/OnlyLeftMenuLayout.vue
  ui/src/components/layout/TopNavBar.vue
  ui/src/components/logs/TaskRunDetails.vue
  ui/src/components/onboarding/VueTour.vue
  ui/src/components/onboarding/Welcome.vue
  ui/src/components/onboarding/execution/OverviewBottom.vue
  ui/src/components/templates/TemplateEdit.vue
  ui/src/mixins/flowTemplateEdit.js
  ui/src/override/components/OnboardingBottom.vue
  ui/src/override/components/dashboard/Edit.vue
  ui/src/override/components/flows/Actions.vue
  ui/src/override/components/flows/blueprints/BlueprintsBrowser.vue
  ui/src/override/components/layout/DefaultLayout.vue
  ui/src/stores/core.js
  ui/src/stores/core.ts
  ui/src/stores/flow.js
  ui/src/stores/store.js
  ui/src/stores/template.js
  ui/src/utils/axios.ts
  ui/src/utils/unsavedChange.js
  ui/src/vuex-shims.d.ts
Due: none

fix(flows): open subtask from topology (#9804)
  ui/src/components/code/NoCode.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/segments/Task.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/useNoCodePanels.ts
  ui/src/components/flows/useTopologyPanels.ts
Due: none

fix(tests): avoid wiremock port collision
  core/src/test/java/io/kestra/core/runners/pebble/functions/HttpFunctionTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/BlueprintControllerTest.java
  webserver/src/test/java/io/kestra/webserver/services/BasicAuthServiceTest.java
Due: Core

fix(flows): include flow count in export success message. (#9860)
  ui/src/components/flows/Flows.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/translations/en.json
Due: none

fix(core): typo
  core/src/main/java/io/kestra/core/runners/pebble/functions/HttpFunction.java
Due: Core

fix(ai): short-circuit cases where relevant plugin identifier fails to identify ones
  webserver/src/main/java/io/kestra/webserver/services/ai/gemini/GeminiAiService.java
Due: none

fix!: Remove stats controllers (#9861)
  core/src/main/java/io/kestra/core/repositories/ExecutionRepositoryInterface.java
  core/src/main/java/io/kestra/core/repositories/FlowRepositoryInterface.java
  core/src/main/java/io/kestra/core/repositories/LogRepositoryInterface.java
  core/src/main/java/io/kestra/core/repositories/TriggerRepositoryInterface.java
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractTriggerRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTriggerRepository.java
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/taskruns/TaskRuns.vue
  ui/src/stores/stat.ts
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/StatsController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/StatsControllerTest.java
Due: Core, Jdbc

fix(flows): Kill on cascade on SLA violation
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
Due: Core

feat(flows): allow expanding all flow dependencies at once
  ui/src/components/flows/FlowDependencies.vue
Due: none

feat(flows): allow expanding flow dependencies
  core/src/main/java/io/kestra/core/models/topologies/FlowNode.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Core

feat(triggers): add failOnTriggerError to create a failed execution on trigger error
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/models/triggers/AbstractTrigger.java
  core/src/main/java/io/kestra/core/models/triggers/TriggerService.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/runners/WorkerTriggerResult.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/test/java/io/kestra/core/runners/DeserializationIssuesCaseTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerPollingTriggerTest.java
  core/src/test/java/io/kestra/core/tasks/test/FailingPollingTrigger.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  webserver/src/main/java/io/kestra/webserver/services/ExecutionStreamingService.java
Due: Core, Jdbc

tests: run all tests (#9868)
  .github/workflows/auto-translate-ui-keys.yml
  .github/workflows/workflow-frontend-test.yml
  ui/eslint.config.js
  ui/package.json
  ui/src/translations/check.js
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
  ui/tests/unit/utils/translation.spec.js
  ui/vitest.config.js
  ui/vitest.config.unit.js
Due: none

fix(core): update some broken translations
  ui/src/translations/de.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(flows): make sure expression can accept null values (#9876)
  ui/src/components/flows/tasks/TaskExpression.vue
Due: none

fix(core): avoid crashing AI Agent when having multiple versions of same plugin
  webserver/src/main/java/io/kestra/webserver/services/ai/gemini/GeminiAiService.java
Due: none

feat(cicd): #4006 add javadoc and sources to cli release
  build.gradle
Due: none

fix(tests): move back wiremock port due to hardcoded in application.yml
  webserver/src/test/java/io/kestra/webserver/controllers/api/BlueprintControllerTest.java
  webserver/src/test/java/io/kestra/webserver/services/BasicAuthServiceTest.java
Due: none

refactor(dashboards): move the dashboard selector to proper place and clean up the code (#9883)
  ui/src/components/dashboard/components/selector/Item.vue
  ui/src/components/dashboard/components/selector/Selector.vue
  ui/src/components/dashboard/sections/Sections.vue
  ui/src/components/dashboard/sections/Table.vue
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/segments/Dashboards.vue
Due: none

feat(dashboards): initial work on adding buttons to chart cards (#9892)
  ui/src/components/dashboard/sections/Sections.vue
Due: none

refactor(core): migrates trigger module to pinia (#9896)
  ui/src/components/admin/Triggers.vue
  ui/src/components/flows/FlowTriggers.vue
  ui/src/stores/store.js
  ui/src/stores/trigger.js
  ui/src/stores/trigger.ts
  ui/src/vuex-shims.d.ts
Due: none

fix(flows): bring back clear selection (#9893)
  ui/src/components/flows/tasks/TaskObjectField.vue
Due: none

fix(ui): fix types of axios (#9676)
  ui/src/utils/axios.ts
Due: none

perf(ui): only load the schemaType once per page (#9619)
  ui/src/components/code/NoCode.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/components/Breadcrumbs.vue
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/code/components/collapse/buttons/Creation.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/code/utils/types.ts
  ui/src/components/flows/MetadataInputsContent.vue
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/tasks/TaskArray.vue
  ui/src/components/flows/tasks/TaskConditions.vue
  ui/src/components/flows/tasks/TaskEnum.vue
  ui/src/components/flows/tasks/TaskList.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskObjectField.vue
  ui/src/components/flows/tasks/TaskTask.vue
  ui/src/components/flows/tasks/TaskWrapper.vue
  ui/src/components/flows/tasks/getTaskComponent.ts
  ui/src/components/flows/useNoCodePanels.ts
  ui/src/components/plugins/PluginSelect.vue
  ui/src/stores/flow-schema.json
  ui/src/stores/plugins.ts
  ui/src/translations/en.json
  ui/src/utils/utils.ts
  ui/tests/storybook/components/code/segments/Editor.stories.jsx
  ui/tests/storybook/components/flows/FlowEditor.stories.jsx
Due: none

test(processor): add edge-case tests for ServicesFiles utility (#8828)
  processor/src/test/java/io/kestra/core/plugins/processor/ServicesFilesTest.java
Due: Processor

fix(cli): enforce server command validator (#7418)
  core/src/main/java/io/kestra/core/validations/ServerCommandValidator.java
  core/src/test/java/io/kestra/core/validations/ServerCommandValidatorTest.java
  webserver/src/main/java/io/kestra/webserver/services/BasicAuthService.java
Due: Core

refactor(core): simlify code in plugin documentation (#9900)
  ui/src/components/plugins/PluginDocumentationWrapper.vue
Due: none

fix(ai): move AI popup button to right + gray placeholder
  ui/src/components/ai/AiAgent.vue
  ui/src/styles/layout/root-dark.scss
Due: none

feat(cicd): migrate fetching plugins to maven central (#9902)
  .github/workflows/docker.yml
  .github/workflows/workflow-build-artifacts.yml
  .github/workflows/workflow-publish-docker.yml
  cli/src/test/resources/application-test.yml
Due: Cli

fix(cli): prevent NPE on commands defaulting to help
  cli/src/main/java/io/kestra/cli/AbstractCommand.java
Due: Cli

chore(flows): remove breadcrumbs (#9877)
  ui/src/components/code/NoCode.vue
  ui/src/components/code/components/Breadcrumbs.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/segments/Task.vue
  ui/src/components/flows/MetadataInputs.vue
Due: none

feat(dashboards): introduce the edit icon on hover for each separate dashboard chart (#9908)
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/sections/Sections.vue
  ui/src/components/inputs/MonacoEditor.vue
Due: none

fix(webserver): fix reason in ErrorController (#9897)
  webserver/src/main/java/io/kestra/webserver/controllers/ErrorController.java
Due: none

chore(dashboards): add the button tooltip for dashboard edition link (#9909)
  ui/src/components/Kicon.vue
  ui/src/components/dashboard/sections/Sections.vue
  ui/src/translations/en.json
Due: none

fix(iam): tenant deletion raised error about mandatory tenantID in request context
  core/src/main/java/io/kestra/core/repositories/DashboardRepositoryInterface.java
  core/src/main/java/io/kestra/core/repositories/FlowRepositoryInterface.java
  core/src/main/java/io/kestra/core/repositories/TemplateRepositoryInterface.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcDashboardRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTemplateRepository.java
Due: Core, Jdbc

chore(dashboards): improve the chart editing functionality (#9914)
  ui/src/components/dashboard/sections/Sections.vue
  ui/src/translations/en.json
Due: none

refactor(core): open translation pull request on the selected branch instead of develop (#9919)
  .github/workflows/auto-translate-ui-keys.yml
Due: none

refactor(dashboards): strengthen types for dashboard store module (#9917)
  ui/src/components/dashboard/components/Editor.vue
  ui/src/stores/dashboard.ts
Due: none

fix(core): fix icon size and handle long title (#9916)
  ui/src/components/plugins/PluginDocumentation.vue
  ui/src/styles/components/plugin-doc.scss
Due: none

refactor(core): open translation pull request on the selected branch instead of develop (#9922)
  .github/workflows/auto-translate-ui-keys.yml
Due: none

refactor(core): open translation pull request on the selected branch instead of develop (#9924)
  .github/workflows/auto-translate-ui-keys.yml
Due: none
