Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

chore(ui): improve execution outputs section (#7377)
  ui/src/components/executions/outputs/Wrapper.vue
Due: none

fix(core): ForEachItem inside an If task
  core/src/main/java/io/kestra/plugin/core/flow/ForEachItem.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/plugin/core/flow/ForEachItemCaseTest.java
  core/src/test/resources/flows/valids/for-each-item-in-if.yaml
Due: Core

chore(ui): improve filter parameters decoding for absolute date (#7409)
  ui/src/components/filter/utils/helpers.ts
Due: none

chore(ui): improved Logs empty page (#7415)
  ui/src/components/dashboard/components/charts/logs/Bar.vue
  ui/src/components/dashboard/components/charts/logs/LogsNoData.vue
  ui/src/components/logs/LogsWrapper.vue
  ui/src/translations/en.json
Due: none

ci():allow release to be run
  .github/workflows/workflow-release.yml
Due: none

ci(): now run the file changes detection also in the workflow test
  .github/workflows/workflow-test.yml
Due: none

Update ExecutionOutputs.java (#7394)
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionOutputs.java
Due: Core

fix(test): attempt at making the test not flakky (#7400)
  core/src/test/java/io/kestra/plugin/core/trigger/ScheduleTest.java
Due: Core

fix: enable rendering of commands properties inside CommandsWrapper (#7381)
  core/src/main/java/io/kestra/core/models/tasks/runners/ScriptService.java
  core/src/main/java/io/kestra/core/models/tasks/runners/TaskCommands.java
  core/src/main/java/io/kestra/core/models/tasks/runners/TaskRunner.java
  core/src/main/java/io/kestra/plugin/core/runner/Process.java
  core/src/test/java/io/kestra/core/models/tasks/runners/TaskRunnerTest.java
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/runners/CommandsWrapper.java
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
  script/src/test/java/io/kestra/plugin/scripts/runners/LogConsumerTest.java
  tests/src/main/java/io/kestra/core/models/tasks/runners/AbstractTaskRunnerTest.java
  tests/src/main/java/io/kestra/core/utils/TestsUtils.java
Due: Core, Script

refactor: introduce render in commands wrapper for property string (#7430)
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/runners/CommandsWrapper.java
Due: Script

ci(publish-docker): attempts with ubuntu 0.20 (#7431)
  .github/workflows/workflow-publish-docker.yml
Due: none

ci(publish-docker): attempts with command on qemu docker image
  .github/workflows/workflow-publish-docker.yml
Due: none

refactor: avoid en.json warning when building
  ui/src/translations/i18n.ts
Due: none

fix: restore red dot when there is news
  ui/src/components/ContextInfoBar.vue
Due: none

Filter feat: (#7432)
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
Due: Jdbc

fix(tests): wider maxDuration for retry-failed-flow-duration.yml
  core/src/test/resources/flows/valids/retry-failed-flow-duration.yml
Due: Core

chore(deps): bump ui-libs to 0.0.140
  ui/package-lock.json
  ui/package.json
Due: none

fix(ui): better duration consistency on Gantt chart
  ui/src/components/layout/Duration.vue
Due: none

chore(deps): bump ui-libs to 0.0.141
  ui/package-lock.json
  ui/package.json
Due: none

ci(test): force test if ref is a tag
  .github/workflows/workflow-test.yml
Due: none

fix(tests): logs are asynchronously inserted so we wait for them to be fully in
  core/src/test/java/io/kestra/core/runners/ExecutionServiceTest.java
Due: Core

fix(ui): improve modifying inputs from no code editor (#7440)
  ui/src/components/flows/MetadataInputs.vue
  ui/src/components/flows/MetadataInputsContent.vue
Due: none

chore(ui): amend namespace flow creation label (#7443)
  ui/src/components/namespace/Namespace.vue
  ui/src/translations/en.json
Due: none

chore(ui): add missing translations (#7444)
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

refactor: remove rendering from Docker (#7439)
  core/src/main/java/io/kestra/core/models/tasks/runners/TaskRunner.java
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
  script/src/test/java/io/kestra/plugin/scripts/runners/LogConsumerTest.java
Due: Core, Script

fix(core): provide tenantId when looking for subflow (#7442)
  core/src/main/java/io/kestra/core/services/FlowService.java
  core/src/test/java/io/kestra/core/services/FlowServiceTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
Due: Core

fix(core): move back to the old worker thread pool because it was restricting it to 1 thread
  core/src/main/java/io/kestra/core/runners/Worker.java
Due: Core

fix(): invert condition
  .github/workflows/workflow-test.yml
Due: none

chore(ui): add arrows to namespace listing (#7448)
  ui/src/components/namespace/Namespaces.vue
Due: none

fix(core): remove props with default from `required` in json schema to avoid validation errors
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/test/java/io/kestra/core/docs/JsonSchemaGeneratorTest.java
Due: Core

fix(core): render `delete` property at the beginning in Docker task runner
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
Due: Script

fix(tests): increase timeout on JdbcServiceLivenessCoordinatorTest.taskResubmitSkipExecution
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcServiceLivenessCoordinatorTest.java
Due: Jdbc

fix(cicd): update concurrency key
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: none

refactor: return only command when no interpreter and no beforeCommands (#7452)
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/runners/CommandsWrapper.java
Due: Script

fix(core): http proxy was not passed to configuration
  core/src/main/java/io/kestra/core/http/client/configurations/HttpConfiguration.java
  core/src/main/java/io/kestra/core/http/client/configurations/ProxyConfiguration.java
Due: Core

fix(ci): QEMU issue
  .github/workflows/docker.yml
  .github/workflows/workflow-build-artifacts.yml
  .github/workflows/workflow-publish-docker.yml
Due: none

fix(webserver): allow special chars in label key (#7419)
  webserver/src/main/java/io/kestra/webserver/converters/QueryFilterFormatBinder.java
  webserver/src/test/java/io/kestra/webserver/converters/QueryFilterFormatBinderTest.java
Due: none

chore(ui): disable click on search button if filtering is automatic (#7454)
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(ui): properly cast value to boolean (#7455)
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(ui): improve handling of main filter labels on page load (#7456)
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/components/Label.vue
  ui/src/components/filter/utils/helpers.ts
Due: none
