Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

Fix/failing backup unit test (#9642)
  script/src/test/java/io/kestra/plugin/scripts/runners/LogConsumerTest.java
Due: Script

fix(system)*: runIf inside a WorkingDirectory can crash the Worker
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/test/java/io/kestra/plugin/core/flow/WorkingDirectoryTest.java
  core/src/test/resources/flows/valids/working-directory-invalid-runif.yaml
Due: Core

fix(system): flow graph fail to be created while editting a flow
  core/src/main/java/io/kestra/core/utils/GraphUtils.java
Due: Core

feat(ui): Add connection properties group sorting (#9644)
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/translations/en.json
Due: none

chore: update ui-libs
  ui/package-lock.json
  ui/package.json
Due: none

fix(execution): parent flow never ends when subflow fail due to SLA
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/SLATestCase.java
  core/src/test/resources/flows/valids/sla-parent-flow.yaml
  core/src/test/resources/flows/valids/sla-subflow.yaml
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

fix(core): retry flaky runner test restartForEachItem as it's flaky on CI but always pass locally
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
Due: Core

feat(executions)*: add tasks to set and unset execution variables
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/runners/RunVariables.java
  core/src/main/java/io/kestra/plugin/core/execution/SetVariables.java
  core/src/main/java/io/kestra/plugin/core/execution/UnsetVariables.java
  core/src/main/java/io/kestra/plugin/core/trigger/Schedule.java
  core/src/test/java/io/kestra/plugin/core/execution/SetVariablesTest.java
  core/src/test/java/io/kestra/plugin/core/execution/UnsetVariablesTest.java
  core/src/test/resources/flows/valids/set-variables-duplicate.yaml
  core/src/test/resources/flows/valids/set-variables.yaml
  core/src/test/resources/flows/valids/unset-variables.yaml
Due: Core

Fix(UI) execution charts values (#9669)
  ui/src/components/dashboard/sections/Bar.vue
Due: none

fix: avoid failure to deserialize json objects that have unknown fields with http client (#9668)
  core/src/main/java/io/kestra/core/http/client/HttpClient.java
  core/src/main/java/io/kestra/core/serializers/JacksonMapper.java
  core/src/test/java/io/kestra/core/http/client/HttpClientTest.java
Due: Core

feat(flows): add a log into the Subflow task when a flow it fail (#9652)
  core/src/main/java/io/kestra/plugin/core/flow/Subflow.java
Due: Core

fix(ui): deletion of namespace files depend on node not data (#9666)
  ui/src/components/inputs/EditorSidebar.vue
Due: none

fix(system): possible NPE on trigger when computing variables
  core/src/main/java/io/kestra/core/runners/RunVariables.java
Due: Core

test(core): fix falling test on schedule
  core/src/test/java/io/kestra/plugin/core/trigger/ScheduleTest.java
Due: Core

fix(api-docs): tenant info in API docs (#9675)
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
Due: none

fix(ui): remove Close Task button in NoCode editor (#9661)
  ui/src/components/code/segments/Task.vue
Due: none

fix(variables): put fixtures files with arbitrary key and extract it back as root level "files" variable (#9689)
  core/src/main/java/io/kestra/core/runners/RunVariables.java
Due: Core

feat(flows): support local files in input files
  core/src/main/java/io/kestra/core/models/property/URIFetcher.java
  core/src/main/java/io/kestra/core/models/tasks/InputFilesInterface.java
  core/src/main/java/io/kestra/core/models/tasks/runners/PluginUtilsService.java
  core/src/main/java/io/kestra/core/runners/DefaultRunContext.java
  core/src/main/java/io/kestra/core/runners/FilesService.java
  core/src/main/java/io/kestra/core/runners/LocalPath.java
  core/src/main/java/io/kestra/core/runners/LocalPathFactory.java
  core/src/main/java/io/kestra/core/runners/RunContext.java
  core/src/test/java/io/kestra/core/models/property/URIFetcherTest.java
  core/src/test/java/io/kestra/core/runners/FilesServiceTest.java
Due: Core

feat(flows): support local files as FILE input default value
  core/src/main/java/io/kestra/core/models/property/URIFetcher.java
  core/src/main/java/io/kestra/core/runners/DefaultRunContext.java
  core/src/main/java/io/kestra/core/runners/FilesService.java
  core/src/main/java/io/kestra/core/runners/FlowInputOutput.java
  core/src/main/java/io/kestra/core/runners/LocalPath.java
  core/src/main/java/io/kestra/core/runners/LocalPathFactory.java
  core/src/main/java/io/kestra/core/validations/validator/FileInputValidator.java
  core/src/test/java/io/kestra/core/models/flows/FlowTest.java
  core/src/test/java/io/kestra/core/runners/InputsTest.java
  core/src/test/java/io/kestra/core/validations/InputTest.java
Due: Core

chore(system): call the close runnable later
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

feat(devtools): copy plugin jars to plugins dir (#9738)
  dev-tools/copy-plugin.sh
Due: none

fix(core): use namespace prefix instead of equals
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/logs/LogsWrapper.vue
Due: none

feat(scripts): enable script/cli plugins to override final task state
  script/src/main/java/io/kestra/plugin/scripts/exec/AbstractExecScript.java
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/models/ScriptOutput.java
Due: Script

feat(tenant): all routes on /main tenant (#9664)
  ui/src/composables/useTenant.ts
  ui/src/main.js
  ui/src/utils/init.js
Due: none

refactor(store): migrate Blueprints to Pinia (#9735)
  ui/src/components/dashboard/components/Create.vue
  ui/src/components/flows/FlowCreate.vue
  ui/src/components/flows/blueprints/BlueprintDetail.vue
  ui/src/override/components/flows/blueprints/BlueprintsBrowser.vue
  ui/src/stores/blueprints.js
  ui/src/stores/blueprints.ts
  ui/src/stores/store.js
  ui/src/vuex-shims.d.ts
Due: none

refactor(layout): migrate layout.js from vuex to Pinia. (#9687)
  ui/src/App.vue
  ui/src/components/layout/Environment.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/stores/layout.js
  ui/src/stores/layout.ts
  ui/src/stores/store.js
  ui/src/utils/axios.ts
  ui/src/vuex-shims.d.ts
Due: none

fix(flows): make autocomplete work in pebble (#9742)
  ui/src/components/flows/tasks/TaskString.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/composables/monaco/languages/abstractLanguageConfigurator.ts
  ui/src/composables/monaco/languages/languagesConfigurator.ts
  ui/src/composables/monaco/languages/pebbleLanguageConfigurator.ts
  ui/src/composables/monaco/languages/yamlLanguageConfigurator.ts
  ui/src/services/autoCompletionProvider.ts
Due: none

feat(cluster): persist maintenance mode in the database
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/server/Service.java
  core/src/main/java/io/kestra/core/services/MaintenanceService.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

fix(plugins): finish pinia migration of plugins store (#9746)
  ui/src/components/plugins/Plugin.vue
  ui/src/components/plugins/Toc.vue
Due: none

refactor(stat): migrate stat store from Vuex to Pinia (#9750)
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/logs/LogsWrapper.vue
  ui/src/components/taskruns/TaskRuns.vue
  ui/src/components/templates/Templates.vue
  ui/src/stores/stat.js
  ui/src/stores/stat.ts
  ui/src/stores/store.js
  ui/src/vuex-shims.d.ts
Due: none

feat(flows): allow reading local files inside the file functions
  core/src/main/java/io/kestra/core/runners/LocalPath.java
  core/src/main/java/io/kestra/core/runners/LocalPathFactory.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/AbstractFileFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileExistsFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileSizeFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/IsFileEmptyFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/ReadFileFunction.java
  core/src/test/java/io/kestra/core/runners/FilesServiceTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FileExistsFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FileSizeFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/IsFileEmptyFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/ReadFileFunctionTest.java
Due: Core

remove unused constant (#9751)
  ui/src/utils/constants.ts
Due: none

feat(api): #4108 remove tenant id from trigger body and plugin URL (#9749)
  core/src/main/java/io/kestra/core/models/triggers/TriggerContext.java
  ui/src/stores/plugins.ts
  webserver/src/main/java/io/kestra/webserver/controllers/api/PluginController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TriggerController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/PluginControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/TriggerControllerTest.java
Due: Core

feat(namespaces): #3568 add new folderPerNamespace attribute to namespaceFiles (#9752)
  core/src/main/java/io/kestra/core/models/tasks/NamespaceFiles.java
  core/src/main/java/io/kestra/core/runners/LocalWorkingDir.java
  core/src/main/java/io/kestra/core/utils/NamespaceFilesUtils.java
  core/src/test/java/io/kestra/core/utils/NamespaceFilesUtilsTest.java
Due: Core

fix(core): remove tenant from plugins URLs
  ui/src/composables/monaco/languages/abstractLanguageConfigurator.ts
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
  ui/src/composables/monaco/languages/yamlLanguageConfigurator.ts
  ui/src/override/utils/yamlSchemas.ts
Due: none

build: lower codecev default targets to make it more pertinent
  codecov.yml
Due: none

feat(flows): supports the nsfile:// protocol
  core/src/main/java/io/kestra/core/models/property/Data.java
  core/src/main/java/io/kestra/core/models/property/URIFetcher.java
  core/src/main/java/io/kestra/core/models/tasks/InputFilesInterface.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/AbstractFileFunction.java
  core/src/main/java/io/kestra/core/storages/InternalNamespace.java
  core/src/main/java/io/kestra/core/storages/Namespace.java
  core/src/main/java/io/kestra/core/validations/validator/FileInputValidator.java
  core/src/test/java/io/kestra/core/models/property/URIFetcherTest.java
  core/src/test/java/io/kestra/core/runners/FilesServiceTest.java
  core/src/test/java/io/kestra/core/runners/InputsTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FileExistsFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FileSizeFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/IsFileEmptyFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/ReadFileFunctionTest.java
Due: Core

fix(tests): testcases were not fully validated
  core/src/main/java/io/kestra/core/test/TestSuite.java
  core/src/main/java/io/kestra/core/test/flow/Fixtures.java
  core/src/main/java/io/kestra/core/test/flow/UnitTest.java
Due: Core

feat(system): make Property a string in openapi spec generation
  core/src/main/java/io/kestra/core/models/property/Property.java
Due: Core

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
