Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

fix: add missing webhook releases secrets for github releases
  .github/workflows/main.yml
  .github/workflows/workflow-github-release.yml
  .github/workflows/workflow-release.yml
Due: none

fix(namespaces): amend problems with namespace secrets and kv pairs (#10543)
  ui/src/components/Tabs.vue
  ui/src/components/secrets/Secrets.vue
Due: none

chore(namespaces): add the needed prop for loading all namespaces inside a selector (#10544)
  ui/src/components/kv/KVTable.vue
  ui/src/components/secrets/SecretsTable.vue
Due: none

fix: demo no longer exists
  README.md
Due: none

fix: remove debugging value from playground (#10541)
  ui/src/components/flows/FlowPlayground.vue
Due: none

refactor: move editor from vuex to pinia (#10533)
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/Tabs.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/flows/FlowCreate.vue
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/flows/useCodePanels.ts
  ui/src/components/inputs/EditorButtons.vue
  ui/src/components/inputs/EditorButtonsWrapper.vue
  ui/src/components/inputs/EditorSidebar.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/components/inputs/SwitchView.vue
  ui/src/components/onboarding/VueTour.vue
  ui/src/stores/editor.js
  ui/src/stores/editor.ts
  ui/src/stores/flow.js
  ui/src/stores/store.js
  ui/src/utils/unsavedChange.js
  ui/src/vuex-shims.d.ts
Due: none

refactor: use composition api and ts on revision component (#10529)
  ui/src/components/Drawer.vue
  ui/src/components/flows/FlowRevisions.vue
  ui/src/override/components/auth/Crud.vue
  ui/src/routes/routes.js
  ui/src/utils/flowTemplate.ts
  ui/src/utils/toast.ts
Due: none

fix(flows): no-code - when changing type message avoid warning (#10498)
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskArray.vue
Due: none

fix(core): proper state detection from parsed data (#10527)
  ui/src/components/dashboard/composables/charts.js
Due: none

chore(core): remove variable and directly assign. (#10554)
  ui/src/components/dashboard/composables/charts.js
Due: none

fix(executions): restore execution redirect & subflow logs view from parent
  ui/src/components/executions/ExecutionRoot.vue
  ui/src/components/logs/TaskRunDetails.vue
  ui/src/stores/executions.ts
Due: none

fix: Updated InputsForm.vue to clear Radio Button Selection (#9654)
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskObjectField.vue
  ui/src/components/inputs/InputsForm.vue
Due: none

fix(flows)*: load flow for execution needs to be stored most of the time (#10566)
  ui/src/components/executions/Resume.vue
  ui/src/components/flows/TriggerFlow.vue
  ui/src/stores/executions.ts
Due: none

fix(executions): avoid SSE error in follow execution dependencies
  webserver/src/main/java/io/kestra/webserver/services/ExecutionDependenciesStreamingService.java
Due: none

fix(namespaces): autocomplete in kv & secrets
  ui/src/components/kv/KVTable.vue
  ui/src/components/namespaces/components/NamespaceSelect.vue
  ui/src/components/secrets/SecretsTable.vue
  ui/src/stores/namespaces.js
Due: none

feat(system): set the default number of worker threads to 8x available cpu cores
  cli/src/main/java/io/kestra/cli/commands/servers/AbstractServerCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/StandAloneCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/WorkerCommand.java
Due: Cli

fix: restore InputForm (#10568)
  ui/src/components/inputs/InputsForm.vue
Due: none

feat(stores): #4353 list all KV for namespace and parent namespaces (#10470)
  webserver/src/main/java/io/kestra/webserver/controllers/api/KVController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/KVControllerTest.java
Due: none

fix(flows): add conditional rendering for restart button based on execution (#10570)
  ui/src/components/executions/Logs.vue
Due: none

fix(flows): ensure plugin documentation change on flow switch (#10546)
  ui/src/components/inputs/EditorWrapper.vue
Due: none

chore(deps): regular dependency update (#10607)
  ui/package-lock.json
  ui/package.json
Due: none

build: add plugin-datagen to plugin list
  .plugins
Due: none

feat(core): add animated edges to topology graph (#10616)
  ui/package-lock.json
  ui/package.json
Due: none

fix(flows): playground only clear highlighted lines on leave task (#10612)
  ui/src/components/inputs/Editor.vue
  ui/src/composables/playground/useFlowEditorRunTaskButton.ts
Due: none

fix(flows): allow date inputs in playground (#10611)
  ui/src/components/inputs/InputsForm.vue
  ui/src/stores/playground.ts
Due: none

fix(build): fix and enhance release-plugins.sh
  dev-tools/release-plugins.sh
Due: none

feat: disabled the preview button in output tabs for zip files (#10535)
  ui/src/components/executions/FilePreview.vue
Due: none

fix(core): fixes overflow of outputs content
  ui/src/components/executions/outputs/Wrapper.vue
Due: none

chore(system): provide a MapUtils.nestedToFlattenMap() method
  core/src/main/java/io/kestra/core/utils/MapUtils.java
  core/src/test/java/io/kestra/core/utils/MapUtilsTest.java
Due: Core

fix(system): fix consumer commit on JDBC queue
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

chore(system): provide a more useful Either utility class
  core/src/main/java/io/kestra/core/utils/Either.java
  core/src/test/java/io/kestra/core/utils/EitherTest.java
Due: Core

fix(ai-agent): add prompt suggestion
  ui/src/translations/en.json
Due: none

chore(system): add a note on MapUtils.nestedToFlattenMap() method
  core/src/main/java/io/kestra/core/utils/MapUtils.java
Due: Core

feat(core): implement different graph type for dependencies view (#10240)
  ui/package-lock.json
  ui/package.json
  ui/src/components/dependencies/Dependencies.vue
  ui/src/components/dependencies/components/Link.vue
  ui/src/components/dependencies/components/Table.vue
  ui/src/components/dependencies/composables/useDependencies.ts
  ui/src/components/dependencies/utils/style.ts
  ui/src/components/dependencies/utils/types.ts
  ui/src/components/executions/ExecutionDependencies.vue
  ui/src/components/executions/ExecutionRoot.vue
  ui/src/components/flows/FlowDependencies.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/stores/flow.js
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
  ui/tests/fixtures/dependencies/getDependencies.ts
Due: none

refactor(namespace): migrate namespace module to pinia (#10571)
  ui/src/components/inputs/EditorSidebar.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/kv/KVTable.vue
  ui/src/components/kv/KVs.vue
  ui/src/components/namespaces/Namespace.vue
  ui/src/components/namespaces/components/NamespaceSelect.vue
  ui/src/components/secrets/SecretsTable.vue
  ui/src/composables/monaco/languages/filters/impl/dashboardFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/executionFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/flowFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/logFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/namespaceDashboardFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/taskRunFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/triggerFilterLanguage.ts
  ui/src/composables/monaco/languages/languagesConfigurator.ts
  ui/src/composables/useBaseNamespaces.ts
  ui/src/composables/useNamespaces.ts
  ui/src/composables/useSecrets.ts
  ui/src/override/components/namespaces/Actions.vue
  ui/src/override/services/flowAutoCompletionProvider.ts
  ui/src/override/stores/namespaces.ts
  ui/src/stores/flow.js
  ui/src/stores/namespaces.js
  ui/src/stores/store.js
  ui/src/vuex-shims.d.ts
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
Due: none

fix(core): update necessary node viewer in gradle build (#10624)
  ui/build.gradle
Due: none

fix: avoid calling nextExecutionDate if value is null when resetting trigger (#10547)
  core/src/main/java/io/kestra/core/models/triggers/Trigger.java
Due: Core

fix(core): ensure props with defaults are not marked as required in generated doc
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/test/java/io/kestra/core/docs/JsonSchemaGeneratorTest.java
Due: Core

fix(core): wrong @NotNull import leading to key not being marked as required
  core/src/main/java/io/kestra/plugin/core/kv/Delete.java
Due: Core

fix(executions): allow caching tasks that use the 'workingDir' variable
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/test/java/io/kestra/core/runners/TaskCacheTest.java
  core/src/test/resources/flows/valids/cache.yaml
Due: Core

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
