Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(core): navigating back to plugins home. (#8972)
  ui/src/components/plugins/Plugin.vue
Due: none

fix(nocode): reorder subtasks (#8976)
  ui/src/components/code/NoCode.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/tasks/TaskConditions.vue
  ui/src/components/flows/tasks/TaskTasks.vue
Due: none

fix(core): few tweaks to align the placeholder and ui as per design. (#8980)
  ui/src/components/code/components/Add.vue
  ui/src/components/code/components/inputs/InputText.vue
  ui/src/components/code/styles/code.scss
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/tasks/TaskBoolean.vue
  ui/src/components/flows/tasks/TaskExpression.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskString.vue
  ui/src/components/inputs/Editor.vue
Due: none

feat(tests): validate the Flow exists when create or update Test
  core/src/main/java/io/kestra/core/test/TestSuite.java
  core/src/main/java/io/kestra/core/validations/TestSuiteValidation.java
  core/src/main/java/io/kestra/core/validations/validator/TestSuiteValidator.java
Due: Core

fix(core): remove placeholder on input (#8984)
  ui/src/components/flows/tasks/TaskString.vue
Due: none

feat: add a new method "taskWithState" that leverage on the property `tasks` (#8907)
  core/src/main/java/io/kestra/core/runners/RunVariables.java
  core/src/main/java/io/kestra/core/runners/pebble/Extension.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/TasksWithState.java
  core/src/test/java/io/kestra/core/runners/RunContextTest.java
  core/src/test/resources/flows/invalids/foreach-switch-failed.yaml
Due: Core

fix(ci): nocode translate (#8988)
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(logs): Use correct property for filtering logs in kafka (#8812)
  core/src/main/java/io/kestra/core/models/QueryFilter.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/LogControllerTest.java
Due: Core

feat(system): restore the flow queue after tenant migration
  cli/src/main/java/io/kestra/cli/commands/migrations/TenantMigrationService.java
Due: Cli

fix: save namespace files when clicking ctrl-S (#8994)
  ui/src/components/inputs/EditorWrapper.vue
Due: none

chore(core): add retry block to no code editor (#8996)
  ui/package-lock.json
  ui/package.json
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/utils/types.ts
  ui/src/components/flows/MetadataRetry.vue
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/translations/en.json
Due: none

refactor(core): rename the type in random retry (#8998)
  ui/src/components/flows/MetadataRetry.vue
Due: none

fix(plugins): resolve subtypes in low code editor (#8957)
  core/src/main/java/io/kestra/core/docs/AbstractClassDocumentation.java
  core/src/main/java/io/kestra/core/docs/ClassPluginDocumentation.java
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/test/java/io/kestra/core/docs/ClassPluginDocumentationTest.java
  core/src/test/java/io/kestra/core/docs/JsonSchemaGeneratorTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/PluginController.java
Due: Core

feat(system): add metrics to the JDBC queue
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Core, Jdbc

feat(system): add a metrics for the Executor thread count
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

fix(tests): improve test robustness by avoiding spinning a new thread for receive timeout
  tests/src/main/java/io/kestra/core/utils/TestsUtils.java
Due: none

fix(ui): show proper no results (#8870)
  ui/src/components/admin/Triggers.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/kv/KVTable.vue
  ui/src/components/layout/SelectTable.vue
  ui/src/components/logs/LogsWrapper.vue
  ui/src/components/secrets/SecretsTable.vue
  ui/src/components/templates/Templates.vue
  ui/src/styles/layout/element-plus-overload.scss
  ui/src/translations/en.json
Due: none

fix(core): full width for wrapper containing properties. (#9003)
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskWrapper.vue
Due: none

feat(system): add metics for concurrency limit
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

fix(system): remove required props in definitions that have a default
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/test/java/io/kestra/core/docs/JsonSchemaGeneratorTest.java
Due: Core

feat(system): add metrics for flowable tasks
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
Due: Core

chore(core): add sla block to no code editor (#9004)
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/utils/types.ts
  ui/src/components/flows/MetadataRetry.vue
  ui/src/components/flows/MetadataSLA.vue
  ui/src/components/flows/tasks/TaskAnyOf.vue
Due: none

chore(core): amend labels of task anyof component radio buttons (#9005)
  ui/src/components/flows/tasks/TaskAnyOf.vue
Due: none

fix(ui): clicking on edit/delete in topology opens a nocode (#8993)
  ui/src/components/code/NoCode.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/code/utils/types.ts
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/flows/useCodeTopology.ts
  ui/src/components/flows/useTopologyPanels.ts
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/LowCodeEditor.vue
Due: none

chore(system): JdbcQueue code refactoring
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

build(ci): require translations to be done (#9014)
  ui/package.json
Due: none

fix(ui): improve padding and font sizes on Blueprints tab in Editor (#9002)
  .gitignore
  ui/src/components/flows/blueprints/BlueprintDetail.vue
  ui/src/override/components/flows/blueprints/BlueprintsBrowser.vue
  ui/src/styles/layout/element-plus-overload.scss
Due: none

fix: avoid diving by 0 with the KPI chart
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcDashboardRepository.java
Due: Jdbc

fix(core): avoid inserting empty tasks in flow (#9016)
  ui/src/components/code/segments/Task.vue
Due: none

chore(build): remove add jmh-benchmarks gradle.properties to gitignore
  .gitignore
Due: none

fix(core): properly check if property is nullish (#9019)
  ui/src/components/code/segments/Task.vue
Due: none

fix: avoid the Kestra Instance to be indexed (#9018)
  ui/index.html
  ui/src/robots.txt
Due: none

feat(namespaces): allow exporting single namespace files from editor sidebar (#8967)
  ui/src/components/inputs/EditorButtons.vue
  ui/src/components/inputs/EditorSidebar.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

chore(core): make sure id property is required for sla block (#9022)
  ui/src/components/flows/MetadataSLA.vue
Due: none

fixed spacing in demo apps page (#9021)
  ui/src/components/demo/Layout.vue
Due: none

fix(core): use new color tokens for panes and editor. (#9020)
  ui/package-lock.json
  ui/package.json
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/flows/tasks/TaskWrapper.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorSidebar.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/components/plugins/PluginDocumentationWrapper.vue
  ui/src/styles/layout/root.scss
Due: none

fix(core): amend plugin page problems due to npe (#9031)
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/plugins/PluginHome.vue
Due: none

fix(core): update flow & namespace overview dashboard filters (#9034)
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/composables/monaco/languages/filters/impl/flowDashboardFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/namespaceDashboardFilterLanguage.ts
Due: none
