Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

chore(deps): regular dependency update (#7358)
  ui/package-lock.json
  ui/package.json
Due: none

feat(core): add system.correlationId label to triggered executions
  core/src/main/java/io/kestra/core/models/triggers/TriggerService.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerPollingTriggerTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerStreamingTest.java
  core/src/test/java/io/kestra/plugin/core/trigger/ScheduleTest.java
Due: Core

fix: add proper ellipsis to sidemenu (#7361)
  ui/src/components/layout/SideBar.vue
Due: none

fix: trim bookmarks better (#7359)
  ui/src/components/layout/BookmarkLink.vue
Due: none

fix(ui): make sure bulk selection is taking into account only selected items (#7362)
  ui/src/mixins/selectTableActions.js
Due: none

fix: make menu hierarchy get closer to the original designs (#7102)
  ui/src/components/layout/SideBar.vue
  ui/tests/storybook/layout/SideBar.stories.jsx
Due: none

chore(ui): add shadows to main charts (#7314)
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/logs/LogsWrapper.vue
Due: none

ci: cleanup
  .github/actions/generate-translations/action.yml
  .github/actions/github-release/action.yml
  .github/workflows/pull-request.yml
  ui/src/translations/generate_translations.py
Due: none

chore(ui): add validation messages for custom dashboard crud actions (#7367)
  ui/src/components/dashboard/components/DashboardCreate.vue
  ui/src/components/filter/segments/Dashboards.vue
  ui/src/override/components/dashboard/components/DashboardEdit.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

test(webserver): flaky ExecutionControllerTest for kill (#7368)
  core/src/test/resources/flows/valids/sleep-long.yml
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
Due: Core

fix(core): render list
  core/src/main/java/io/kestra/core/models/property/Property.java
  core/src/test/java/io/kestra/core/models/property/PropertyTest.java
Due: Core

fix(jdbc): delete the executor state at the correct stage
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

feat(jdbc): clean more eagerly some queues based on configuration
  cli/src/main/resources/application.yml
  jdbc-h2/src/main/java/io/kestra/runner/h2/H2JdbcCleanerService.java
  jdbc-mysql/src/main/java/io/kestra/runner/mysql/MysqlJdbcCleanerService.java
  jdbc-postgres/src/main/java/io/kestra/runner/postgres/PostgresJdbcCleanerService.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcCleaner.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcCleanerService.java
Due: Cli, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres

feat(jdbc): queues.updated should be set when the record is updated
  jdbc-h2/src/main/java/io/kestra/runner/h2/H2Queue.java
  jdbc-h2/src/main/resources/migrations/h2/V1_31__queues_updated_date.sql
  jdbc-mysql/src/main/java/io/kestra/runner/mysql/MysqlQueue.java
  jdbc-mysql/src/main/resources/migrations/mysql/V1_31__queues_updated_date.sql
  jdbc-postgres/src/main/java/io/kestra/runner/postgres/PostgresQueue.java
  jdbc-postgres/src/main/resources/migrations/postgres/V1_31__queues_updated_date.sql
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres

fix(ui): refresh dashboard list (#7370)
  ui/src/components/filter/segments/Dashboards.vue
Due: none

fix(core): handle http request with no content type
  core/src/main/java/io/kestra/core/http/HttpRequest.java
  core/src/test/java/io/kestra/plugin/core/http/RequestTest.java
Due: Core

fix(cicd): add mariadb plugins on docker image
  .plugins
Due: none

fix(scheduler): delete trigger when flow is not found (#7366)
  core/src/main/java/io/kestra/core/models/flows/Flow.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/schedulers/SchedulerTriggerStateInterface.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcSchedulerTriggerState.java
Due: Core, Jdbc

ci(): correct output in workflow build artifacts
  .github/workflows/workflow-build-artifacts.yml
Due: none

ci(): map outputs in build artifacts
  .github/workflows/workflow-build-artifacts.yml
Due: none

ci(docker): fixed version of qemu
  .github/workflows/docker.yml
Due: none

ci(docker): revert fixed qemu version
  .github/workflows/docker.yml
Due: none

fix(cli): disable by default OTEL metrics
  cli/src/main/resources/application.yml
Due: Cli

fix: changing language should work with providers too
  ui/src/translations/i18n.ts
Due: none

ci(): fix outputs
  .github/workflows/workflow-build-artifacts.yml
Due: none

ci(): moved build artifacts directly in docker workflow
  .github/workflows/workflow-publish-docker.yml
  .github/workflows/workflow-release.yml
Due: none

chore(ui): add link to filtered triggers page from backfill dialog (#7380)
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/flows/FlowTriggers.vue
Due: none

chore(ui): include autocompletion shortcut in the preview list (#7384)
  ui/src/components/inputs/KeyShortcuts.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

chore(ui): improve breadcrumbs on namespace view (#7386)
  ui/src/components/layout/TopNavBar.vue
  ui/src/components/namespace/Namespace.vue
Due: none

fix(ui): fix slack button on error toast
  ui/src/components/ErrorToastContainer.vue
Due: none

feat(core, jdbc): use an elastic thread pool
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/utils/ExecutorsUtils.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Core, Jdbc

feat(jdbc): consume multiple times the execution and worker task result queues
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

chore(ui): improve the labels behavior (#7397)
  ui/src/components/executions/Overview.vue
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/layout/Labels.vue
Due: none

fix(ui): properly handle the operation labels in filter component (#7399)
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/components/Label.vue
  ui/src/components/filter/utils/types.ts
Due: none

Filter feat: (#7389)
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/composables/useFilters.ts
  webserver/src/main/java/io/kestra/webserver/converters/QueryFilterFormatBinder.java
Due: Jdbc

fix(core): taskrun list can be null
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
Due: Core

chore(ui): improve colors of filter dropdown selector (#7403)
  ui/src/components/filter/segments/Dashboards.vue
Due: none

chore(ui): vertically center all elements in table rows (#7372)
  ui/src/styles/layout/element-plus-overload.scss
Due: none

chore(ui): make import flows button be a secondary one, styling-wise (#7405)
  ui/src/components/flows/Flows.vue
Due: none

fix(ui): correct english translations (#7401)
  ui/src/translations/en.json
Due: none
