Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

build: use storybook test addon to get coverage (#8316)
  .github/workflows/workflow-frontend-test.yml
  ui/.storybook/main.ts
  ui/.storybook/vitest.setup.ts
  ui/eslint.config.js
  ui/package-lock.json
  ui/package.json
  ui/vitest.config.js
  ui/vitest.shims.d.ts
  ui/vitest.workspace.js
Due: none

fix(core): handle parsing error when reading flows from repository
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
Due: Jdbc

fix: make monaco composition API (#8320)
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/components/kv/KVTable.vue
  ui/src/components/kv/KVs.vue
Due: none

fix(ui): uniform scrollbar across UI (#7758)
  ui/src/components/code/styles/code.scss
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/components/DashboardEditor.vue
  ui/src/components/docs/DocsLayout.vue
  ui/src/components/executions/Gantt.vue
  ui/src/components/executions/Logs.vue
  ui/src/components/executions/Overview.vue
  ui/src/components/executions/outputs/Wrapper.vue
  ui/src/components/filter/segments/Properties.vue
  ui/src/components/filter/styles/filter.scss
  ui/src/components/flows/TriggerAvatar.vue
  ui/src/components/inputs/EditorSidebar.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/components/layout/SideBar.vue
  ui/src/components/logs/TaskRunDetails.vue
  ui/src/components/plugins/PluginHome.vue
  ui/src/components/plugins/Toc.vue
  ui/src/styles/app.scss
  ui/src/styles/layout/element-plus-overload.scss
Due: none

fix(flow): handle parsing error when reading flows from repository
  core/src/main/java/io/kestra/core/runners/FlowListeners.java
  core/src/main/java/io/kestra/core/services/PluginDefaultService.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

refactor: migrate plugin.core flowable tasks to dynamic proeprties (#8313)
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Bar.java
  core/src/main/java/io/kestra/plugin/core/flow/Dag.java
  core/src/main/java/io/kestra/plugin/core/flow/EachParallel.java
  core/src/main/java/io/kestra/plugin/core/flow/If.java
  core/src/main/java/io/kestra/plugin/core/flow/LoopUntil.java
  core/src/main/java/io/kestra/plugin/core/flow/Parallel.java
  core/src/main/java/io/kestra/plugin/core/flow/Sleep.java
  core/src/main/java/io/kestra/plugin/core/flow/Subflow.java
  core/src/main/java/io/kestra/plugin/core/flow/Switch.java
  core/src/main/java/io/kestra/plugin/core/flow/WorkingDirectory.java
  core/src/test/java/io/kestra/core/runners/WorkerTest.java
  core/src/test/java/io/kestra/core/schedulers/AbstractSchedulerTest.java
  core/src/test/java/io/kestra/plugin/core/flow/SubflowTest.java
  core/src/test/java/io/kestra/plugin/core/flow/TimeoutTest.java
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcServiceLivenessCoordinatorTest.java
Due: Core, Jdbc

test(system): fix flaky runner test by adding sleep in subtask (#8329)
  core/src/test/java/io/kestra/plugin/core/flow/ForEachItemCaseTest.java
  core/src/test/resources/flows/valids/for-each-item-no-wait.yaml
  core/src/test/resources/flows/valids/for-each-item-subflow-sleep.yaml
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcRunnerTest.java
Due: Core, Jdbc

feat(core)*: close code tab if file is deleted (#8331)
  ui/src/components/flows/useCodePanels.ts
  ui/src/stores/namespaces.js
Due: none

feat(core): use a fixed-size mask to mask secrets (#8131)
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
  core/src/test/java/io/kestra/core/runners/InputsTest.java
  core/src/test/java/io/kestra/core/runners/RunContextLoggerTest.java
  core/src/test/java/io/kestra/core/runners/RunContextTest.java
Due: Core

feat: use TaskTasks.vue to show subtask (#8332)
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/code/segments/Editor.vue
  ui/src/components/flows/tasks/Task.js
  ui/src/components/flows/tasks/TaskRoot.vue
  ui/src/components/flows/tasks/TaskSubflowInputs.vue
  ui/src/components/flows/tasks/TaskTasks.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/utils/init.js
Due: none

fix(flow): enhance error handling when injecting plugin defaults
  cli/src/main/java/io/kestra/cli/services/FileChangedEventListener.java
  core/src/main/java/io/kestra/core/exceptions/FlowProcessingException.java
  core/src/main/java/io/kestra/core/exceptions/KestraException.java
  core/src/main/java/io/kestra/core/repositories/LocalFlowRepositoryLoader.java
  core/src/main/java/io/kestra/core/runners/FlowListeners.java
  core/src/main/java/io/kestra/core/serializers/YamlParser.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/main/java/io/kestra/core/services/FlowService.java
  core/src/main/java/io/kestra/core/services/GraphService.java
  core/src/main/java/io/kestra/core/services/PluginDefaultService.java
  core/src/test/java/io/kestra/core/models/hierarchies/FlowGraphTest.java
  core/src/test/java/io/kestra/core/services/FlowServiceTest.java
  core/src/test/java/io/kestra/core/services/PluginDefaultServiceTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceFileController.java
Due: Cli, Core, Jdbc

chore(system): don't emit two time a workertaskresult for RUNNING
  core/src/main/java/io/kestra/core/runners/Worker.java
Due: Core

fix(flow): re-enable NotEmpty constraint on property tasks for Sequential
  core/src/main/java/io/kestra/plugin/core/flow/Sequential.java
  core/src/test/java/io/kestra/core/models/flows/FlowTest.java
Due: Core

feat(variables): add missing functions to editor autocompletion (#8245)
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/override/services/flowAutoCompletionProvider.ts
Due: none

chore(flows)*: hide horizontal scroll on editor based inputs (#8347)
  ui/src/components/inputs/InputsForm.vue
Due: none

test(ui): failing test for autocompletiona after contributor's PR
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
Due: none

test(system): rework concurrency paused tests so they actually test t… (#8339)
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/FlowConcurrencyCaseTest.java
  core/src/test/resources/flows/valids/flow-concurrency-cancel-pause.yml
  core/src/test/resources/flows/valids/flow-concurrency-queue-pause.yml
Due: Core

feat(core)*: introduce a dropdown menu for each panel (#8351)
  ui/src/components/MultiPanelTabs.vue
  ui/src/translations/en.json
Due: none

fix(core): bring back documentation on some plugins (#8354)
  core/src/main/java/io/kestra/core/plugins/PluginClassLoader.java
Due: Core

build(core): update commit message and description for translation-related pull requests (#8358)
  .github/workflows/generate-translations.yml
Due: none

fix(ui): command array should display properly in no-code (#8349)
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/flows/tasks/Task.js
  ui/tests/storybook/components/code/segments/Editor.stories.jsx
  ui/tests/storybook/components/executions/Executions.stories.jsx
  ui/tests/storybook/components/flows/FlowEditor.stories.jsx
  ui/tests/storybook/layout/SideBar.stories.jsx
Due: none

feat(core)*: allow closing all tabs at once in a single panel (#8360)
  ui/src/components/MultiPanelTabs.vue
Due: none

fix(flows)*: amend text color problem in no code editor on firefox (#8367)
  ui/src/components/code/components/collapse/Element.vue
Due: none

refactor(namespaces): remove the unused `maximize` property (#8380)
  ui/src/components/namespaces/utils/useHelpers.ts
  ui/src/override/components/namespaces/useTabs.ts
Due: none

feat(system)!: Describe our internal metrics
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/runners/WorkerTaskCallable.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  jdbc/src/main/java/io/kestra/jdbc/JooqExecuteListenerFactory.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcIndexer.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueueIndexer.java
Due: Core, Jdbc

feat(system): Allow to describe metrics (#1989)
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  core/src/main/java/io/kestra/core/models/executions/AbstractMetricEntry.java
  core/src/main/java/io/kestra/core/models/executions/MetricEntry.java
  core/src/main/java/io/kestra/core/models/executions/metrics/Counter.java
  core/src/main/java/io/kestra/core/models/executions/metrics/Timer.java
  core/src/main/java/io/kestra/core/models/tasks/metrics/AbstractMetric.java
  core/src/main/java/io/kestra/core/models/tasks/metrics/CounterMetric.java
  core/src/main/java/io/kestra/core/models/tasks/metrics/TimerMetric.java
  core/src/main/java/io/kestra/core/runners/DefaultRunContext.java
  core/src/test/java/io/kestra/core/runners/RunContextTest.java
Due: Core

feat(core)*: implement redirection to flow creation page on skipping tutorial (#8333)
  ui/src/components/onboarding/VueTour.vue
Due: none

test(core): make storybook tests pass with less warnings (#8382)
  ui/src/components/dashboard/components/States.vue
  ui/src/components/dashboard/components/charts/executions/BarChart.vue
  ui/src/components/dashboard/components/charts/executions/Doughnut.vue
  ui/src/components/dashboard/components/charts/executions/Namespace.vue
  ui/src/components/dashboard/components/charts/logs/Bar.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/filter/components/Label.vue
  ui/src/components/filter/utils/types.ts
  ui/src/components/inputs/EditorView.vue
  ui/src/components/stats/StateChart.vue
  ui/src/utils/charts.js
  ui/src/utils/scheme.ts
  ui/src/utils/utils.ts
  ui/tests/storybook/components/dashboard/charts/executions/Bar.stories.jsx
  ui/tests/storybook/components/dashboard/charts/executions/BarChart.stories.jsx
  ui/tests/storybook/components/dashboard/charts/executions/Namespace.stories.jsx
  ui/tests/storybook/components/dashboard/components/Card.stories.tsx
  ui/tests/storybook/components/executions/ForEachStatus.stories.jsx
  ui/tests/storybook/components/filter/components/Label.stories.tsx
  ui/tests/storybook/components/flows/FlowEditor.stories.jsx
  ui/tests/storybook/components/inputs/LowCodeEditor.stories.jsx
  ui/tests/storybook/components/logs/LogLine.stories.jsx
  ui/tests/storybook/theme/ShowCase.vue
Due: none

feat(core): add a confirmation dialog before leaving the settings page (#8365)
  ui/src/components/settings/BasicSettings.vue
  ui/src/translations/en.json
Due: none

chore(webserver): amend copy&pasted description (#8346)
  webserver/src/main/java/io/kestra/webserver/controllers/api/TriggerController.java
Due: none

docs(core): update plugin titles and descriptions (#8390)
  core/src/main/java/io/kestra/plugin/core/debug/Echo.java
  core/src/main/java/io/kestra/plugin/core/execution/Assert.java
  core/src/main/java/io/kestra/plugin/core/execution/Count.java
  core/src/main/java/io/kestra/plugin/core/execution/Exit.java
  core/src/main/java/io/kestra/plugin/core/execution/Fail.java
  core/src/main/java/io/kestra/plugin/core/execution/Resume.java
  core/src/main/java/io/kestra/plugin/core/flow/Dag.java
  core/src/main/java/io/kestra/plugin/core/flow/EachParallel.java
  core/src/main/java/io/kestra/plugin/core/flow/EachSequential.java
  core/src/main/java/io/kestra/plugin/core/flow/Pause.java
  core/src/main/java/io/kestra/plugin/core/flow/Sequential.java
  core/src/main/java/io/kestra/plugin/core/flow/Sleep.java
  core/src/main/java/io/kestra/plugin/core/flow/Subflow.java
  core/src/main/java/io/kestra/plugin/core/flow/Switch.java
  core/src/main/java/io/kestra/plugin/core/flow/Template.java
  core/src/main/java/io/kestra/plugin/core/http/Download.java
  core/src/main/java/io/kestra/plugin/core/http/Request.java
  core/src/main/java/io/kestra/plugin/core/kv/Delete.java
  core/src/main/java/io/kestra/plugin/core/kv/Get.java
  core/src/main/java/io/kestra/plugin/core/kv/GetKeys.java
  core/src/main/java/io/kestra/plugin/core/log/PurgeLogs.java
  core/src/main/java/io/kestra/plugin/core/metric/Publish.java
  core/src/main/java/io/kestra/plugin/core/state/Delete.java
  core/src/main/java/io/kestra/plugin/core/state/Get.java
  core/src/main/java/io/kestra/plugin/core/state/Set.java
  core/src/main/java/io/kestra/plugin/core/storage/Concat.java
  core/src/main/java/io/kestra/plugin/core/storage/Delete.java
  core/src/main/java/io/kestra/plugin/core/storage/LocalFiles.java
  core/src/main/java/io/kestra/plugin/core/storage/Reverse.java
  core/src/main/java/io/kestra/plugin/core/storage/Size.java
  core/src/main/java/io/kestra/plugin/core/storage/Split.java
  core/src/main/java/io/kestra/plugin/core/storage/Write.java
  core/src/main/java/io/kestra/plugin/core/templating/TemplatedTask.java
  core/src/main/java/io/kestra/plugin/core/trigger/Webhook.java
Due: Core

test(ui): ignore unhandled canceled promises in storybook (#8394)
  ui/.storybook/preview.jsx
Due: none

fix(ui): navigation between flow editor and tabs - blank screen (#8392)
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/flows/FlowTriggers.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/inputs/EditorView.vue
Due: none

chore(dashboards)*: amend hover color of table top buttons on dashboard (#8388)
  ui/src/components/dashboard/components/tables/executions/InProgress.vue
  ui/src/components/dashboard/components/tables/executions/NextScheduled.vue
Due: none

fix(build): amend Node Gradle to reflect changes (#7970)
  .github/workflows/codeql-analysis.yml
  ui/build.gradle
Due: none

feat(core): allow to specify Pause task resume behavior (#8242)
  core/src/main/java/io/kestra/core/models/flows/State.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/main/java/io/kestra/plugin/core/flow/Pause.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/plugin/core/flow/PauseTest.java
  core/src/test/resources/flows/valids/pause-behavior.yaml
  core/src/test/resources/flows/valids/pause-duration-from-input.yaml
Due: Core

feat(core)*: allow moving of entire panels (#8377)
  ui/src/components/MultiPanelTabs.vue
Due: none

fix(core)*: allow horizontal scrolling of tabs in multi panel view (#8414)
  ui/src/components/MultiPanelTabs.vue
Due: none

chore(deps): regular dependency update (#8415)
  ui/package-lock.json
  ui/package.json
Due: none
