Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

chore(core): add padding around user image in left sidebar (#10553)
  ui/src/override/components/auth/Auth.vue
Due: none

fix(flows): copy trigger url propely. (#10645)
  ui/src/components/flows/TriggerAvatar.vue
Due: none

fix(flows): properly import pinia store into a dependency graph composable (#10646)
  ui/src/components/dependencies/composables/useDependencies.ts
Due: none

chore(core): lower the wheel sensitivity on zooming of dependency graph (#10647)
  ui/src/components/dependencies/composables/useDependencies.ts
  ui/src/override/components/auth/Auth.vue
Due: none

chore(core): amend edge color scheme in execution dependency graph (#10648)
  ui/src/components/dependencies/composables/useDependencies.ts
  ui/src/components/executions/ExecutionRoot.vue
Due: none

fix(core): update flow store usage. (#10649)
  ui/src/composables/monaco/languages/languagesConfigurator.ts
Due: none

refactor(core): remove revision property from flow nodes in dependency graph (#10650)
  ui/src/components/dependencies/components/Table.vue
  ui/src/components/dependencies/composables/useDependencies.ts
  ui/src/components/dependencies/utils/types.ts
  ui/tests/fixtures/dependencies/getDependencies.ts
Due: none

fix(core): ensure dependency table updates occur after dom is fully rendered (#10654)
  ui/src/components/dependencies/composables/useDependencies.ts
Due: none

chore(core): uniform dependency table namespace label (#10655)
  ui/src/components/dependencies/components/Table.vue
Due: none

chore(core): reload number of dependencies on flow save action (#10663)
  ui/src/components/flows/FlowRoot.vue
Due: none

build(core): create a docker image for each pull request (#10644)
  .github/workflows/workflow-pullrequest-delete-docker.yml
  .github/workflows/workflow-pullrequest-publish-docker.yml
  Dockerfile.pr
Due: none

fix(executions): properly fail the task if it contains unsupported unicode sequence
  core/src/main/java/io/kestra/core/queues/UnsupportedMessageException.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  jdbc-postgres/src/test/java/io/kestra/runner/postgres/PostgresQueueTest.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Core, Jdbc, Jdbc Postgres

feat(flows): add upstream dependencies in flow dependencies
  core/src/main/java/io/kestra/core/models/flows/FlowId.java
  core/src/main/java/io/kestra/core/services/FlowService.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Core

tests(core): add a test to taskrunners to ensure it's working multiple times on the same working directory
  tests/src/main/java/io/kestra/core/models/tasks/runners/AbstractTaskRunnerTest.java
Due: none

fix(flows): enable the save and makes tab dirty when have unsaved changes in no code (#10671)
  ui/src/components/code/NoCodeWrapper.vue
Due: none

feat(releases): add test jar to meven central deployment (#10675)
  build.gradle
Due: none

fix(metrics): restore autocompletion on metrics filter (#10688)
  ui/src/composables/monaco/languages/filters/impl/flowMetricFilterLanguage.ts
Due: none

fix(dashboard): properly use time filters in queries
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
Due: none

fix(dashboard): avoid duplicate dashboard calls + properly refresh dashboards on refresh button + don't discard component entirely on refresh
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/sections/Bar.vue
  ui/src/components/dashboard/sections/KPI.vue
  ui/src/components/dashboard/sections/Markdown.vue
  ui/src/components/dashboard/sections/Pie.vue
  ui/src/components/dashboard/sections/Sections.vue
  ui/src/components/dashboard/sections/Table.vue
  ui/src/components/dashboard/sections/TimeSeries.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/logs/LogsWrapper.vue
Due: none

fix(core): reduce size of code block text and padding (#10689)
  ui/src/styles/components/plugin-doc.scss
Due: none

fix(ui): more visible color for deafult edge (#10690)
  ui/src/components/dependencies/utils/style.ts
Due: none

fix(executions): correctly fail the request when trying to resume an execution with the wrong inputs
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: none

fix(system): avoid unsupported type error on ServiceType enum
  core/src/main/java/io/kestra/core/server/ServiceType.java
Due: Core

Feat/add filters to repositories (#10629)
  core/src/main/java/io/kestra/core/models/QueryFilter.java
  core/src/main/java/io/kestra/core/repositories/LogRepositoryInterface.java
  core/src/main/java/io/kestra/core/utils/Enums.java
  core/src/main/java/io/kestra/core/utils/ListUtils.java
  core/src/test/java/io/kestra/core/models/QueryFilterTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractTriggerRepositoryTest.java
  core/src/test/java/io/kestra/core/utils/EnumsTest.java
  core/src/test/java/io/kestra/core/utils/ListUtilsTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTriggerRepository.java
Due: Core, Jdbc

fix(flow): fixes flow deletion inside actions (#10693)
  ui/src/components/inputs/EditorButtonsWrapper.vue
  ui/src/stores/flow.ts
Due: none

feat(flows): Flow SLA out of beta
  core/src/main/java/io/kestra/core/models/flows/Flow.java
Due: Core

fix(executions): concurrency limit exceeded when restarting an execution
  core/src/main/java/io/kestra/core/models/flows/State.java
  core/src/main/java/io/kestra/core/runners/Executor.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/FlowConcurrencyCaseTest.java
  core/src/test/resources/flows/valids/flow-concurrency-queue-fail.yml
  jdbc/src/main/java/io/kestra/jdbc/runner/AbstractJdbcExecutionRunningStorage.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

fix(executions): SLA monitor should take into account restarted executions
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

fix: translation for sample prompt (#10696)
  ui/src/translations/en.json
Due: none

fix(core): fix misc store to access configs. (#10692)
  ui/src/stores/api.ts
  ui/src/utils/setupPosthog.ts
Due: none

fix(translation): close https://github.com/kestra-io/kestra/issues/9857
  .github/workflows/auto-translate-ui-keys.yml
Due: none

fix(core): Enter key is now validating filter / refreshing data (#9630)
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/inputs/Editor.vue
Due: none

chore(system): add WorkerJobQueueInterface to properly pass workerId on subscribe
  core/src/main/java/io/kestra/core/queues/QueueFactoryInterface.java
  core/src/main/java/io/kestra/core/queues/WorkerJobQueueInterface.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  jdbc-h2/src/main/java/io/kestra/runner/h2/H2QueueFactory.java
  jdbc-h2/src/main/java/io/kestra/runner/h2/H2WorkerJobQueue.java
  jdbc-mysql/src/main/java/io/kestra/runner/mysql/MysqlQueueFactory.java
  jdbc-mysql/src/main/java/io/kestra/runner/mysql/MysqlWorkerJobQueue.java
  jdbc-postgres/src/main/java/io/kestra/runner/postgres/PostgresQueueFactory.java
  jdbc-postgres/src/main/java/io/kestra/runner/postgres/PostgresWorkerJobQueue.java
  jdbc/src/main/java/io/kestra/jdbc/JdbcWorkerJobQueueService.java
Due: Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres

fix(core): pass viewTypes to initYamlSource (#10704)
  ui/src/components/flows/FlowCreate.vue
Due: none

fix(execution): concurrency limit didn't work with afterExecutions
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/FlowConcurrencyCaseTest.java
  core/src/test/java/io/kestra/plugin/core/flow/ForEachItemCaseTest.java
  core/src/test/resources/flows/valids/flow-concurrency-queue-after-execution.yml
  core/src/test/resources/flows/valids/for-each-item-after-execution.yaml
  core/src/test/resources/flows/valids/for-each-item-subflow-after-execution.yaml
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

wip(storages): add non tenant dependant method to storage interface (#10637)
  core/src/main/java/io/kestra/core/storages/StorageInterface.java
  core/src/test/java/io/kestra/core/models/executions/VariablesTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionServiceTest.java
  core/src/test/java/io/kestra/core/runners/FlowInputOutputTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FunctionTestUtils.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/KvFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/ReadFileFunctionTest.java
  core/src/test/java/io/kestra/core/services/KVStoreServiceTest.java
  core/src/test/java/io/kestra/core/storages/InternalKVStoreTest.java
  core/src/test/java/io/kestra/core/storages/InternalNamespaceTest.java
  core/src/test/java/io/kestra/plugin/core/execution/PurgeExecutionsTest.java
  core/src/test/java/io/kestra/plugin/core/kv/DeleteTest.java
  core/src/test/java/io/kestra/plugin/core/kv/GetKeysTest.java
  core/src/test/java/io/kestra/plugin/core/kv/GetTest.java
  core/src/test/java/io/kestra/plugin/core/kv/SetTest.java
  core/src/test/java/io/kestra/plugin/core/storage/PurgeCurrentExecutionFilesTest.java
  storage-local/src/main/java/io/kestra/storage/local/LocalStorage.java
  tests/src/main/java/io/kestra/core/context/TestRunContextFactory.java
  tests/src/main/java/io/kestra/core/storage/StorageTestSuite.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/KVControllerTest.java
Due: Core, Storage Local

fix(): subgroups for better readability
  core/src/main/java/io/kestra/plugin/core/http/package-info.java
  core/src/main/java/io/kestra/plugin/core/kv/package-info.java
Due: Core

fix(tests): makes JdbcQueueTest less flaky
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcQueueTest.java
Due: Jdbc

chore(ci): don't run docker PR image workflow on forks
  .github/workflows/workflow-pullrequest-delete-docker.yml
  .github/workflows/workflow-pullrequest-publish-docker.yml
Due: none
