Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(tests): TestSuite fields were almost all required in openapi spec
  core/src/main/java/io/kestra/core/test/TestSuite.java
  core/src/main/java/io/kestra/core/test/flow/Assertion.java
  core/src/main/java/io/kestra/core/test/flow/Fixtures.java
  core/src/main/java/io/kestra/core/test/flow/TaskFixture.java
  core/src/main/java/io/kestra/core/test/flow/TriggerFixture.java
  core/src/main/java/io/kestra/core/test/flow/UnitTest.java
Due: Core

fix(ui): adjust logo in collapsed state (#9761)
  ui/src/components/layout/SideBar.vue
Due: none

feat(core): add button to copy all logs to clipboard (#9763)
  ui/src/components/executions/Logs.vue
Due: none

fix(taskrunner): abstract task runner (#9769)
  tests/src/main/java/io/kestra/core/models/tasks/runners/AbstractTaskRunnerTest.java
Due: none

chore(dashboards): always updating chart previews on dashboard creation (#9536)
  ui/src/components/dashboard/components/Editor.vue
Due: none

fix(guides): crawl into sub-folders
  core/src/main/java/io/kestra/core/plugins/PluginScanner.java
Due: Core

Update Request.java multiline JSON example
  core/src/main/java/io/kestra/plugin/core/http/Request.java
Due: Core

chore(deps): regular dependency update (#9779)
  ui/package-lock.json
  ui/package.json
Due: none

fix(system)*: mitigate possible deadlock for execution delay and SLA
  jdbc/src/main/java/io/kestra/jdbc/runner/AbstractJdbcExecutionDelayStorage.java
  jdbc/src/main/java/io/kestra/jdbc/runner/AbstractJdbcSLAMonitorStorage.java
Due: Jdbc

feat(flows): allow setting worker group at the flow level
  core/src/main/java/io/kestra/core/models/flows/AbstractFlow.java
  core/src/main/java/io/kestra/core/models/flows/FlowInterface.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/services/WorkerGroupService.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

fix(core): increase max encode size to avoid icons fetch timeout (#9782)
  cli/src/main/resources/application.yml
Due: Cli

refactor(ui): migrate bookmarks store to pinia (#9685)
  ui/src/components/layout/BookmarkLink.vue
  ui/src/components/layout/SideBar.vue
  ui/src/components/layout/TopNavBar.vue
  ui/src/stores/bookmarks.js
  ui/src/stores/bookmarks.ts
  ui/src/stores/store.js
  ui/src/vuex-shims.d.ts
Due: none

feat(flows): add resumed information to the Pause task
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/main/java/io/kestra/plugin/core/execution/Resume.java
  core/src/main/java/io/kestra/plugin/core/flow/Pause.java
  core/src/test/java/io/kestra/core/runners/ExecutionServiceTest.java
  core/src/test/java/io/kestra/plugin/core/flow/PauseTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

feat(gemini): add the plugin to .plugins
  .plugins
Due: none

fix(tests): deleted db serialization was broken in recent commit
  core/src/main/java/io/kestra/core/test/TestSuite.java
  core/src/main/java/io/kestra/core/test/flow/Fixtures.java
  core/src/main/java/io/kestra/core/test/flow/TaskFixture.java
  core/src/main/java/io/kestra/core/test/flow/TriggerFixture.java
  core/src/main/java/io/kestra/core/test/flow/UnitTest.java
Due: Core

fix(system): revert Property type changed to string in openapi spec
  core/src/main/java/io/kestra/core/models/property/Property.java
Due: Core

feat(core): add useDataTableActions composable (#9777)
  ui/src/composables/useDataTableActions.ts
Due: none

fix(flow): avoid calling icons api more than once (#9784)
  ui/src/stores/plugins.ts
Due: none

fix(flows): restore dag open tabs after hard refresh (#9792)
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/flows/useNoCodePanels.ts
Due: none

chore(flows): rename retry maxAttempt to maxAttemps
  core/src/main/java/io/kestra/core/models/executions/TaskRun.java
  core/src/main/java/io/kestra/core/models/tasks/retrys/AbstractRetry.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/ErrorLogsFunction.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/main/java/io/kestra/core/utils/RetryUtils.java
  core/src/test/java/io/kestra/core/runners/ListenersTestTask.java
  core/src/test/java/io/kestra/core/serializers/YamlParserTest.java
  core/src/test/java/io/kestra/core/utils/RetryUtilsTest.java
  core/src/test/java/io/kestra/core/validations/ConstantRetryValidationTest.java
  core/src/test/java/io/kestra/core/validations/ExponentialRetryValidationTest.java
  core/src/test/java/io/kestra/core/validations/RandomRetryValidationTest.java
  core/src/test/resources/flows/invalids/duplicate-parallel.yaml
  core/src/test/resources/flows/valids/full.yaml
  core/src/test/resources/flows/valids/retry-dynamic-task.yaml
  core/src/test/resources/flows/valids/retry-expo.yaml
  core/src/test/resources/flows/valids/retry-fail.yaml
  core/src/test/resources/flows/valids/retry-failed-flow-attempts.yml
  core/src/test/resources/flows/valids/retry-failed-task-attempts.yml
  core/src/test/resources/flows/valids/retry-failed.yaml
  core/src/test/resources/flows/valids/retry-flowable-child.yaml
  core/src/test/resources/flows/valids/retry-flowable-nested-child.yaml
  core/src/test/resources/flows/valids/retry-flowable-parallel.yaml
  core/src/test/resources/flows/valids/retry-flowable.yaml
  core/src/test/resources/flows/valids/retry-new-execution-flow-attempts.yml
  core/src/test/resources/flows/valids/retry-new-execution-task-attempts.yml
  core/src/test/resources/flows/valids/retry-random.yaml
  core/src/test/resources/flows/valids/retry-subflow.yaml
  core/src/test/resources/flows/valids/retry-success-first-attempt.yaml
  core/src/test/resources/flows/valids/retry-success.yaml
  core/src/test/resources/flows/valids/task-allow-failure-runnable.yml
  core/src/test/resources/flows/valids/task-allow-warning-runnable.yml
  jdbc/src/main/java/io/kestra/jdbc/JooqDSLContextWrapper.java
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
Due: Core, Jdbc, Script

feat(system): repoll immediatly when a poll returns resutls in the queue
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

chore(logs): remove double scrollbar on the logs page (#9670)
  ui/src/components/logs/TaskRunDetails.vue
Due: none

chore(dashboards): move store module from vuex to pinia (#9796)
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/components/Create.vue
  ui/src/components/dashboard/components/Editor.vue
  ui/src/components/dashboard/composables/useDashboards.ts
  ui/src/components/filter/segments/Dashboards.vue
  ui/src/override/components/dashboard/Edit.vue
  ui/src/stores/dashboard.ts
  ui/src/stores/store.js
  ui/src/vuex-shims.d.ts
Due: none

fix(triggers): correctly replace the update triggers when disabling
  ui/src/components/admin/Triggers.vue
Due: none

feat(triggers): avoid clearing selection when refreshing in triggers list
  ui/src/components/admin/Triggers.vue
  ui/src/components/layout/SelectTable.vue
Due: none

fix(flows): finish YAML_UTILS refactoring (#9795)
  ui/src/components/flows/TaskEdit.vue
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/mixins/flowTemplateEdit.js
  ui/src/stores/plugins.ts
Due: none

feat(cicd): #4006 migrate sonatype to maven central (#9803)
  .github/workflows/workflow-publish-maven.yml
  .github/workflows/workflow-release.yml
  build.gradle
  cli/build.gradle
  jdbc-mysql/build.gradle
  jdbc-postgres/build.gradle
  platform/build.gradle
  webserver/build.gradle
Due: Cli, Jdbc Mysql, Jdbc Postgres, Platform

docs(dashboards): fix example indentations (#9802)
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Executions.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/ExecutionsKPI.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Logs.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/LogsKPI.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Metrics.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/MetricsKPI.java
Due: Core

fix(dashboards): properly show default charts on logs page (#9800)
  ui/src/components/logs/LogsWrapper.vue
Due: none

feat(core): introduce AI agent (#9733)
  core/src/main/java/io/kestra/core/docs/ClassPluginDocumentation.java
  core/src/main/java/io/kestra/core/docs/DocumentationGenerator.java
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/main/java/io/kestra/core/exceptions/AiException.java
  core/src/main/java/io/kestra/core/plugins/RegisteredPlugin.java
  core/src/test/java/io/kestra/core/docs/ClassPluginDocumentationTest.java
  core/src/test/java/io/kestra/core/docs/DocumentationGeneratorTest.java
  ui/src/assets/icons/ai-agent.svg
  ui/src/components/ai/AiAgent.vue
  ui/src/components/ai/AiIcon.vue
  ui/src/components/flows/FlowRevisions.vue
  ui/src/components/inputs/AcceptDecline.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/stores/ai.ts
  ui/src/stores/store.js
  ui/src/translations/en.json
  webserver/build.gradle
  webserver/src/main/java/io/kestra/webserver/controllers/ErrorController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/AiController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/PluginController.java
  webserver/src/main/java/io/kestra/webserver/models/ai/FlowGenerationPrompt.java
  webserver/src/main/java/io/kestra/webserver/services/ai/AiServiceInterface.java
  webserver/src/main/java/io/kestra/webserver/services/ai/gemini/GeminiAiService.java
  webserver/src/main/java/io/kestra/webserver/services/ai/gemini/GeminiConfiguration.java
Due: Core

feat(cicd): #4006 migrate to maven central (#9807)
  build.gradle
  cli/build.gradle
Due: Cli

feat(core): add Pebble HTTP function (#9786)
  core/build.gradle
  core/src/main/java/io/kestra/core/http/client/HttpClient.java
  core/src/main/java/io/kestra/core/runners/RunContextFactory.java
  core/src/main/java/io/kestra/core/runners/VariableRenderer.java
  core/src/main/java/io/kestra/core/runners/pebble/Extension.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/HttpFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/RenderFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/RenderOnceFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/RenderingFunctionInterface.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/SecretFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/TasksWithStateFunction.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/HttpFunctionTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

fix(core): add config from backend that sends whether the AI feature is configured or not
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  webserver/src/main/java/io/kestra/webserver/controllers/api/AiController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscControllerTest.java
Due: none

fix(core): remove prerendering + restrict only secret function in debug expression (#9816)
  core/src/main/java/io/kestra/core/runners/VariableRenderer.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

fix(system): fix ExecutionControllerRunnerTest.resumeExecutionPaused()
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: none

feat(cicd): #4006 change signing method (#9854)
  .github/workflows/workflow-publish-maven.yml
  .github/workflows/workflow-release.yml
Due: none

chore(deps): regular dependency update (#9855)
  ui/package-lock.json
  ui/package.json
Due: none

fix(namespaces)*: take pagination into account when browsing namespace flows (#9849)
  ui/src/components/flows/Flows.vue
Due: none

docs(tests,flows): set loosely types fields like input and variable as additional properties
  core/src/main/java/io/kestra/core/models/flows/AbstractFlow.java
  core/src/main/java/io/kestra/core/models/flows/Flow.java
  core/src/main/java/io/kestra/core/test/flow/Fixtures.java
Due: Core

feat(flows): remove worker grou validation
  core/src/main/java/io/kestra/core/models/tasks/WorkerGroup.java
  core/src/main/java/io/kestra/core/services/WorkerGroupService.java
  core/src/main/java/io/kestra/core/validations/WorkerGroupValidation.java
  core/src/main/java/io/kestra/core/validations/validator/WorkerGroupValidator.java
  core/src/test/java/io/kestra/core/models/flows/FlowTest.java
  core/src/test/resources/flows/invalids/worker-group.yaml
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcServiceLivenessCoordinatorTest.java
Due: Core, Jdbc
