Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

fix(core): Avoid calling Worker post construct method twice
  core/src/main/java/io/kestra/core/runners/Worker.java
Due: Core

fix(ui): display back core property if not in a task
  ui/src/components/inputs/EditorView.vue
Due: none

fix(docs): add parallel example
  core/src/main/java/io/kestra/plugin/core/flow/Parallel.java
Due: Core

Adjusted the CI to skip frontend and backend tests for commits/PRs containing the 'docs-only' text. #6729 (#7756)
  .github/workflows/pull-request.yml
  .github/workflows/workflow-test.yml
Due: none

docs: kv pebble (#7886)
  core/src/main/java/io/kestra/plugin/core/kv/Get.java
Due: Core

feat(cli): add new --all option to plugin install cmd (#7375)
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginInstallCommand.java
  core/src/main/java/io/kestra/core/plugins/PluginCatalogService.java
Due: Cli, Core

feat(core): add Kestra env name and URL to the expression context
  core/src/main/java/io/kestra/core/runners/RunContextFactory.java
  core/src/main/java/io/kestra/core/runners/RunVariables.java
  core/src/test/java/io/kestra/core/runners/RunVariablesTest.java
  ui/src/override/services/flowAutoCompletionProvider.ts
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
Due: Core

feat(webserver): add Kestra URL to the config endpoint
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
Due: none

refactor(ui): remove the obsolete console statement (#7887)
  ui/src/components/inputs/EditorView.vue
Due: none

fix: remove labels from an execution (#7256)
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
Due: none

fix(docs): schedule example
  core/src/main/java/io/kestra/plugin/core/trigger/Schedule.java
Due: Core

fix(docs): fail examples
  core/src/main/java/io/kestra/plugin/core/execution/Fail.java
  core/src/main/java/io/kestra/plugin/core/flow/AllowFailure.java
Due: Core

fix(docs): typos
  core/src/main/java/io/kestra/plugin/core/execution/Fail.java
  core/src/main/java/io/kestra/plugin/core/trigger/Schedule.java
Due: Core

chore(ui): complete refactor of yaml utils (#7888)
  ui/package-lock.json
  ui/package.json
  ui/src/components/code/NoCode.vue
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/dashboard/components/DashboardEditor.vue
  ui/src/components/flows/FlowCreate.vue
  ui/src/components/flows/FlowRootTopBar.vue
  ui/src/components/flows/MetadataEditor.vue
  ui/src/components/flows/TaskEdit.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/blueprints/BlueprintDetail.vue
  ui/src/components/flows/tasks/Task.js
  ui/src/components/flows/tasks/TaskCondition.vue
  ui/src/components/flows/tasks/TaskExpression.vue
  ui/src/components/flows/tasks/TaskTask.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/InputsForm.vue
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/mixins/flowTemplateEdit.js
  ui/src/override/services/flowAutoCompletionProvider.ts
  ui/src/services/autoCompletionProvider.ts
  ui/src/stores/flow.js
  ui/src/stores/template.js
  ui/src/utils/inputs.js
  ui/src/utils/yamlUtils.ts
  ui/tests/storybook/components/flows/FlowEditor.stories.jsx
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
  ui/tests/unit/utils/flowUtils.spec.js
  ui/tests/unit/utils/yamlUtils.spec.ts
Due: none

fix(ui): use container queries for dashboard (#7889)
  ui/src/components/dashboard/Dashboard.vue
Due: none

chore(ui): create flow button on welcome page to start product tour (#7906)
  ui/src/components/onboarding/Welcome.vue
Due: none

feat(ui): add copy button to kv store listing rows (#7907)
  ui/src/components/executions/date-select/TimeSelect.vue
  ui/src/components/namespace/NamespaceKV.vue
  ui/src/translations/en.json
Due: none

chore(ui): show loading skeletons on dashboard (#7417)
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/components/charts/executions/Bar.vue
  ui/src/components/dashboard/components/charts/executions/BarChart.vue
  ui/src/components/dashboard/components/charts/executions/Doughnut.vue
  ui/src/components/dashboard/components/charts/logs/Bar.vue
  ui/src/components/dashboard/components/tables/executions/EmptyNextScheduled.vue
  ui/src/components/dashboard/components/tables/executions/InProgress.vue
  ui/src/components/dashboard/components/tables/executions/NextScheduled.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/logs/LogsWrapper.vue
Due: none

chore(ui): use the correct shadow on charts (#7752)
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/logs/LogsWrapper.vue
Due: none

chore(ui): change display on gantt page for created & queued executions (#7706)
  ui/src/assets/queued_visual.svg
  ui/src/components/Tabs.vue
  ui/src/components/executions/ExecutionPending.vue
  ui/src/components/executions/Gantt.vue
  ui/src/styles/app.scss
  ui/src/translations/en.json
Due: none

chore(ui): improve charts horizontal scrollbar (#7508)
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/components/charts/executions/Bar.vue
Due: none

Revert "Adjusted the CI to skip frontend and backend tests for commits/PRs co…" (#7910)
  .github/workflows/pull-request.yml
  .github/workflows/workflow-test.yml
Due: none

chore(core): merge outputs only when necessary
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/test/java/io/kestra/plugin/core/flow/WaitForCaseTest.java
Due: Core

chore(ui): properly sanitize execution errors markdown content before rendering (#7914)
  ui/src/components/executions/Overview.vue
  ui/src/translations/en.json
Due: none

feat(ui): implement a default tab setting for flows (#7917)
  ui/src/components/executions/ExecutionRoot.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/translations/en.json
Due: none

fix(core): avoid ClassCastException when parsing flow inputs (#7882)
  core/src/main/java/io/kestra/core/runners/FlowInputOutput.java
Due: Core

fix(ui): amend displaying large amount of logs (#7923)
  ui/src/components/inputs/EditorView.vue
  ui/src/components/logs/TaskRunDetails.vue
Due: none

fix: disable micronaut otel by default
  cli/src/main/resources/application.yml
Due: Cli

Update documentation Switch core task (#6792)
  core/src/main/java/io/kestra/plugin/core/flow/Switch.java
Due: Core

[fix] fix sleep assert comparison (#7924)
  core/src/test/resources/sanity-checks/sleep.yaml
Due: Core

chore(): change docker image used for AbstractTaskRunnerTest
  script/src/test/java/io/kestra/plugin/scripts/runner/docker/DockerTest.java
Due: Script

fix(cli): return exit 0 in CLI plugins cmd
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginInstallCommand.java
Due: Cli

feat!: make kv pebble function raise error by default (#7855)
  core/src/main/java/io/kestra/core/runners/pebble/functions/KvFunction.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/KvFunctionTest.java
Due: Core

feat(ui): add the option to copy single/all logs to clipboard (#7755)
  ui/src/components/executions/TaskRunLine.vue
  ui/src/components/layout/CopyToClipboard.vue
  ui/src/components/logs/LogLine.vue
  ui/src/components/logs/TaskRunDetails.vue
  ui/src/translations/en.json
Due: none

fix: OpenTelemetry should be optional
  core/src/main/java/io/kestra/core/runners/ExecutableUtils.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/trace/TracerFactory.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: Core

feat(ui): add beta badge global component (#7934)
  ui/src/components/global/BetaBadge.vue
  ui/src/components/layout/TopNavBar.vue
Due: none

fix(*): Improve log timestamp precision + allow to override timestamp… (#7847)
  core/src/main/java/io/kestra/core/models/tasks/runners/AbstractLogConsumer.java
  core/src/main/java/io/kestra/core/models/tasks/runners/DefaultLogConsumer.java
  core/src/main/java/io/kestra/core/models/tasks/runners/PluginUtilsService.java
  core/src/main/java/io/kestra/core/runners/DefaultRunContext.java
  core/src/main/java/io/kestra/core/runners/RunContext.java
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
  core/src/main/resources/logback/base.xml
  core/src/test/java/io/kestra/core/runners/RunContextTest.java
  jdbc-h2/src/main/resources/migrations/h2/V1_32__logs_timestamp_microseconds.sql
  jdbc/src/main/java/io/kestra/jdbc/JdbcMapper.java
  jdbc/src/test/java/io/kestra/jdbc/JdbcMapperTest.java
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcRunnerTest.java
  tests/src/main/java/io/kestra/core/models/tasks/runners/AbstractTaskRunnerTest.java
Due: Core, Jdbc, Jdbc H2

feat(model, core): document tasks props that are internal storage URI
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/main/java/io/kestra/plugin/core/storage/Concat.java
  core/src/main/java/io/kestra/plugin/core/storage/DeduplicateItems.java
  core/src/main/java/io/kestra/plugin/core/storage/Delete.java
  core/src/main/java/io/kestra/plugin/core/storage/FilterItems.java
  core/src/main/java/io/kestra/plugin/core/storage/Reverse.java
  core/src/main/java/io/kestra/plugin/core/storage/Size.java
  core/src/main/java/io/kestra/plugin/core/storage/Split.java
  core/src/test/java/io/kestra/core/docs/ClassPluginDocumentationTest.java
  core/src/test/java/io/kestra/core/docs/JsonSchemaGeneratorTest.java
  core/src/test/java/io/kestra/core/models/property/DynamicPropertyExampleTask.java
  model/src/main/java/io/kestra/core/models/annotations/PluginProperty.java
  ui/package-lock.json
  ui/package.json
Due: Core, Model

feat(core): add correlationId to the Flow trigger
  core/src/main/java/io/kestra/plugin/core/trigger/Flow.java
  core/src/test/java/io/kestra/plugin/core/trigger/FlowTest.java
Due: Core

chore(ui): remove the flow topology control button from image export (#7937)
  ui/package-lock.json
  ui/package.json
  ui/src/components/Status.vue
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
