Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(security): add back www-authenticate header (#10018)
  ui/src/App.vue
  ui/src/main.js
  ui/src/routes/routes.js
  ui/src/stores/misc.ts
  webserver/src/main/java/io/kestra/webserver/filter/AuthenticationFilter.java
  webserver/src/main/java/io/kestra/webserver/services/BasicAuthService.java
Due: none

fix(security): remove the authorization header (#10025)
  webserver/src/main/java/io/kestra/webserver/filter/AuthenticationFilter.java
Due: none

fix(triggers): disable backfill execution based on yaml definition (#10026)
  ui/src/components/admin/Triggers.vue
  ui/src/components/flows/FlowTriggers.vue
Due: none

feat(dashboards): implement the table data export functionality (#9911)
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Table.java
  platform/build.gradle
  ui/src/components/dashboard/composables/useDashboards.ts
  ui/src/components/dashboard/sections/Sections.vue
  ui/src/stores/dashboard.ts
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
  webserver/build.gradle
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
  webserver/src/main/java/io/kestra/webserver/models/ChartFiltersOverrides.java
  webserver/src/main/java/io/kestra/webserver/utils/CSVUtils.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/DashboardControllerTest.java
  webserver/src/test/java/io/kestra/webserver/utils/CSVUtilsTest.java
Due: Core, Platform

fix(ui): fixes color for icon and label in light theme (#10032)
  ui/src/components/basicauth/BasicAuthSetup.vue
Due: none

fix(flows): possible NPE at flow validation
  core/src/main/java/io/kestra/core/validations/validator/FlowValidator.java
Due: Core

fix(security): use the login/pass of basicAuth for all api urls (#10027)
  ui/src/App.vue
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/components/basicauth/BasicAuthSetup.vue
  ui/src/main.js
  ui/src/override/components/auth/Auth.vue
  ui/src/override/utils/route.ts
  ui/src/stores/auth.ts
  ui/src/utils/axios.ts
  ui/src/utils/basicAuth.ts
Due: none

feat(system): use available processor count number of executor threads
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

feat(tests): impl disabling testcase
  core/src/main/java/io/kestra/core/test/TestSuiteRunResult.java
  core/src/main/java/io/kestra/core/test/flow/UnitTestResult.java
  core/src/test/java/io/kestra/core/test/TestSuiteRunResultTest.java
Due: Core

test(executions): improve reliability of the ExecutionControllerRunnerTest
  platform/build.gradle
  webserver/build.gradle
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Platform

fix(system): merge flowable outputs when terminated
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
Due: Core

chore(system): avoid calling TaskRun.toStringState() when not needed
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
Due: Core

fix(core): streamlining base URL creation (#10039)
  ui/src/override/utils/route.ts
Due: none

fix(core): login setup failures when baseUrl is empty (#10041)
  ui/src/override/utils/route.ts
Due: none

test(storage): unflaky StorageTestSuite.filesByPrefix
  tests/src/main/java/io/kestra/core/storage/StorageTestSuite.java
Due: none

build: remove codecov for ui #10038
  codecov.yml
Due: none

chore(system): avoid calling allTaskWithChild when computing plugin defaults
  core/src/main/java/io/kestra/core/services/PluginDefaultService.java
Due: Core

fix(core): basic auth is now handled through cookies, header then challenge so that SSE sends it (#10043)
  ui/src/App.vue
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/override/utils/route.ts
  ui/src/utils/axios.ts
  ui/src/utils/basicAuth.ts
  webserver/src/main/java/io/kestra/webserver/filter/AuthenticationFilter.java
  webserver/src/test/java/io/kestra/webserver/filter/AuthenticationFilterTest.java
Due: none

fix(core): strict samesite for basic auth cookie
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/utils/basicAuth.ts
Due: none

test(e2e): include E2E tests in PR CI (#10036)
  .github/workflows/e2e.yml
  .github/workflows/pull-request.yml
  build-and-start-e2e-tests.sh
  ui/run-e2e-tests.sh
  ui/tests/e2e/data/application-postgres.yml
  ui/tests/e2e/docker-compose-postgres.yml
  ui/tests/e2e/flow.spec.ts
  ui/tests/e2e/playwright.config.ts
  ui/tests/e2e/start-e2e-tests-backend.sh
Due: none

refactor(core): migrate misc store module to pinia (#10048)
  ui/src/App.vue
  ui/src/components/ContextInfoBar.vue
  ui/src/components/admin/stats/Usages.vue
  ui/src/components/basicauth/BasicAuthSetup.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/executions/FilePreview.vue
  ui/src/components/executions/SetLabels.vue
  ui/src/components/flows/FlowMetrics.vue
  ui/src/components/flows/FlowRun.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/labels/LabelInput.vue
  ui/src/components/layout/Environment.vue
  ui/src/components/layout/OnlyLeftMenuLayout.vue
  ui/src/components/namespaces/components/NamespaceSelect.vue
  ui/src/components/plugins/Plugin.vue
  ui/src/components/plugins/PluginDocumentation.vue
  ui/src/components/plugins/PluginDocumentationWrapper.vue
  ui/src/components/secrets/Secrets.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/components/stats/LogChart.vue
  ui/src/main.js
  ui/src/override/components/layout/DefaultLayout.vue
  ui/src/override/components/namespaces/Namespaces.vue
  ui/src/override/components/useLeftMenu.ts
  ui/src/stores/misc.ts
  ui/src/stores/miscs.js
  ui/src/stores/store.js
  ui/src/utils/utils.ts
  ui/src/vuex-shims.d.ts
  ui/tests/storybook/components/executions/Executions.stories.jsx
  ui/tests/storybook/components/executions/ExecutionsFilter.stories.jsx
Due: none

fix(gradle): be able to use publishToMavenLocal (#10047)
  build.gradle
Due: none

feat(core): hide deprecated elements in doc, autocompletion (only types), nocode (#10020)
  core/src/main/java/io/kestra/core/docs/Plugin.java
  ui/package-lock.json
  ui/package.json
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/components/Editor.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/plugins/PluginDocumentation.vue
  ui/src/components/plugins/PluginHome.vue
  ui/src/components/plugins/PluginSelect.vue
  ui/src/components/plugins/Toc.vue
  ui/src/composables/monaco/languages/abstractLanguageConfigurator.ts
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
  ui/src/composables/monaco/languages/languagesConfigurator.ts
  ui/src/composables/monaco/languages/yamlLanguageConfigurator.ts
  ui/src/mixins/flowTemplateEdit.js
  ui/src/stores/flow-schema.json
  ui/src/stores/plugins.ts
  ui/vite.config.js
  webserver/src/main/java/io/kestra/webserver/controllers/api/PluginController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/PluginControllerTest.java
Due: Core

fix(core): add proxy so that origin is the same as request url for workers (#10053)
  .devcontainer/README.md
  .github/CONTRIBUTING.md
  ui/vite.config.js
Due: none

fix(core): add an exception to avoid popping challenge in case of wrong credentials on login page (#10061)
  webserver/src/main/java/io/kestra/webserver/filter/AuthenticationFilter.java
  webserver/src/test/java/io/kestra/webserver/filter/AuthenticationFilterTest.java
Due: none

fix(ui): properly update theme switching (#10065)
  ui/src/App.vue
Due: none

fix(core): show plugin toc properly (#10068)
  ui/src/components/plugins/Toc.vue
  ui/src/styles/components/plugin-doc.scss
Due: none

fix(ui): update label styles for better visual (#10070)
  ui/src/components/layout/Labels.vue
Due: none

fix(docker-compose): cut the removed enabled flag
  docker-compose.yml
Due: none

fix: basic auth commented out by default to load setup page first
  docker-compose.yml
Due: none

fix(executions): add missing uuid property (#10078)
  ui/src/components/executions/Executions.vue
Due: none

fix(core): secrets as a tab. (#10072)
  ui/src/components/secrets/SecretsTable.vue
Due: none

feat(pebble): add a timestampMilli pebble function (#10064)
  core/src/main/java/io/kestra/core/runners/pebble/Extension.java
  core/src/main/java/io/kestra/core/runners/pebble/filters/TimestampMilliFilter.java
  core/src/test/java/io/kestra/core/runners/pebble/filters/DateFilterTest.java
  ui/src/assets/docs/basic.md
Due: Core

chore(executions): remove cancel button from resume dialog (#10051)
  ui/src/components/executions/Executions.vue
  ui/src/components/executions/Resume.vue
  ui/src/utils/toast.ts
Due: none

fix(core): remove deprecated properties from no code task selector (#10079)
  ui/src/components/plugins/PluginSelect.vue
Due: none

fix(ai): update styling for Accept/Decline (#10082)
  ui/src/components/inputs/AcceptDecline.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
Due: none

feat(tenants): provide an endpoint that list all tenants dependencies
  core/src/main/java/io/kestra/core/repositories/FlowTopologyRepositoryInterface.java
  core/src/test/java/io/kestra/core/repositories/AbstractFlowTopologyRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowTopologyRepository.java
  jdbc/src/test/java/io/kestra/jdbc/repository/AbstractJdbcFlowTopologyRepositoryTest.java
Due: Core, Jdbc

feat(executions): Allow unqueuing to states other than RUNNING #5939 (#8381)
  core/src/main/java/io/kestra/core/runners/ExecutionRunning.java
  core/src/main/java/io/kestra/core/services/ConcurrencyLimitService.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  jdbc/src/main/java/io/kestra/jdbc/services/JdbcConcurrencyLimitService.java
  ui/src/components/executions/Executions.vue
  ui/src/components/executions/Overview.vue
  ui/src/components/executions/Unqueue.vue
  ui/src/stores/executions.js
  ui/src/translations/en.json
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core, Jdbc
