Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

feat(storages): #10636 add get path without tenant id (#10740)
  core/src/main/java/io/kestra/core/storages/StorageInterface.java
  tests/src/main/java/io/kestra/core/storage/StorageTestSuite.java
Due: Core

Feat/add get path without tenant (#10741)
  core/src/main/java/io/kestra/core/storages/StorageInterface.java
  tests/src/main/java/io/kestra/core/storage/StorageTestSuite.java
Due: Core

refactor(misc): add misc module to override (#10737)
  ui/src/App.vue
  ui/src/components/ContextInfoBar.vue
  ui/src/components/SurveyDialog.vue
  ui/src/components/admin/stats/Usages.vue
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/components/basicauth/BasicAuthSetup.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/executions/FilePreview.vue
  ui/src/components/executions/SetLabels.vue
  ui/src/components/flows/FlowMetrics.vue
  ui/src/components/flows/FlowRun.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/labels/LabelInput.vue
  ui/src/components/layout/Environment.vue
  ui/src/components/layout/OnlyLeftMenuLayout.vue
  ui/src/components/namespaces/components/NamespaceSelect.vue
  ui/src/components/plugins/Plugin.vue
  ui/src/components/plugins/PluginDocumentation.vue
  ui/src/components/plugins/PluginDocumentationWrapper.vue
  ui/src/components/secrets/Secrets.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/components/stats/LogChart.vue
  ui/src/main.js
  ui/src/override/components/layout/DefaultLayout.vue
  ui/src/override/components/namespaces/Namespaces.vue
  ui/src/override/components/useLeftMenu.ts
  ui/src/override/stores/misc.ts
  ui/src/stores/api.ts
  ui/src/utils/setupPosthog.ts
  ui/src/utils/utils.ts
  ui/tests/storybook/components/executions/Executions.stories.jsx
  ui/tests/storybook/components/executions/ExecutionsFilter.stories.jsx
Due: none

fix: avoid file being displayed as diff in namespace file editor (#10746)
  ui/src/components/inputs/EditorView.vue
Due: none

fix(execution): parallel flowable may not ends all child flowable
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/test/java/io/kestra/plugin/core/flow/ParallelTest.java
  core/src/test/resources/flows/valids/parallel-fail-with-flowable.yaml
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

feat(storages): #10636 add tenant id to mock trigger (#10749)
  tests/src/main/java/io/kestra/core/utils/TestsUtils.java
Due: none

fix(tests): namespace binding was breaking filtering in Flow page
  ui/src/components/Tabs.vue
Due: none

fix(ui): fixes logo cut off on no permission interface (#10739)
  ui/src/components/layout/SideBar.vue
Due: none

fix: spelling
  ui/src/translations/en.json
Due: none

fix(test): disable kafka concurrency queue test (#10755)
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
Due: Core

fix(core): fix preconditions rendering for ExecutionOutputs (#10651)
  core/src/main/java/io/kestra/core/models/property/Property.java
  core/src/main/java/io/kestra/core/runners/RunContextProperty.java
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionOutputs.java
  core/src/test/java/io/kestra/core/runners/RunContextPropertyTest.java
Due: Core

fix(core): avoid triggering hundreds of reactivity updates for each icon (#10766)
  ui/src/stores/plugins.ts
Due: none

test(e2e): make sure used docker image is local
  build-and-start-e2e-tests.sh
Due: none

Revert "build(deps): bump com.gradleup.shadow from 8.3.9 to 9.0.1"
  build.gradle
Due: none

test(e2e): print logs if backend failed to start
  ui/tests/e2e/docker-compose-postgres.yml
  ui/tests/e2e/start-e2e-tests-backend.sh
Due: none

test(e2e): fix e2e marked as cancelled when near timeout
  .github/workflows/e2e.yml
  ui/tests/e2e/start-e2e-tests-backend.sh
Due: none

chore(deps): bump ui-libs from 0.0.237 to 0.0.238
  ui/package-lock.json
  ui/package.json
Due: none

refacto(namespaces): uniformize namespaces usage & retrieval
  ui/src/components/inputs/EditorView.vue
  ui/src/components/namespaces/components/NamespaceSelect.vue
  ui/src/components/secrets/SecretsTable.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/composables/monaco/languages/filters/impl/dashboardFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/executionFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/flowFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/logFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/taskRunFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/triggerFilterLanguage.ts
  ui/src/composables/useBaseNamespaces.ts
  ui/src/override/components/namespaces/Namespaces.vue
  ui/src/override/services/flowAutoCompletionProvider.ts
  ui/src/override/stores/namespaces.ts
  ui/src/override/utils/route.ts
  ui/src/pinia.d.ts
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
  ui/src/utils/init.js
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceControllerInterface.java
  webserver/src/main/java/io/kestra/webserver/models/api/ApiAutocomplete.java
  webserver/src/main/java/io/kestra/webserver/models/namespaces/NamespaceWithDisabled.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/NamespaceControllerTest.java
Due: none

refactor: migrate Splitpanes for Element Plus el-splitter. (#10669)
  ui/package-lock.json
  ui/package.json
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/executions/Kill.vue
  ui/src/components/flows/FlowPlayground.vue
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/splitpanes.d.ts
  ui/tests/storybook/components/MultiPanelTabs.stories.tsx
Due: none

refactor(executions): implement splitter for execution outputs (#10677)
  ui/src/components/executions/outputs/Wrapper.vue
Due: none

fix(core): show flow graph inside blueprint detail (#10771)
  ui/src/components/flows/blueprints/BlueprintDetail.vue
Due: none

feat(core): changes to introduce Namespace Context (#10750)
  ui/src/components/kv/KVTable.vue
  ui/src/components/layout/SelectTable.vue
  ui/src/components/secrets/SecretsTable.vue
Due: none

fix(kv): fixes KV creation using authStore
  ui/src/components/kv/KVTable.vue
Due: none

fix(tests): filter out ExecutionKind.TEST from FlowTriggers
  core/src/main/java/io/kestra/core/services/FlowTriggerService.java
  core/src/test/java/io/kestra/core/services/FlowTriggerServiceTest.java
Due: Core

fix(core): change cache policy on files returned by webserver that needs to stay fresh
  webserver/src/main/java/io/kestra/webserver/controllers/api/LogController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceFileController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/LogControllerTest.java
Due: none

fix(namespaces): properly send editor content upon creating / updating ns file
  ui/src/components/inputs/EditorWrapper.vue
Due: none

fix(ui): update context docs menu links and section titles (#10768)
  ui/src/components/docs/ContextDocsMenu.vue
Due: none

refactor(flows): rename MultiPanelFlowEditorView and extract MultiPanelEditorTabs component (#10783)
  ui/src/components/MultiPanelEditorTabs.vue
  ui/src/components/flows/FlowCreate.vue
  ui/src/components/flows/FlowEditor.vue
  ui/src/components/flows/MultiPanelFlowEditorView.vue
  ui/src/composables/useRouteContext.ts
  ui/src/stores/plugins.ts
Due: none

refactor(core): new No Data page when no versioned plugins (#10751)
  ui/src/components/layout/empty/Empty.vue
  ui/src/components/layout/empty/assets/visuals/versionPlugin.png
  ui/src/components/layout/empty/images.ts
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(webhook-trigger): fix documentation typos (#10790)
  core/src/main/java/io/kestra/plugin/core/trigger/Webhook.java
Due: Core

perf(sql):Optimize SQL performance by replacing SQL_CALC_FOUND_ROWS with COUNT(*)
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcDashboardRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcMetricRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTemplateRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTriggerRepository.java
Due: Jdbc

perf(sql):Optimize SQL performance by replacing SQL_CALC_FOUND_ROWS with COUNT(*)
  jdbc-mysql/src/main/java/io/kestra/repository/mysql/MysqlRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcDashboardRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTemplateRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTriggerRepository.java
Due: Jdbc, Jdbc Mysql

fix(tests): add test on task runners to assert they can work and transmit their wdir
  tests/src/main/java/io/kestra/core/models/tasks/runners/AbstractTaskRunnerTest.java
Due: none

feat(core): implement tab tracking on editor events (#10781)
  ui/src/App.vue
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/flows/MultiPanelFlowEditorView.vue
  ui/src/components/flows/useNoCodePanels.ts
  ui/src/stores/blueprints.ts
  ui/src/stores/editor.ts
  ui/src/stores/plugins.ts
  ui/src/utils/tabTracking.ts
Due: none

feat(system): add distinct server-events for reporting
  cli/src/main/resources/application.yml
  core/src/main/java/io/kestra/core/models/collectors/ServiceUsage.java
  core/src/main/java/io/kestra/core/models/collectors/Usage.java
  core/src/main/java/io/kestra/core/reporter/AbstractReportable.java
  core/src/main/java/io/kestra/core/reporter/Reportable.java
  core/src/main/java/io/kestra/core/reporter/ReportableRegistry.java
  core/src/main/java/io/kestra/core/reporter/ReportableScheduler.java
  core/src/main/java/io/kestra/core/reporter/Schedules.java
  core/src/main/java/io/kestra/core/reporter/ServerEvent.java
  core/src/main/java/io/kestra/core/reporter/ServerEventSender.java
  core/src/main/java/io/kestra/core/reporter/Type.java
  core/src/main/java/io/kestra/core/reporter/Types.java
  core/src/main/java/io/kestra/core/reporter/reports/FeatureUsageReport.java
  core/src/main/java/io/kestra/core/reporter/reports/PluginMetricReport.java
  core/src/main/java/io/kestra/core/reporter/reports/PluginUsageReport.java
  core/src/main/java/io/kestra/core/reporter/reports/ServiceUsageReport.java
  core/src/main/java/io/kestra/core/reporter/reports/SystemInformationReport.java
  core/src/main/java/io/kestra/core/services/CollectorScheduler.java
  core/src/main/java/io/kestra/core/services/CollectorService.java
  core/src/main/java/io/kestra/core/services/InstanceService.java
  core/src/test/java/io/kestra/core/reporter/SchedulesTest.java
  core/src/test/java/io/kestra/core/reporter/reports/AbstractFeatureUsageReportTest.java
  core/src/test/java/io/kestra/core/reporter/reports/AbstractServiceUsageReportTest.java
  core/src/test/java/io/kestra/core/reporter/reports/PluginMetricReportTest.java
  core/src/test/java/io/kestra/core/reporter/reports/SystemInformationReportTest.java
  core/src/test/java/io/kestra/core/services/CollectorServiceTest.java
  jdbc-h2/src/test/java/reports/H2FeatureUsageReportTest.java
  jdbc-h2/src/test/java/reports/H2ServiceUsageReportTest.java
  jdbc-mysql/src/test/java/reports/MysqlFeatureUsageReportTest.java
  jdbc-mysql/src/test/java/reports/MysqlServiceUsageReportTest.java
  jdbc-postgres/src/test/java/io/kestra/core/reporter/reports/PostgresFeatureUsageReportTest.java
  jdbc-postgres/src/test/java/io/kestra/core/reporter/reports/PostgresServiceUsageReportTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscUsageControllerTest.java
Due: Cli, Core, Jdbc H2, Jdbc Mysql, Jdbc Postgres

fix(system): properly close the ScheduledExecutorService tasks
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/server/AbstractServiceLivenessTask.java
  core/src/main/java/io/kestra/core/utils/ExecutorsUtils.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

fix(core): truncate the overflowing text from button when zoomed (#10775)
  ui/src/components/executions/VarValue.vue
  ui/src/components/executions/outputs/Wrapper.vue
  ui/src/components/logs/TaskRunDetails.vue
  ui/src/styles/layout/element-plus-overload.scss
Due: none

fix(core): show validation button icon
  ui/src/styles/layout/element-plus-overload.scss
Due: none

fix(ui): show lock icon for namespace in No-Code editor (#10667)
  ui/src/components/flows/tasks/TaskNamespace.vue
  ui/src/components/namespaces/components/NamespaceSelect.vue
Due: none
