Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

chore(deps): upgrade ui-libs version to v0.0.154
  ui/package.json
Due: none

feat(#7636): add default options for HttpClient (#7650)
  core/src/main/java/io/kestra/plugin/core/http/AbstractHttp.java
  core/src/test/java/io/kestra/core/storages/StorageInterfaceFactoryTest.java
  core/src/test/java/io/kestra/plugin/core/http/RequestRunnerTest.java
  core/src/test/resources/flows/runners/sleep_medium.yml
  core/src/test/resources/sanity-checks/request_no_options.yaml
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
Due: Core

feat(core, jdbc): DashboardRepository.findAll()
  core/src/main/java/io/kestra/core/repositories/DashboardRepositoryInterface.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcDashboardRepository.java
Due: Core, Jdbc

chore(ui): properly sanitize markdown content before rendering (#7662)
  ui/package-lock.json
  ui/package.json
  ui/src/utils/markdown.js
  ui/src/utils/markdownDeps.ts
Due: none

feat(ui): add markdown formatting to flow run dialog (#7663)
  ui/src/components/inputs/InputsForm.vue
Due: none

chore(ui): make sure chart stacks are following the same order every time (#7664)
  ui/src/components/dashboard/components/charts/executions/BarChart.vue
Due: none

docs: fix typo in storage reverse task title (#7667)
  core/src/main/java/io/kestra/plugin/core/storage/Reverse.java
Due: Core

chore(ui): properly sanitize markdown content before rendering (#7697)
  ui/package-lock.json
  ui/package.json
  ui/src/utils/markdown.js
  ui/src/utils/markdownDeps.ts
Due: none

chore(deps): regular dependency update (#7705)
  ui/package-lock.json
  ui/package.json
Due: none

feat(core, jdbc): dynamic worker group key
  core/src/main/java/io/kestra/core/models/tasks/WorkerGroup.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

feat(core-ee): #2838 add audit log shipper (#7701)
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleTest.java
  jdbc-mysql/src/main/java/io/kestra/repository/mysql/MysqlRepository.java
  jdbc/src/main/java/io/kestra/jdbc/AbstractJdbcRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
Due: Core, Jdbc, Jdbc Mysql

fix(core): avoid duplicates in plugins subgroups + properly retrieve subgroup title
  core/src/main/java/io/kestra/core/docs/Plugin.java
Due: Core

fix(cli): fix regression on CLI plugin doc cmd
  cli/src/main/java/io/kestra/cli/AbstractCommand.java
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginDocCommand.java
Due: Cli

chore(ui): auto expand first element in execution overview cascaders (#7715)
  ui/src/components/executions/Overview.vue
  ui/src/components/kestra/Cascader.vue
Due: none

chore(core): make registry unregister usable with immutable list
  core/src/main/java/io/kestra/core/plugins/DefaultPluginRegistry.java
Due: Core

fix(core): stop Docker runner gracefully
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
Due: Script

fix(ui): prevent context docs open on editor custom blueprints click (#7716)
  ui/src/components/demo/Blueprints.vue
  ui/src/components/demo/Layout.vue
  ui/src/override/components/flows/blueprints/Blueprints.vue
  ui/src/override/components/flows/blueprints/BlueprintsBrowser.vue
Due: none

change email oss auth default (#7717)
  docker-compose.yml
Due: none

Add core plugin sanitychecks (#7592)
  core/src/test/resources/sanity-checks/allow_failure.yaml
  core/src/test/resources/sanity-checks/dag.yaml
  core/src/test/resources/sanity-checks/for_each.yaml
  core/src/test/resources/sanity-checks/log.yaml
  core/src/test/resources/sanity-checks/parallel.yaml
  core/src/test/resources/sanity-checks/switch.yaml
Due: Core

fix(): align to EE
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/schedulers/SchedulerTriggerStateInterface.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcSchedulerTriggerState.java
  runner-memory/src/main/java/io/kestra/runner/memory/MemorySchedulerTriggerState.java
Due: Core, Jdbc, Runner Memory

chore(ui): properly sanitize markdown content before rendering (#7724)
  ui/src/components/ErrorToastContainer.vue
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/layout/Markdown.vue
  ui/src/components/logs/LogLine.vue
  ui/src/utils/markdown.js
Due: none

fix(runner-memory): delete MemorySchedulerTriggerState back due to cherry-pick
  runner-memory/src/main/java/io/kestra/runner/memory/MemorySchedulerTriggerState.java
Due: Runner Memory

feat(core): allow reading file from any namespaces
  core/src/main/java/io/kestra/core/runners/pebble/functions/AbstractFileFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileExistsFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileSizeFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/IsFileEmptyFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/ReadFileFunction.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FileSizeFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/ReadFileFunctionTest.java
Due: Core

feat(core): add new crudEventType value
  core/src/main/java/io/kestra/core/events/CrudEventType.java
Due: Core

fix(ui): improved fetch of type for pluginDoc and avoid removing doc if map has "type" as property but without doc (like ENUM value) (#7727)
  ui/src/components/inputs/EditorView.vue
  ui/src/utils/yamlUtils.js
Due: none

fix(demo): on pages stop showing the docs without a button
  ui/src/components/demo/Layout.vue
Due: none

fix: repair collapsed menu submenus
  ui/src/components/layout/SideBar.vue
Due: none

feat(core): #7721 add namespace to pebble file functions (#7729)
  core/src/main/java/io/kestra/core/runners/pebble/functions/AbstractFileFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileExistsFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileSizeFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/IsFileEmptyFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/ReadFileFunction.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FileExistsFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FileSizeFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/IsFileEmptyFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/ReadFileFunctionTest.java
Due: Core

chore(ui): uniforming empty state for components (#7737)
  ui/src/assets/no_concurrency.svg
  ui/src/assets/onboarding/onboarding-flow-no-dependency-dark.svg
  ui/src/assets/onboarding/onboarding-flow-no-dependency-light.svg
  ui/src/assets/triggers_empty.svg
  ui/src/components/Tabs.vue
  ui/src/components/flows/FlowConcurrency.vue
  ui/src/components/flows/FlowNoDependencies.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/flows/FlowTriggers.vue
  ui/src/components/layout/empty/Empty.vue
  ui/src/components/layout/empty/assets/background/dark.svg
  ui/src/components/layout/empty/assets/background/light.svg
  ui/src/components/layout/empty/assets/visuals/announcements.png
  ui/src/components/layout/empty/assets/visuals/apps.png
  ui/src/components/layout/empty/assets/visuals/concurrency_executions.png
  ui/src/components/layout/empty/assets/visuals/concurrency_limit.png
  ui/src/components/layout/empty/assets/visuals/dependencies.png
  ui/src/components/layout/empty/assets/visuals/plugins.png
  ui/src/components/layout/empty/assets/visuals/triggers.png
  ui/src/components/namespace/NamespaceFlows.vue
  ui/src/translations/en.json
Due: none

refacto(ui): move autocompletion to its own service (#7710)
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/override/services/autoCompletionProvider.ts
  ui/src/utils/regex.ts
  ui/src/utils/yamlUtils.ts
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
  ui/tests/unit/utils/regex.spec.ts
  ui/tests/unit/utils/yamlUtils.spec.ts
Due: none

feat(webserver): mask the secret() function result from eval outputs
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: none

fix(flow editor): enhance behavior when switching file tabs (#7722)
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/stores/flow.js
  ui/tests/fixtures/flowgraphs/allow-failure-demo.json
  ui/tests/storybook/components/flows/FlowEditor.stories.jsx
  ui/tests/storybook/components/inputs/InputsForm.stories.jsx
Due: none

chore(ui): use uniformed pagination component for custom dashboard tables (#7744)
  ui/src/components/dashboard/components/tables/custom/Table.vue
Due: none

fix(tests): reject promise with 404 instead of empty resolve if non-mocked store call in flowAutoCompletionProvider.spec.ts
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
Due: none

feat(core): handle worker group fallback inside the scheduler
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

fix(jdbc): resubmit worker job to the good worker group
  core/src/main/java/io/kestra/core/runners/Worker.java
  jdbc-mysql/build.gradle
  jdbc-postgres/build.gradle
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcWorkerJobRunningRepository.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcServiceLivenessCoordinatorTest.java
Due: Core, Jdbc, Jdbc Mysql, Jdbc Postgres

fix(ci): generate_translations.py is now deleting keys that are no longer in en translation to avoid ghost translations
  ui/src/translations/de.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/generate_translations.py
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

feat(core): #5467 add namespaces in the namespaceFiles parameter (#7749)
  core/src/main/java/io/kestra/core/models/tasks/NamespaceFiles.java
  core/src/main/java/io/kestra/core/storages/Storage.java
  core/src/main/java/io/kestra/core/utils/NamespaceFilesUtils.java
  core/src/main/java/io/kestra/plugin/core/flow/WorkingDirectory.java
  core/src/test/java/io/kestra/plugin/core/flow/WorkingDirectoryTest.java
  core/src/test/resources/flows/valids/working-directory-namespace-files-with-namespaces.yaml
  script/src/main/java/io/kestra/plugin/scripts/exec/AbstractExecScript.java
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/runners/CommandsWrapper.java
  script/src/test/java/io/kestra/plugin/scripts/runners/LogConsumerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
Due: Core, Script

feat(core): add outputs to the Flow trigger
  core/src/main/java/io/kestra/core/models/triggers/multipleflows/MultipleConditionStorageInterface.java
  core/src/main/java/io/kestra/core/models/triggers/multipleflows/MultipleConditionWindow.java
  core/src/main/java/io/kestra/core/services/FlowTriggerService.java
  core/src/main/java/io/kestra/plugin/core/trigger/Flow.java
  core/src/test/java/io/kestra/core/models/triggers/multipleflows/AbstractMultipleConditionStorageTest.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/MultipleConditionTriggerCaseTest.java
  core/src/test/java/io/kestra/plugin/core/trigger/FlowTest.java
  core/src/test/resources/flows/valids/flow-trigger-preconditions-flow-b.yaml
Due: Core

Revert "fix(core): ThresholdFilter is now stricly lower"
  core/src/main/resources/logback/ecs.xml
  core/src/main/resources/logback/gcp.xml
  core/src/main/resources/logback/text.xml
Due: Core
