Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

chore(ui): make app & dashboard editors re-sizable (#8096)
  ui/src/components/dashboard/components/DashboardEditor.vue
  ui/src/components/dashboard/components/charts/custom/Bar.vue
  ui/src/components/dashboard/components/charts/custom/Pie.vue
  ui/src/components/dashboard/components/charts/custom/TimeSeries.vue
  ui/src/components/dashboard/components/tables/custom/Table.vue
  ui/src/components/plugins/PluginDocumentation.vue
Due: none

fix(webserver): first eval without masking secret function to error in case of missing secret
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: none

chore(ui): include labels of saved search filter on page reload (#8099)
  ui/src/components/filter/KestraFilter.vue
Due: none

chore(ui): pass custom height property to execution output debug editors (#8100)
  ui/src/components/executions/outputs/Wrapper.vue
Due: none

fix(ui): properly detect yaml to inject json schema into MonacoEditor
  ui/src/components/inputs/MonacoEditor.vue
Due: none

refactor: remove dead code from monacoeditor (#8088)
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/vuex-shims.d.ts
Due: none

chore(ui): Hide duration switch on empty flow dashboard (#8083)
  ui/src/components/dashboard/components/charts/executions/Bar.vue
Due: none

fix(core): HttpClient log the URL even if it's a secret
  core/src/main/java/io/kestra/core/http/client/apache/RunContextResponseInterceptor.java
Due: Core

fix(core): properly fix the issue with MapUtils.flattenToNestedMap
  core/src/main/java/io/kestra/core/utils/MapUtils.java
  core/src/test/java/io/kestra/core/utils/MapUtilsTest.java
Due: Core

fix(kafka runner): #2709 filter child forEach tasks before merging th… (#8095)
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/plugin/core/flow/ForEachItemCaseTest.java
Due: Core

feat(): add new crudeventtype "account_locked" (#8103)
  core/src/main/java/io/kestra/core/events/CrudEventType.java
Due: Core

fix(core): avoid flow validation error on plugin alias duplicates
  core/src/main/java/io/kestra/core/services/FlowService.java
Due: Core

fix: doc and deprecated field was not showing for dynamic non-string properties (#8006)
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/test/java/io/kestra/core/docs/JsonSchemaGeneratorTest.java
Due: Core

chore(ui): handle editor blueprint loading problem (#8113)
  ui/src/components/flows/blueprints/BlueprintDetail.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/override/components/flows/blueprints/Blueprints.vue
Due: none

Revert "fix(core): require condition in Flow trigger (#7494)"
  core/src/main/java/io/kestra/core/services/FlowService.java
  core/src/main/java/io/kestra/core/validations/ConditionValidation.java
  core/src/main/java/io/kestra/core/validations/validator/ConditionValidator.java
  core/src/main/java/io/kestra/plugin/core/trigger/Flow.java
  core/src/test/java/io/kestra/core/services/FlowServiceTest.java
Due: Core

fix(core): compilation issue
  core/src/test/java/io/kestra/core/services/FlowServiceTest.java
Due: Core

fix(ui): repair tenant translation
  ui/src/components/Id.vue
  ui/src/override/components/useLeftMenu.ts
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(ui): add routeContext where it was missing
  ui/src/components/dashboard/components/Header.vue
  ui/src/components/kv/KVs.vue
  ui/src/components/namespace/Namespaces.vue
  ui/src/components/secrets/Secrets.vue
Due: none

fix(webserver): handle out-of-bounds (>) namespaces fetch
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/NamespaceControllerTest.java
Due: none

fix(core): namespace service now properly detects namespaces with flows inside
  core/src/main/java/io/kestra/core/services/NamespaceService.java
Due: Core

fix(ui): global secret page design
  ui/src/components/demo/DemoButtons.vue
  ui/src/components/demo/Layout.vue
  ui/src/components/kv/KVTable.vue
  ui/src/components/layout/SelectTable.vue
  ui/src/components/secrets/Secrets.vue
  ui/src/components/secrets/SecretsTable.vue
  ui/src/composables/entityIterator.ts
  ui/src/composables/useSecrets.ts
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

chore(translations): uniform translation keys with entrerprise edition
  ui/src/translations/en.json
Due: none

chore(ui): amend file tree context menu link colors (#8123)
  ui/src/components/inputs/EditorSidebar.vue
Due: none

chore(ui): add padlock icon to secrets menu item (#8129)
  ui/src/override/components/useLeftMenu.ts
Due: none

fix(ui): search bars are properly working in secrets & KV pages
  ui/src/components/kv/KVTable.vue
  ui/src/components/secrets/SecretsTable.vue
Due: none

feat: add example for HasRetryAttempt condition (#8133)
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionStatus.java
  core/src/main/java/io/kestra/plugin/core/condition/HasRetryAttempt.java
Due: Core

fix(core): allow dash in plugin version qualifier
  core/src/main/java/io/kestra/core/models/PluginVersioning.java
  core/src/main/java/io/kestra/core/plugins/PluginArtifact.java
  core/src/test/java/io/kestra/core/plugins/PluginArtifactTest.java
Due: Core

fix(cli): properly register plugins uninstall cmd
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginCommand.java
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginUninstallCommand.java
Due: Cli

fix(core): add missing docker plugin subgroup icon
  script/src/main/resources/icons/io.kestra.plugin.scripts.runner.docker.svg
Due: Script

feat(core-ee): #7501 split file log exporter to multiple files (#8138)
  core/src/main/java/io/kestra/core/serializers/FileSerde.java
Due: Core

chore(ui): show blueprint `id` field in case of missing title (#8154)
  ui/src/override/components/flows/blueprints/BlueprintsBrowser.vue
Due: none

chore: disable tests that are too flaky
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleTest.java
Due: Core

fix: task array needed better typings (#8158)
  ui/src/components/code/components/inputs/InputText.vue
  ui/src/components/flows/tasks/TaskArray.vue
Due: none

fix: make flowWarnings show to unlock saving (#8157)
  ui/src/components/inputs/EditorButtonsWrapper.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/stores/flow.js
Due: none

chore(deps): add bouncycastle:bcpkix-jdk18on to platform
  platform/build.gradle
Due: Platform

chore(cli,jdbc-postgres): fix some compilation warnings
  cli/src/main/java/io/kestra/cli/AbstractApiCommand.java
  jdbc-postgres/src/main/java/io/kestra/runner/postgres/PostgresQueue.java
Due: Cli, Jdbc Postgres

ci: fix setversion-tag and devtools
  .github/workflows/setversion-tag.yml
  dev-tools/check-plugin-artifacts.sh
Due: none

fix(core): use a stable flow logger name
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
Due: Core

fix(ui-ee): keep fetching if filtered kvs & secrets have no elements after fetch
  ui/src/components/kv/KVTable.vue
  ui/src/components/secrets/SecretsTable.vue
Due: none

fix(cli): prevent FlowUpdatesCommand to crash due to plugin loader
  cli/src/main/java/io/kestra/cli/commands/flows/FlowUpdatesCommand.java
Due: Cli

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
