Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

fix: improve translation prompt
  ui/src/translations/generate_translations.py
Due: none

fix: make sure nocode edits the right task from the topology
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
Due: none

Add full examples for dayweek, dayweekinmonth and publicholidays conditions (#7615)
  core/src/main/java/io/kestra/plugin/core/condition/DateTimeBetween.java
  core/src/main/java/io/kestra/plugin/core/condition/DayWeek.java
  core/src/main/java/io/kestra/plugin/core/condition/DayWeekInMonth.java
  core/src/main/java/io/kestra/plugin/core/condition/PublicHoliday.java
Due: Core

fix(ui): replace alert blocks upon markdown rendering to display them properly
  ui/package-lock.json
  ui/package.json
  ui/src/components/layout/Markdown.vue
  ui/src/styles/components/plugin-doc.scss
Due: none

chore(deps): bump ui-libs to 0.0.151
  ui/package-lock.json
  ui/package.json
Due: none

fix: confusing trace log
  core/src/main/java/io/kestra/core/runners/FilesService.java
Due: Core

fix(ui): executions naviation based on start Date. (#7626)
  ui/src/components/executions/Overview.vue
Due: none

Update README.md
  README.md
Due: none

fix(core): no longer lowercasing PluginClassIdentifier to have proper validation upon Plugin deserialization
  core/src/main/java/io/kestra/core/plugins/DefaultPluginRegistry.java
  core/src/test/java/io/kestra/core/plugins/ClassTypeIdentifierTest.java
Due: Core

feat:string filter (#7428)
  core/src/main/java/io/kestra/core/runners/pebble/Extension.java
  core/src/main/java/io/kestra/core/runners/pebble/filters/StringFilter.java
  core/src/test/java/io/kestra/core/runners/pebble/filters/StringFilterTest.java
  ui/src/assets/docs/basic.md
Due: Core

chore(ui): improve label for text search in filters section (#7631)
  ui/package.json
  ui/src/components/filter/KestraFilter.vue
  ui/src/translations/en.json
Due: none

fix(ui): additional check for text label of filters section
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(ui): improve check for text label of filters section
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(ui): use watch with ref instead of accessing the value
  ui/src/components/filter/KestraFilter.vue
Due: none

chore(ui): remove crud details from execution overview (#7634)
  ui/src/components/executions/Overview.vue
Due: none

feat(ui): allow reordering tabs in the editor (#7531)
  ui/src/components/inputs/EditorView.vue
  ui/src/stores/editor.js
Due: none

chore(ui): improve empty state of the namespace files editor (#7495)
  ui/src/components/inputs/EditorSidebar.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/stores/editor.js
  ui/src/translations/en.json
Due: none

feat(core): improve performance of ExecutorService.handleChildWorkerTaskResult
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
Due: Core

chore(core): eval value property once for flowable task Switch
  core/src/main/java/io/kestra/plugin/core/flow/Switch.java
Due: Core

fix(ui): allow sidebar theme toggle to update the editor theme (#7648)
  ui/src/components/inputs/Editor.vue
Due: none

fix(ci): fix vulnerability check workflow
  .github/workflows/vulnerabilities-check.yml
Due: none

feat(#7636): add default options for HttpClient
  core/src/main/java/io/kestra/plugin/core/http/AbstractHttp.java
  core/src/test/java/io/kestra/core/storages/StorageInterfaceFactoryTest.java
  core/src/test/java/io/kestra/plugin/core/http/RequestRunnerTest.java
  core/src/test/resources/sanity-checks/request_no_options.yaml
Due: Core

Revert "feat(#7636): add default options for HttpClient"
  core/src/main/java/io/kestra/plugin/core/http/AbstractHttp.java
  core/src/test/java/io/kestra/core/storages/StorageInterfaceFactoryTest.java
  core/src/test/java/io/kestra/plugin/core/http/RequestRunnerTest.java
  core/src/test/resources/sanity-checks/request_no_options.yaml
Due: Core

fix(): make subflow not found a warning instead of an error (#7649)
  cli/src/main/java/io/kestra/cli/commands/flows/FlowValidateCommand.java
  core/src/main/java/io/kestra/core/services/FlowService.java
  core/src/test/java/io/kestra/core/services/FlowServiceTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
Due: Cli, Core

fix(ui): make sure adding labels on flow run dialog is possible (#7652)
  ui/src/components/executions/SetLabels.vue
  ui/src/components/labels/LabelInput.vue
Due: none

fix(): recoverMissedSchedules behavior on long running executions (#7617)
  core/src/main/java/io/kestra/core/models/flows/Flow.java
  core/src/main/java/io/kestra/core/models/triggers/Trigger.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/test/java/io/kestra/core/schedulers/AbstractSchedulerTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerConditionTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerPollingTriggerTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleOnDatesTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerThreadTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerTriggerChangeTest.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcScheduler.java
Due: Core, Jdbc

feat(core): use HashMap.newHashMap(int)
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/utils/MapUtils.java
Due: Core

feat(core): improve merging outputs by merging them at the task level
  core/src/main/java/io/kestra/core/models/executions/Execution.java
Due: Core

feat(core): replace new ArrayList by Collections.emptyList()
  core/src/main/java/io/kestra/core/models/flows/Flow.java
  jdbc-mysql/src/main/java/io/kestra/runner/mysql/MysqlQueue.java
Due: Core, Jdbc Mysql

fix(cicd): missing acls for test reports
  .github/workflows/workflow-backend-test.yml
Due: none

fix(core): MultipleCondition documentation
  core/src/main/java/io/kestra/plugin/core/condition/MultipleCondition.java
Due: Core

fix(core): validation error when timeWindow.type is null
  core/src/main/java/io/kestra/core/models/triggers/TimeWindow.java
  core/src/main/java/io/kestra/core/models/triggers/multipleflows/MultipleConditionStorageInterface.java
  core/src/main/java/io/kestra/core/validations/validator/TimeWindowValidator.java
Due: Core

chore(ui): improve the topology tooltip label for adding task button (#7656)
  ui/package-lock.json
  ui/package.json
Due: none

fix(): avoid crash on injectDefault
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

feat: add examples for conditions - 3 (#7657)
  core/src/main/java/io/kestra/plugin/core/condition/DateTimeBetween.java
  core/src/main/java/io/kestra/plugin/core/condition/DayWeek.java
  core/src/main/java/io/kestra/plugin/core/condition/DayWeekInMonth.java
  core/src/main/java/io/kestra/plugin/core/condition/MultipleCondition.java
  core/src/main/java/io/kestra/plugin/core/condition/Not.java
  core/src/main/java/io/kestra/plugin/core/condition/Or.java
  core/src/main/java/io/kestra/plugin/core/condition/PublicHoliday.java
  core/src/main/java/io/kestra/plugin/core/condition/TimeBetween.java
  core/src/main/java/io/kestra/plugin/core/condition/Weekend.java
Due: Core

feat: add examples for flow conditions (#7659)
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionFlow.java
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionLabels.java
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionNamespace.java
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionOutputs.java
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionStatus.java
Due: Core

feat: add example for expression condition (#7660)
  core/src/main/java/io/kestra/plugin/core/condition/Expression.java
Due: Core

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
