Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

chore(ui): remove single empty space between label key and value so it can be copied (#7774)
  ui/src/components/layout/Labels.vue
Due: none

chore(ui): re-order namespace tabs (#7778)
  ui/src/components/namespace/Namespace.vue
  ui/src/translations/en.json
Due: none

chore(ui): respect line numbers prop as part of editor options (#7781)
  ui/src/components/inputs/Editor.vue
Due: none

feat(core): custom log filter
  core/src/main/java/io/kestra/core/log/KestraLogFilter.java
  core/src/main/resources/logback/ecs.xml
  core/src/main/resources/logback/gcp.xml
  core/src/main/resources/logback/text.xml
Due: Core

fix(core): failing schedule test (#7783)
  core/src/test/java/io/kestra/plugin/core/trigger/ScheduleTest.java
Due: Core

fix(cli): fix double shutdown warn messages
  cli/src/main/java/io/kestra/cli/AbstractCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/AbstractServerCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/ExecutorCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/IndexerCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/SchedulerCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/StandAloneCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/WebServerCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/WorkerCommand.java
  core/src/main/java/io/kestra/core/runners/StandAloneRunner.java
Due: Cli, Core

fix(core): flaky test ExitTest.shouldExitAndKillTheExecution()
  core/src/test/java/io/kestra/plugin/core/execution/ExitTest.java
Due: Core

fix(jdbc): flaky tests JdbcServiceLivenessCoordinatorTest
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcServiceLivenessCoordinatorTest.java
Due: Jdbc

chore(core): disable OTLP metrics on tests
  core/src/test/resources/application-test.yml
Due: Core

fix(core): wait for service-manager-task thread to be stopped
  core/src/main/java/io/kestra/core/server/AbstractServiceLivenessTask.java
  core/src/main/java/io/kestra/core/server/ServiceLivenessManager.java
Due: Core

fix(tests): increase seconds diff between dates (#7785)
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleOnDatesTest.java
Due: Core

fix(core): #7740 http configuration bearer token may change to basic because of allowFailed (#7788)
  core/src/main/java/io/kestra/core/http/client/configurations/AbstractAuthConfiguration.java
  core/src/main/java/io/kestra/core/http/client/configurations/BasicAuthConfiguration.java
  core/src/main/java/io/kestra/core/http/client/configurations/BearerAuthConfiguration.java
  core/src/main/java/io/kestra/core/http/client/configurations/HttpConfiguration.java
  core/src/main/java/io/kestra/plugin/core/http/AbstractHttp.java
  core/src/main/java/io/kestra/plugin/core/http/Trigger.java
Due: Core

feat(core-ee): add json format to file log exporter (#7789)
  core/src/main/java/io/kestra/core/models/tasks/logs/LogExporter.java
  core/src/main/java/io/kestra/core/serializers/FileSerde.java
Due: Core

fix(jdbc): return correct total when paginating custom dashboard chart (#7790)
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcMetricRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
Due: Jdbc

fix(webserver): add endpoint for inherited secrets
  core/src/main/java/io/kestra/core/secret/SecretService.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceSecretController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/NamespaceControllerTest.java
Due: Core

feat(ui): introduce kv() and secret() pebble autocompletions
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/override/services/flowAutoCompletionProvider.ts
  ui/src/services/autoCompletionProvider.ts
  ui/src/stores/namespaces.js
  ui/src/utils/regex.ts
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
  ui/tests/unit/utils/regex.spec.ts
Due: none

feat(core): add execution state in Pebbe context
  core/src/main/java/io/kestra/core/runners/RunVariables.java
  ui/src/assets/docs/basic.md
  ui/src/override/services/flowAutoCompletionProvider.ts
  ui/tests/unit/services/flowAutoCompletionProvider.spec.ts
Due: Core

fix(ui): make switch view buttons from dashboard editor the same as flow editor ones
  ui/src/components/dashboard/components/DashboardEditor.vue
Due: none

fix(ui): remove errors from dashboard validation if it's fixed
  ui/src/components/dashboard/components/DashboardEditor.vue
Due: none

fix(core): fix properly map MavenPluginRepositoryConfig
  core/src/main/java/io/kestra/core/contexts/MavenPluginRepositoryConfig.java
  core/src/test/java/io/kestra/core/contexts/MavenPluginRepositoryConfigTest.java
  core/src/test/resources/application-maven.yml
Due: Core

feat(core): afterExecution tasks
  core/src/main/java/io/kestra/core/models/flows/Flow.java
  core/src/main/java/io/kestra/core/models/flows/FlowWithSource.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/FlowableUtils.java
  core/src/main/java/io/kestra/core/runners/RunnerUtils.java
  core/src/main/java/io/kestra/core/services/ConditionService.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/main/java/io/kestra/core/utils/ListUtils.java
  core/src/main/java/io/kestra/core/utils/MapUtils.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/AfterExecutionTestCase.java
  core/src/test/java/io/kestra/core/utils/ListUtilsTest.java
  core/src/test/resources/flows/valids/after-execution-error.yaml
  core/src/test/resources/flows/valids/after-execution-finally.yaml
  core/src/test/resources/flows/valids/after-execution-listener.yaml
  core/src/test/resources/flows/valids/after-execution.yaml
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcScheduler.java
  webserver/src/main/java/io/kestra/webserver/services/ExecutionStreamingService.java
Due: Core, Jdbc

chore: update ui-libs
  ui/package-lock.json
  ui/package.json
Due: none

feat(core,jdbc): switch back to a cached thread pool for async JDBC queue
  core/src/main/java/io/kestra/core/utils/ExecutorsUtils.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Core, Jdbc

chore(ui): add the ability to change word wrap and to copy the preview output content (#7801)
  ui/src/components/executions/FilePreview.vue
  ui/src/components/flows/Curl.vue
  ui/src/components/flows/blueprints/BlueprintDetail.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/components/layout/CopyToClipboard.vue
  ui/src/translations/en.json
Due: none

feat(build): configure heap size to max 50% of available memory (#7800)
  gradle/jar/selfrun.bat
  gradle/jar/selfrun.sh
Due: none

chore(deps): regular dependency update (#7839)
  ui/package-lock.json
  ui/package.json
Due: none

feat(core): redact KESTRA_JAVA_OPTS from the env available to executions
  core/src/main/java/io/kestra/core/runners/RunContextCache.java
Due: Core

Remove pebble function references that don't exist (#7698)
  ui/src/assets/docs/basic.md
Due: none

fix(docs): 2025 get started video
  ui/src/components/onboarding/Welcome.vue
Due: none

fix(core): allowedNamespace is already called in the KvStoreService
  core/src/main/java/io/kestra/core/runners/pebble/functions/KvFunction.java
Due: Core

feat: add finally to the flow assets in basic.md (#7857)
  ui/src/assets/docs/basic.md
Due: none

fix(core): missing afterExecution in FlowForExecution
  core/src/main/java/io/kestra/core/models/flows/FlowForExecution.java
Due: Core

feat(core): add afterExecution to the topology
  core/src/main/java/io/kestra/core/models/hierarchies/AbstractGraph.java
  core/src/main/java/io/kestra/core/models/hierarchies/GraphCluster.java
  core/src/main/java/io/kestra/core/models/hierarchies/GraphClusterAfterExecution.java
  core/src/main/java/io/kestra/core/models/hierarchies/RelationType.java
  core/src/main/java/io/kestra/core/services/Graph2DotService.java
  core/src/main/java/io/kestra/core/utils/GraphUtils.java
  core/src/test/java/io/kestra/core/models/hierarchies/FlowGraphTest.java
Due: Core

fix(deps): move OTLP metrics lib to CLI to avoid warning in tests
  build.gradle
  cli/build.gradle
Due: Cli

feat(ui): add `afterExecution` block to no code editor (#7848)
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/flows/tasks/Task.js
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/translations/en.json
  ui/src/utils/yamlUtils.ts
Due: none

chore(ui): re-organize visuals for empty state component (#7866)
  ui/src/assets/empty/background/dark.svg
  ui/src/assets/empty/background/light.svg
  ui/src/assets/empty/visuals/announcements.png
  ui/src/assets/empty/visuals/apps.png
  ui/src/assets/empty/visuals/concurrency_executions.png
  ui/src/assets/empty/visuals/concurrency_limit.png
  ui/src/assets/empty/visuals/dependencies.png
  ui/src/assets/empty/visuals/plugins.png
  ui/src/assets/empty/visuals/triggers.png
  ui/src/components/flows/FlowConcurrency.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/flows/FlowTriggers.vue
  ui/src/components/layout/Empty.vue
Due: none

chore(deps): upgrade @kestra-io/ui-libs to 0.0.157
  ui/package-lock.json
  ui/package.json
Due: none

chore(ui): prevent node state history to be shown if there is no date present (#7867)
  ui/package-lock.json
  ui/package.json
Due: none

chore(core): add PluginVersioning interface and version for TaskRunner
  core/src/main/java/io/kestra/core/models/PluginVersioning.java
  core/src/main/java/io/kestra/core/models/tasks/TaskInterface.java
  core/src/main/java/io/kestra/core/models/tasks/runners/TaskRunner.java
  core/src/main/java/io/kestra/core/models/triggers/TriggerInterface.java
  core/src/test/java/io/kestra/core/docs/ClassPluginDocumentationTest.java
Due: Core

chore(ui): re-organize visuals for empty state component (#7875)
  ui/src/components/flows/FlowConcurrency.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/flows/FlowTriggers.vue
  ui/src/components/layout/empty/Empty.vue
  ui/src/components/layout/empty/assets/background/dark.svg
  ui/src/components/layout/empty/assets/background/light.svg
  ui/src/components/layout/empty/assets/visuals/announcements.png
  ui/src/components/layout/empty/assets/visuals/apps.png
  ui/src/components/layout/empty/assets/visuals/concurrency_executions.png
  ui/src/components/layout/empty/assets/visuals/concurrency_limit.png
  ui/src/components/layout/empty/assets/visuals/dependencies.png
  ui/src/components/layout/empty/assets/visuals/plugins.png
  ui/src/components/layout/empty/assets/visuals/triggers.png
  ui/src/components/layout/empty/images.ts
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
