Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

refactor(core): change default reviewers on translation pull requests (#9929)
  .github/workflows/auto-translate-ui-keys.yml
Due: none

refactor(core): change default reviewers on translation pull requests to frontend team (#9931)
  .github/workflows/auto-translate-ui-keys.yml
Due: none

refactor(core): remove default reviewers on translation pull requests and add frontend team mention (#9935)
  .github/workflows/auto-translate-ui-keys.yml
Due: none

refactor(core): improve translation pull request description (#9938)
  .github/workflows/auto-translate-ui-keys.yml
Due: none

fix(core): introduce the missing translation key/value pairs for certain languages (#9943)
  ui/src/translations/de.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

chore(build): try to remove the noise for code coverage
  codecov.yml
Due: none

fix(system): force running after execution tasks even if the execution is killed
  core/src/main/java/io/kestra/core/models/executions/TaskRun.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/test/resources/flows/valids/sleep-long.yml
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

fix(dashboards): include required prop to amend pages using dashboard sections component (#9949)
  ui/src/components/dashboard/components/Editor.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/logs/LogsWrapper.vue
Due: none

docs(dashboard-data): fix indentations for dashboard data plugins (#9918)
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Executions.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/ExecutionsKPI.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Logs.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/LogsKPI.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Metrics.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/MetricsKPI.java
Due: Core

fix(webserver)*: bulk set labels remove existing labels
  core/src/test/java/io/kestra/core/serializers/YamlParserTest.java
  core/src/test/resources/flows/valids/minimal.yaml
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

fix(plugins): plugin search is now searching in all element types (#9899)
  ui/src/components/plugins/PluginHome.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(ui): fixes merge snafu and warning lastExecutionByFlowReady (#9962)
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/taskruns/TaskRuns.vue
  ui/src/stores/stat.ts
Due: none

refactor(core): migrate taskrun to Pinia (#9953)
  ui/src/components/taskruns/TaskRuns.vue
  ui/src/stores/store.js
  ui/src/stores/taskruns.js
  ui/src/stores/taskruns.ts
  ui/src/vuex-shims.d.ts
Due: none

chore: update ui-libs for documentation collapsible warns (#9954)
  ui/package-lock.json
  ui/package.json
Due: none

fix(ui): openGroup to directly open the first plugin element (#9964)
  ui/src/components/plugins/PluginHome.vue
Due: none

refactor(core): migrating doc store module to pinia (#9882)
  ui/src/App.vue
  ui/src/components/DocIdDisplay.vue
  ui/src/components/content/ApiDoc.vue
  ui/src/components/content/ApiDocee.vue
  ui/src/components/content/BigChildCards.vue
  ui/src/components/content/CardLogos.vue
  ui/src/components/content/ChildCard.vue
  ui/src/components/content/ChildReleases.vue
  ui/src/components/content/ChildTableOfContents.vue
  ui/src/components/content/DownloadLogoPack.vue
  ui/src/components/content/ProseImg.vue
  ui/src/components/demo/Namespace.vue
  ui/src/components/docs/ContextChildCard.vue
  ui/src/components/docs/ContextDocs.vue
  ui/src/components/docs/ContextDocsLink.vue
  ui/src/components/docs/ContextDocsMenu.vue
  ui/src/components/docs/ContextDocsSearch.vue
  ui/src/components/docs/Docs.vue
  ui/src/components/docs/Toc.vue
  ui/src/components/docs/useDocsLink.ts
  ui/src/components/inputs/Editor.vue
  ui/src/composables/useTenant.ts
  ui/src/override/components/flows/blueprints/BlueprintsBrowser.vue
  ui/src/stores/doc.js
  ui/src/stores/doc.ts
  ui/src/stores/store.js
  ui/src/utils/init.js
  ui/src/vuex-shims.d.ts
Due: none

fix(ci): Avoid retag latest docker image being `true` by default
  .github/workflows/docker.yml
Due: none

fix(system): avoid creating multiple worker job queue
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/test/java/io/kestra/core/runners/WorkerTest.java
  core/src/test/java/io/kestra/core/schedulers/AbstractSchedulerTest.java
  core/src/test/java/io/kestra/plugin/core/http/TriggerTest.java
  jdbc-h2/src/main/java/io/kestra/runner/h2/H2QueueFactory.java
  jdbc-mysql/src/main/java/io/kestra/runner/mysql/MysqlQueueFactory.java
  jdbc-postgres/src/main/java/io/kestra/runner/postgres/PostgresQueueFactory.java
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcServiceLivenessCoordinatorTest.java
Due: Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres

feat(security)!: make basic auth required on OSS (#9688)
  .devcontainer/README.md
  Makefile
  cli/src/main/resources/application.yml
  docker-compose-dind.yml
  ui/tests/e2e/data/application-postgres.yml
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
  webserver/src/main/java/io/kestra/webserver/filter/AuthenticationFilter.java
  webserver/src/main/java/io/kestra/webserver/services/BasicAuthService.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscControllerSecuredTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscUsageControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/PluginControllerTest.java
  webserver/src/test/java/io/kestra/webserver/filter/AuthenticationFilterTest.java
  webserver/src/test/java/io/kestra/webserver/filter/TestAuthFilter.java
  webserver/src/test/java/io/kestra/webserver/services/BasicAuthServiceTest.java
  webserver/src/test/resources/application-test.yml
Due: Cli

feat(core): introducing OSS authentication user creation and login logout (#9683)
  ui/package-lock.json
  ui/package.json
  ui/src/App.vue
  ui/src/assets/success.svg
  ui/src/components/SurveyDialog.vue
  ui/src/components/admin/stats/BasicAuthPrompt.vue
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/components/basicauth/BasicAuthSetup.vue
  ui/src/components/home/Logo.vue
  ui/src/components/layout/FullScreenLayout.vue
  ui/src/composables/useSurveyData.ts
  ui/src/main.js
  ui/src/override/components/auth/Auth.vue
  ui/src/override/components/layout/DefaultLayout.vue
  ui/src/routes/routes.js
  ui/src/stores/misc.ts
  ui/src/stores/miscs.js
  ui/src/translations/en.json
  ui/src/utils/axios.ts
Due: none

Revert "feat(core): introducing OSS authentication user creation and login logout (#9683)"
  ui/package-lock.json
  ui/package.json
  ui/src/App.vue
  ui/src/assets/success.svg
  ui/src/components/SurveyDialog.vue
  ui/src/components/admin/stats/BasicAuthPrompt.vue
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/components/basicauth/BasicAuthSetup.vue
  ui/src/components/home/Logo.vue
  ui/src/components/layout/FullScreenLayout.vue
  ui/src/composables/useSurveyData.ts
  ui/src/main.js
  ui/src/override/components/auth/Auth.vue
  ui/src/override/components/layout/DefaultLayout.vue
  ui/src/routes/routes.js
  ui/src/stores/misc.ts
  ui/src/stores/miscs.js
  ui/src/translations/en.json
  ui/src/utils/axios.ts
Due: none

fix(security) #4311 add basic auth whitelist for config and add new c… (#9968)
  ui/src/translations/de.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
  webserver/src/main/java/io/kestra/webserver/filter/AuthenticationFilter.java
  webserver/src/main/java/io/kestra/webserver/services/BasicAuthService.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscControllerTest.java
  webserver/src/test/java/io/kestra/webserver/filter/AuthenticationFilterTest.java
  webserver/src/test/java/io/kestra/webserver/services/BasicAuthServiceTest.java
Due: none

fix(flows): autocomplete nocode outputs in pebble (#9955)
  ui/src/override/services/flowAutoCompletionProvider.ts
Due: none

fix(security) #4311 filter only kestra endpoints (#9971)
  webserver/src/main/java/io/kestra/webserver/filter/AuthenticationFilter.java
Due: none

feat(ui): introducing OSS auth (#9972)
  ui/package-lock.json
  ui/package.json
  ui/src/App.vue
  ui/src/assets/success.svg
  ui/src/components/SurveyDialog.vue
  ui/src/components/admin/stats/BasicAuthPrompt.vue
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/components/basicauth/BasicAuthSetup.vue
  ui/src/components/home/Logo.vue
  ui/src/components/layout/FullScreenLayout.vue
  ui/src/composables/useSurveyData.ts
  ui/src/main.js
  ui/src/override/components/auth/Auth.vue
  ui/src/override/components/layout/DefaultLayout.vue
  ui/src/routes/routes.js
  ui/src/stores/misc.ts
  ui/src/stores/miscs.js
  ui/src/translations/en.json
  ui/src/utils/axios.ts
Due: none

fix(system): EE compilation
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
Due: none

fix(flows): issue where flows with task IDs longer than the supported database column length would cause the application to shut down.
  core/src/main/java/io/kestra/core/models/tasks/Task.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/PluginControllerTest.java
Due: Core

chore(deps): regular dependency update (#10011)
  ui/package-lock.json
  ui/package.json
Due: none

chore: add useful scripts for RC
  dev-tools/rc-manual-utilities/gh_empty-cache.sh
  dev-tools/rc-manual-utilities/gh_launch-release-workflow.sh
  dev-tools/rc-manual-utilities/gh_restart-main-build-on-branch.sh
  dev-tools/rc-manual-utilities/gh_run-main-workflow-on-all-plugins.sh
Due: none

feat(executions): allow suspending an execution at a breakpoint
  core/src/main/java/io/kestra/core/debug/Breakpoint.java
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/models/executions/ExecutionKind.java
  core/src/main/java/io/kestra/core/models/flows/State.java
  core/src/main/java/io/kestra/core/runners/Executor.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  jdbc-h2/src/main/resources/migrations/h2/V1_40__execution_breakpoint.sql
  jdbc-mysql/src/main/resources/migrations/mysql/V1_39__execution_breakpoint.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_39__execution_breakpoint.sql
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core, Jdbc H2, Jdbc Mysql, Jdbc Postgres

docs(schedule): mention Sunday day-of-the-week alias (#9961)
  core/src/main/java/io/kestra/plugin/core/trigger/Schedule.java
  core/src/test/java/io/kestra/core/validations/ScheduleValidationTest.java
Due: Core

chore(core): allow displaying topology horizontally (#10012)
  ui/src/components/inputs/LowCodeEditor.vue
Due: none

fix: bring back lastexecution endpoint (#9973)
  core/src/main/java/io/kestra/core/repositories/ExecutionRepositoryInterface.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/taskruns/TaskRuns.vue
  ui/src/stores/executions.js
  ui/src/stores/stat.ts
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: Core, Jdbc

chore(dashboards): improve chart data loading and uniform look on preview tab (#10014)
  ui/src/components/dashboard/components/Editor.vue
  ui/src/components/dashboard/composables/useDashboards.ts
  ui/src/components/dashboard/sections/Markdown.vue
  ui/src/components/dashboard/sections/Table.vue
  ui/src/stores/dashboard.ts
Due: none

feat(kv): add an optional description (#9886)
  core/src/main/java/io/kestra/core/storages/kv/KVEntry.java
  core/src/main/java/io/kestra/core/storages/kv/KVMetadata.java
  core/src/main/java/io/kestra/plugin/core/kv/Set.java
  core/src/test/java/io/kestra/core/services/KVStoreServiceTest.java
  core/src/test/java/io/kestra/core/storages/InternalKVStoreTest.java
  core/src/test/java/io/kestra/plugin/core/kv/SetTest.java
  ui/src/components/kv/KVTable.vue
  ui/src/stores/namespaces.js
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
  webserver/src/main/java/io/kestra/webserver/controllers/api/KVController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/KVControllerTest.java
Due: Core

fix(ui): fixes basic auth handling (#10010)
  ui/src/App.vue
  ui/src/components/admin/stats/BasicAuthPrompt.vue
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/components/basicauth/BasicAuthSetup.vue
  ui/src/main.js
  ui/src/override/components/admin/stats/Stats.vue
  ui/src/override/components/layout/DefaultLayout.vue
  ui/src/stores/auth.ts
  ui/src/utils/axios.ts
Due: none

fix(core): trim expressions in select & multiselect to be able to use '|' instead of '>-' (#10017)
  core/src/main/java/io/kestra/core/models/flows/input/MultiselectInput.java
  core/src/main/java/io/kestra/core/models/flows/input/SelectInput.java
  core/src/test/java/io/kestra/core/models/flows/input/MultiselectInputTest.java
  core/src/test/java/io/kestra/core/models/flows/input/SelectInputTest.java
Due: Core

feat(tests): allow disabling a TestSuite preventing it to run
  core/src/main/java/io/kestra/core/test/TestSuite.java
  core/src/main/java/io/kestra/core/test/TestSuiteRunResult.java
  core/src/test/java/io/kestra/core/test/TestSuiteTest.java
Due: Core

fix(webserver): server exceptions were not logged when no message
  webserver/src/main/java/io/kestra/webserver/controllers/ErrorController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ErrorControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/TestUtilsController.java
Due: none

chore(tests): add validation on assertions
  core/src/main/java/io/kestra/core/test/flow/Assertion.java
  core/src/main/java/io/kestra/core/validations/TestSuiteAssertionValidation.java
  core/src/main/java/io/kestra/core/validations/validator/TestSuiteAssertionValidator.java
Due: Core

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
