Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

fix(system)*: don't mix constructor injection with field injection
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

refactor(template): migrate template module to pinia (#10226)
  ui/src/components/settings/BasicSettings.vue
  ui/src/components/templates/TemplateEdit.vue
  ui/src/components/templates/Templates.vue
  ui/src/mixins/flowTemplateEdit.js
  ui/src/stores/store.js
  ui/src/stores/template.js
  ui/src/stores/template.ts
  ui/src/vuex-shims.d.ts
Due: none

fix(cli): #10062 add tenant to load flows properly at the startup (#10290)
  cli/src/main/java/io/kestra/cli/AbstractApiCommand.java
  cli/src/main/java/io/kestra/cli/AbstractValidateCommand.java
  cli/src/main/java/io/kestra/cli/commands/flows/FlowCreateCommand.java
  cli/src/main/java/io/kestra/cli/commands/flows/FlowDeleteCommand.java
  cli/src/main/java/io/kestra/cli/commands/flows/FlowExportCommand.java
  cli/src/main/java/io/kestra/cli/commands/flows/FlowTestCommand.java
  cli/src/main/java/io/kestra/cli/commands/flows/FlowUpdateCommand.java
  cli/src/main/java/io/kestra/cli/commands/flows/FlowUpdatesCommand.java
  cli/src/main/java/io/kestra/cli/commands/flows/FlowValidateCommand.java
  cli/src/main/java/io/kestra/cli/commands/flows/namespaces/FlowNamespaceUpdateCommand.java
  cli/src/main/java/io/kestra/cli/commands/namespaces/files/NamespaceFilesUpdateCommand.java
  cli/src/main/java/io/kestra/cli/commands/namespaces/kv/KvUpdateCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/StandAloneCommand.java
  cli/src/main/java/io/kestra/cli/commands/templates/TemplateExportCommand.java
  cli/src/main/java/io/kestra/cli/commands/templates/namespaces/TemplateNamespaceUpdateCommand.java
  cli/src/main/java/io/kestra/cli/services/TenantIdSelectorService.java
  cli/src/test/java/io/kestra/cli/commands/flows/FlowCreateOrUpdateCommandTest.java
  cli/src/test/java/io/kestra/cli/commands/servers/TenantIdSelectorServiceTest.java
Due: Cli

fix(core): revert unwanted changes
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

feat(*): add new plugins
  .plugins
Due: none

feat(tests): testsuite run persistence
  core/src/main/java/io/kestra/core/test/TestSuiteRunEntity.java
  core/src/main/java/io/kestra/core/test/TestSuiteRunResult.java
  core/src/main/java/io/kestra/core/test/TestSuiteUid.java
  core/src/test/java/io/kestra/core/test/TestSuiteRunResultTest.java
Due: Core

fix(secrets): show namespace column (#10222)
  ui/src/components/secrets/SecretsTable.vue
Due: none

fix(core): check null uri (#10309)
  ui/src/components/executions/outputs/Wrapper.vue
Due: none

fix(filters): left menu current page disabling was not working
  ui/src/components/layout/SideBar.vue
Due: none

chore(flows): show small execution charts on flow listing (#10054)
  ui/src/components/dashboard/composables/charts.js
  ui/src/components/dashboard/sections/Bar.vue
  ui/src/components/flows/Flows.vue
Due: none

fix(executions): update query parameter for state filtering (#10315)
  ui/src/components/executions/ForEachStatus.vue
Due: none

chore(deps): regular dependency update (#10314)
  ui/package-lock.json
  ui/package.json
Due: none

fix(core): prevent default if suggestion is active (#10320)
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(executions): breakpoint on ForEach
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
Due: Core

fix(cli): tenantService was injected directly, this is not working in cli
  cli/src/main/java/io/kestra/cli/commands/flows/FlowTestCommand.java
Due: Cli

fix(cli): when picoli was throwing InitializationException the java process was not stopped
  cli/src/main/java/io/kestra/cli/App.java
Due: Cli

feat(logs): allow purging log by execution ID
  core/src/main/java/io/kestra/core/repositories/LogRepositoryInterface.java
  core/src/main/java/io/kestra/core/services/LogService.java
  core/src/main/java/io/kestra/plugin/core/log/PurgeLogs.java
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
Due: Core, Jdbc

fix(ai): shortcut to submit and for newline (#10325)
  ui/src/components/ai/AiAgent.vue
Due: none

fix(system): fix and cleanup StorageInterface (kestra-io/kestra-ee#4488)
  core/src/main/java/io/kestra/core/storages/StorageInterface.java
Due: Core

fix(flows): parse JSON when switching from string to object (#10255)
  ui/src/components/code/components/inputs/InputPair.vue
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskKvPairs.vue
Due: none

chore: update utility scripts still referencing old maven repo
  Makefile
  dev-tools/check-plugin-artifacts.sh
Due: none

chore: remove frontend codecov in CI
  .github/workflows/workflow-frontend-test.yml
Due: none

fix(executions): race condition inside nested ForEach with concurrency
  core/src/main/java/io/kestra/core/runners/FlowableUtils.java
  core/src/test/java/io/kestra/plugin/core/flow/ForEachTest.java
  core/src/test/resources/flows/valids/foreach-nested.yaml
Due: Core

fix(flows): better loading pattern (#10345)
  ui/src/components/flows/tasks/getTaskComponent.ts
  ui/src/stores/flow-schema.json
Due: none

chore(core): clean QueryFilter class
  core/src/main/java/io/kestra/core/models/QueryFilter.java
Due: Core

fix(executions): flow concurrency limit not honors when executions are created at a high rate
  core/src/main/java/io/kestra/core/queues/QueueFactoryInterface.java
  core/src/main/java/io/kestra/core/queues/QueueService.java
  core/src/main/java/io/kestra/core/runners/ExecutionRunning.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/FlowConcurrencyCaseTest.java
  core/src/test/resources/flows/valids/flow-concurrency-for-each-item.yaml
  jdbc-h2/src/main/java/io/kestra/runner/h2/H2ExecutionRunningStorage.java
  jdbc-h2/src/main/java/io/kestra/runner/h2/H2QueueFactory.java
  jdbc-h2/src/main/resources/migrations/h2/V1_41__execution_running.sql
  jdbc-mysql/src/main/java/io/kestra/runner/mysql/MysqlExecutionRunningStorage.java
  jdbc-mysql/src/main/java/io/kestra/runner/mysql/MysqlQueueFactory.java
  jdbc-mysql/src/main/resources/migrations/mysql/V1_40__execution_running.sql
  jdbc-postgres/src/main/java/io/kestra/runner/postgres/PostgresExecutionRunningStorage.java
  jdbc-postgres/src/main/java/io/kestra/runner/postgres/PostgresQueueFactory.java
  jdbc-postgres/src/main/resources/migrations/postgres/V1_40__execution_running.sql
  jdbc/src/main/java/io/kestra/jdbc/JdbcTableConfigsFactory.java
  jdbc/src/main/java/io/kestra/jdbc/runner/AbstractJdbcExecutionQueuedStorage.java
  jdbc/src/main/java/io/kestra/jdbc/runner/AbstractJdbcExecutionRunningStorage.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres

fix(system): ignore state transition failure for indexer
  core/src/main/java/io/kestra/core/server/ServiceLivenessManager.java
Due: Core

fix(system): avoid potential NPE in ServiceLivenessManager (#10338)
  core/src/main/java/io/kestra/core/server/ServiceLivenessManager.java
Due: Core

fix(tests): improve JdbcQueueTest flaky tests
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcQueueTest.java
Due: Jdbc

fix(namespaces): prevent namespace folder highlighting when containing file is selected (#10364)
  ui/src/components/inputs/EditorSidebar.vue
Due: none

chore(core): properly handle environment name set either via config and through the settings page (#10151)
  ui/src/components/settings/BasicSettings.vue
  ui/src/translations/en.json
Due: none

fix(core): update state count emission and filter table executions. (#10367)
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/FlowConcurrency.vue
Due: none

feat(flows): code editor can launch playground (#10359)
  ui/package-lock.json
  ui/package.json
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/composables/playground/useFlowEditorRunTaskButton.ts
Due: none

fix(core): amend misc label-related issues (#10044)
  core/src/main/java/io/kestra/core/models/Label.java
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/plugin/core/execution/Labels.java
  core/src/test/java/io/kestra/core/models/LabelTest.java
  core/src/test/java/io/kestra/core/models/executions/ExecutionTest.java
  core/src/test/java/io/kestra/plugin/core/flow/RuntimeLabelsTest.java
  core/src/test/java/io/kestra/plugin/core/flow/SubflowRunnerTest.java
  core/src/test/resources/flows/valids/labels-update-task-deduplicate.yml
  core/src/test/resources/flows/valids/subflow-inherited-labels-child.yaml
  core/src/test/resources/flows/valids/subflow-inherited-labels-parent.yaml
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/main/java/io/kestra/webserver/utils/RequestUtils.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
  webserver/src/test/java/io/kestra/webserver/utils/RequestUtilsTest.java
Due: Core

feat(logs): allow LogShipper to filters on flowId and executionId
  core/src/main/java/io/kestra/core/repositories/LogRepositoryInterface.java
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
Due: Core, Jdbc

chore(core): amend missing property causing console warning in the settings page (#9788)
  ui/src/components/settings/BasicSettings.vue
Due: none

fix(core): give height to tooltip and use ks tokens (#10372)
  ui/src/components/flows/ValidationError.vue
Due: none

fix(runner): support floating-point CPU values in Docker runner (#10366)
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Cpu.java
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
  script/src/test/java/io/kestra/plugin/scripts/runner/docker/DockerTest.java
Due: Script

fix(executions): add default icons to execution dependency view (#10375)
  ui/src/components/executions/ExecutionDependencies.vue
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
