Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

tests(system): make restartForEachItem test more deterministic
  core/src/test/java/io/kestra/plugin/core/flow/ForEachItemCaseTest.java
Due: Core

fix: only load default values when changing type (#9272)
  ui/src/components/flows/tasks/TaskAnyOf.vue
Due: none

refactor: remove nocode components registration from global scope (#9211)
  ui/package-lock.json
  ui/package.json
  ui/src/components/code/components/inputs/InputPair.vue
  ui/src/components/flows/MetadataSLA.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/tasks/Task.ts
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskBasic.vue
  ui/src/components/flows/tasks/TaskComplex.vue
  ui/src/components/flows/tasks/TaskCondition.vue
  ui/src/components/flows/tasks/TaskDict.vue
  ui/src/components/flows/tasks/TaskLabelWithBoolean.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskObjectField.vue
  ui/src/components/flows/tasks/TaskTask.vue
  ui/src/components/flows/tasks/getTaskComponent.ts
  ui/src/components/flows/useNoCodePanels.ts
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/utils/global.js
  ui/src/utils/global.ts
  ui/src/utils/init.js
  ui/tsconfig.json
Due: none

refactor: remove the theme and chartColor from schemes (#7296)
  ui/src/components/settings/BasicSettings.vue
  ui/src/utils/charts.js
  ui/src/utils/scheme.ts
Due: none

fix(ci): fix workflow gradle-release
  .github/workflows/gradle-release.yml
Due: none

fix(core): change naming from STARTS_WITH_NAMESPACE_PREFIX to NAMESPACE_PREFIX
  core/src/main/java/io/kestra/core/models/QueryFilter.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  ui/src/composables/monaco/languages/filters/filterCompletion.ts
  ui/src/composables/monaco/languages/filters/impl/dashboardFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/executionFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/flowFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/logFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/taskRunFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/triggerFilterLanguage.ts
  webserver/src/main/java/io/kestra/webserver/utils/RequestUtils.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Core, Jdbc

chore(version): update to version 'v0.23.0-rc0-SNAPSHOT'.
  gradle.properties
Due: none

docs: clarify log level on the log task (#9277)
  core/src/main/java/io/kestra/plugin/core/log/Log.java
Due: Core

fix(core): regex is not yet supported for text so we remove it for now
  core/src/main/java/io/kestra/core/models/QueryFilter.java
Due: Core

fix(core): remove text filter for dashboards
  ui/src/components/filter/KestraFilter.vue
  ui/src/composables/monaco/languages/filters/filterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/dashboardFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/flowDashboardFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/namespaceDashboardFilterLanguage.ts
Due: none

fix(core): restore theme colors from Monaco editor
  ui/src/components/inputs/MonacoEditor.vue
Due: none

fix(core): if task array has enum options, show select box instead of input (#9270)
  ui/src/components/flows/tasks/TaskArray.vue
Due: none

chore(core): add an extra storage key constant for maintenance mode (#9310)
  ui/src/utils/constants.ts
Due: none

fix(core): rename NAMESPACE_PREFIX comparator to PREFIX
  core/src/main/java/io/kestra/core/models/QueryFilter.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  ui/src/composables/monaco/languages/filters/filterCompletion.ts
  ui/src/composables/monaco/languages/filters/impl/dashboardFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/executionFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/flowFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/logFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/taskRunFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/triggerFilterLanguage.ts
  webserver/src/main/java/io/kestra/webserver/utils/RequestUtils.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Core, Jdbc

fix(core): improve theme handling in Monaco editor (#9294)
  ui/src/components/inputs/MonacoEditor.vue
Due: none

fix(flow): update flow revision restoration (#9311)
  ui/src/components/flows/FlowRevisions.vue
Due: none

fix: langchain4j with wrong repo name in .plugins
  .plugins
Due: none

fix(build): fix deve-tool release-plugins script
  dev-tools/release-plugins.sh
Due: none

fix(system)*: correctly resolve additional plugin subtypes so autocompletion work
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/test/java/io/kestra/core/plugins/AdditionalPluginTest.java
Due: Core

fix(): add mising checkout in workflow github release
  .github/workflows/workflow-github-release.yml
Due: none

fix(triggers): update link color in triggers (#9257)
  ui/src/components/admin/Triggers.vue
Due: none

fix(core): update background for plugin-doc in EE Apps and alert-info block styling in plugin doc. (#9323)
  ui/src/styles/components/plugin-doc.scss
Due: none

fix(system)*: don't include yourself as def in the JSONSchema
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
Due: Core

fix(ci): remove debug branch for actions checkout step
  .github/workflows/workflow-github-release.yml
Due: none

fix(core): avoid suggest widget reset upon typing
  ui/src/components/inputs/MonacoEditor.vue
Due: none

fix(core): additional plugins are now properly shown in plugin docs (#9329)
  ui/src/stores/plugins.js
  webserver/src/main/java/io/kestra/webserver/controllers/api/PluginController.java
Due: none

fix(core): smarter autocomplete order in editor
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/composables/monaco/languages/yamlLanguageConfigurator.ts
Due: none

fix(core): handle whitespaces in label key and value
  ui/src/components/filter/KestraFilter.vue
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
Due: none

fix(core): larger debounce for filter
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(ci): modify actions order
  .github/workflows/workflow-github-release.yml
Due: none

fix(core): add missing editor shortcut in the list (#9339)
  ui/src/components/inputs/KeyShortcuts.vue
  ui/src/translations/en.json
Due: none

fix(ci): put back bump helm chart and remove if condition
  .github/workflows/workflow-github-release.yml
Due: none

fix(flows): #9319 error when puase with timeout trigger an execution (#9334)
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

feat(core): refactor of welcome and overide for card. (#9341)
  ui/src/components/onboarding/OnboardingBottom.vue
  ui/src/components/onboarding/OnboardingCard.vue
  ui/src/components/onboarding/Welcome.vue
  ui/src/components/onboarding/components/SlackLogo.vue
  ui/src/composables/useRestoreUrl.ts
  ui/src/override/components/OnboardingBottom.vue
Due: none

feat(sifflet): add new plugin-sifflet
  .plugins
Due: none

fix(ui): allow key of sub-tasks to be other than tasks (#9333)
  ui/src/components/flows/tasks/TaskTasks.vue
Due: none

fix(ui): clear selection of retry form radio buttons (#9268)
  ui/src/components/code/segments/Editor.vue
  ui/src/components/flows/MetadataEditor.vue
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskObjectField.vue
Due: none

fix(core): avoid crashing in case of taskrun having too large value (#9359)
  core/src/main/java/io/kestra/core/serializers/JacksonMapper.java
Due: Core

refactor: load nocode root form from server schema (#9327)
  ui/src/components/code/segments/Editor.vue
  ui/src/components/flows/MetadataRetry.vue
  ui/src/components/flows/MetadataSLA.vue
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskArray.vue
  ui/src/components/flows/tasks/TaskComplex.vue
  ui/src/components/flows/tasks/TaskObjectField.vue
  ui/src/components/flows/tasks/TaskString.vue
  ui/src/components/flows/tasks/TaskWrapper.vue
  ui/src/components/flows/tasks/getTaskComponent.ts
Due: none

fix(core): amend positioning of the default tour elements (#9360)
  ui/src/components/flows/MultiPanelEditorView.vue
Due: none
