Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

feat(system): add index to commonly queried fields in the WHERE conditions of the triggers table
  jdbc-h2/src/main/resources/migrations/h2/V1_36__triggers_index_on_next_execution_date.sql
  jdbc-mysql/src/main/resources/migrations/mysql/V1_35__triggers_index_on_next_execution_date.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_35__triggers_index_on_next_execution_date.sql
Due: Jdbc H2, Jdbc Mysql, Jdbc Postgres

feat(system): add duration metrics for handle() method
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcScheduler.java
Due: Core, Jdbc

refactor(core): replace deprecated vue flow options parameter (#8417)
  ui/package-lock.json
  ui/package.json
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/stores/flow.js
  ui/src/utils/vueFlow.js
Due: none

refactor(core): prevent inheriting unused attributes in components (#8419)
  ui/src/components/flows/tasks/TaskRoot.vue
  ui/src/components/flows/tasks/TaskTask.vue
Due: none

refactor(core): changes to improve openapi spec
  core/src/main/java/io/kestra/core/models/namespaces/Namespace.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/BlueprintController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/KVController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/LogController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/MetricController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceControllerInterface.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceFileController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceSecretController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/PluginController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/StaticFilter.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/StatsController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TaskRunController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TemplateController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TriggerController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/BlueprintControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/KVControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/LogControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MetricControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscControllerSecuredTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/MiscControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/NamespaceFileControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/TriggerControllerTest.java
Due: Core

chore(core)*: deboucing task validation from no code editor (#8418)
  ui/src/components/code/segments/Task.vue
  ui/src/components/flows/TaskEdit.vue
Due: none

fix(docs): improve PublishMetrics example and basic.md KV doc (#8427)
  core/src/main/java/io/kestra/plugin/core/metric/Publish.java
  ui/src/assets/docs/basic.md
Due: Core

fix(ui): correct path for namespace files on namespace page
  ui/src/components/inputs/EditorView.vue
Due: none

chore(core)*: make sure that notifications with large message text are closeable (#8431)
  ui/src/components/ErrorToast.vue
Due: none

fix(webserver): set ids parameters as body instead of queryvalue (#8438)
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: none

fix(ui): add new property in filters (#8444)
  ui/src/components/filter/composables/useFilters.ts
Due: none

feat(build): add sonar
  .github/workflows/vulnerabilities-check.yml
Due: none

fix(revision): restore side-by-side view in revision history after flow edit (#8439)
  ui/src/components/flows/FlowRevisions.vue
Due: none

chore(ui): Improve the display of Resume/Kill executions (#8227)
  ui/src/components/executions/Kill.vue
  ui/src/components/executions/Overview.vue
  ui/src/components/executions/Resume.vue
Due: none

fix(container): update tab container classes for better layout handling. (#8456)
  ui/src/components/Tabs.vue
  ui/src/components/flows/NoExecutions.vue
Due: none

refactor(plugin): add dedicated service to parse tasks log line
  core/src/main/java/io/kestra/core/models/tasks/runners/PluginUtilsService.java
  core/src/main/java/io/kestra/core/models/tasks/runners/TaskLogLineMatcher.java
Due: Core

fix(ui): use creating=true instead of identifier=new (#8443)
  ui/src/components/code/NoCode.vue
  ui/src/components/code/components/collapse/buttons/Creation.vue
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
Due: none

tests(system): isolate SchedulerScheduleTest tests with tenantId
  core/src/test/java/io/kestra/core/schedulers/AbstractSchedulerTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleTest.java
Due: Core

Feat/storage outputs (#8361)
  cli/src/main/java/io/kestra/cli/commands/flows/FlowTestCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/StandAloneCommand.java
  core/src/main/java/io/kestra/core/contexts/KestraContext.java
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/models/executions/TaskRun.java
  core/src/main/java/io/kestra/core/models/executions/Variables.java
  core/src/main/java/io/kestra/core/repositories/LocalFlowRepositoryLoader.java
  core/src/main/java/io/kestra/core/runners/ExecutableUtils.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/RunContextInitializer.java
  core/src/main/java/io/kestra/core/runners/SubflowExecutionEnd.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/main/java/io/kestra/core/services/VariablesService.java
  core/src/main/java/io/kestra/core/storages/InternalNamespace.java
  core/src/main/java/io/kestra/core/storages/Namespace.java
  core/src/main/java/io/kestra/core/utils/ReadOnlyDelegatingMap.java
  core/src/main/java/io/kestra/plugin/core/flow/ForEachItem.java
  core/src/main/java/io/kestra/plugin/core/flow/Subflow.java
  core/src/test/java/io/kestra/core/models/executions/VariablesTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/ExecutionFixture.java
  core/src/test/java/io/kestra/core/runners/ListenersTest.java
  core/src/test/java/io/kestra/core/runners/RunContextTest.java
  core/src/test/java/io/kestra/core/tasks/OutputValuesTest.java
  core/src/test/java/io/kestra/core/utils/ReadOnlyDelegatingMapTest.java
  core/src/test/java/io/kestra/plugin/core/flow/SubflowTest.java
  core/src/test/java/io/kestra/plugin/core/flow/WorkingDirectoryTest.java
  core/src/test/java/io/kestra/plugin/core/http/TriggerTest.java
  core/src/test/resources/flows/valids/output-values.yml
  jdbc-postgres/src/test/java/io/kestra/runner/postgres/PostgresQueueTest.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  tests/src/main/java/io/kestra/core/junit/annotations/ExecuteFlow.java
  tests/src/main/java/io/kestra/core/junit/annotations/LoadFlows.java
  tests/src/main/java/io/kestra/core/junit/extensions/FlowExecutorExtension.java
  tests/src/main/java/io/kestra/core/junit/extensions/FlowLoaderExtension.java
  tests/src/main/java/io/kestra/core/utils/TestsUtils.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Cli, Core, Jdbc, Jdbc Postgres

chore(deps): regular dependency update (#8484)
  ui/package-lock.json
  ui/package.json
Due: none

fix(ui): full view height for single task logs (#8042)
  ui/src/components/logs/TaskRunDetails.vue
Due: none

feat: synchronize task edition with editor (#8433)
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/code/NoCode.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/components/Breadcrumbs.vue
  ui/src/components/code/components/Save.vue
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/code/components/collapse/buttons/Creation.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/Task.vue
  ui/src/components/code/utils/types.ts
  ui/src/components/dashboard/components/charts/executions/BarChart.vue
  ui/src/components/flows/ValidationError.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/stores/editor.js
  ui/src/stores/flow.js
  ui/src/translations/en.json
Due: none

fix(controls): adjust bottom position of contorls in multiPanelsEditor (#8465)
  ui/src/components/inputs/LowCodeEditorWrapper.vue
Due: none

fix(executions): unqueing execution must remove the execution queued
  jdbc/src/main/java/io/kestra/jdbc/runner/AbstractJdbcExecutionQueuedStorage.java
  jdbc/src/main/java/io/kestra/jdbc/services/JdbcConcurrencyLimitService.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Jdbc

tests(system): bump sleep-short sleep time to 10s
  core/src/test/resources/flows/valids/sleep-short.yml
Due: Core

tests(system): debug flaky error of shouldPauseExecutionByQueryRunningFlows
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: none

tests(system): try with different task id
  core/src/test/resources/flows/valids/sleep-short.yml
Due: Core

tests(webserver): fix flaky test which could query previous tests tasks
  core/src/test/resources/flows/valids/sleep-short.yml
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

fix(execution)*: decode and hide nested inputs of type SECRET
  core/src/main/java/io/kestra/core/runners/DefaultRunContext.java
  core/src/main/java/io/kestra/core/runners/RunVariables.java
  core/src/test/java/io/kestra/core/runners/InputsTest.java
  core/src/test/resources/flows/valids/input-log-secret.yaml
Due: Core

refactor(core): pass the dynamic concurrency schema to no code editor (#8488)
  ui/src/components/code/segments/Editor.vue
Due: none

chore(deps): update gradle version
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

doc(basic.md): add link to configuration for kestra property variables (#8490)
  ui/src/assets/docs/basic.md
Due: none

fix(flows): properly check average duration for dashboard graphs (#8457)
  ui/src/components/dashboard/components/charts/executions/BarChart.vue
Due: none

docs(core-pause): update pauseDuration properties, titles, descriptions (#8495)
  core/src/main/java/io/kestra/plugin/core/flow/Pause.java
Due: Core

fix(system): restrict the JdbcConcurrencyLimitService to the JDBC runner
  jdbc/src/main/java/io/kestra/jdbc/services/JdbcConcurrencyLimitService.java
Due: Jdbc

fix(core): fix indexer metric description (#8500)
  core/src/main/java/io/kestra/core/metrics/MetricRegistry.java
Due: Core

Add examples with expression and trimmed values (#6154)
  core/src/main/java/io/kestra/plugin/core/debug/Return.java
Due: Core

chore(ui): improvement to drilldown for Default and Custom Charts. (#7885)
  ui/src/components/dashboard/components/charts/custom/Bar.vue
  ui/src/components/dashboard/components/charts/custom/Pie.vue
  ui/src/components/dashboard/components/charts/custom/TimeSeries.vue
  ui/src/components/dashboard/components/charts/executions/BarChart.vue
  ui/src/components/dashboard/components/charts/executions/Doughnut.vue
  ui/src/utils/charts.js
  ui/tests/storybook/components/dashboard/charts/executions/BarChart.stories.jsx
Due: none
