Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

fix(ui): avoid validation API call when Flow editor is empty (#5387) (#9538)
  ui/src/stores/flow.js
  ui/src/translations/en.json
Due: none

fix(ui): make array and KV Pairs work in nocode
  ui/src/components/code/components/inputs/InputPair.vue
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/utils/cleanUp.ts
  ui/src/components/flows/tasks/TaskDict.vue
Due: none

Fix Sidebar Scrollbar and Version Text Wrapping, Minimize Panel Styles (#9528)
  ui/src/components/ContextInfoBar.vue
Due: none

tests: fix storybook tests
  ui/.storybook/vitest.config.js
  ui/package-lock.json
  ui/package.json
  ui/src/components/code/components/inputs/InputPair.vue
  ui/src/components/flows/tasks/TaskDict.vue
  ui/src/components/flows/useNoCodePanels.ts
  ui/src/components/inputs/Editor.vue
  ui/tests/storybook/components/flows/tasks/TaskDict.stories.tsx
Due: none

feat(ui): repo star button on right menu (#9526)
  ui/src/components/ContextInfoBar.vue
  ui/src/translations/en.json
Due: none

fix(ui): make file panel appear beside main panel in namespace (#9546)
  ui/src/components/Tabs.vue
Due: none

fix(tasks): sleep example are a full one
  core/src/main/java/io/kestra/plugin/core/flow/Sleep.java
Due: Core

chore: update ui-libs
  ui/package-lock.json
  ui/package.json
Due: none

fix(plugin): FileSystems.newFileSystem caused a Path component should be / in plugins tests (#9562)
  core/src/main/java/io/kestra/core/plugins/PluginScanner.java
  core/src/test/resources/plugins/plugin-template-0.24.0-SNAPSHOT.jar
  core/src/test/resources/plugins/plugin-template-test-0.18.0-SNAPSHOT.jar
Due: Core

fix(core): save disabled , tab not dirty on save (#9560)
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/stores/flow.js
Due: none

tests(flows): add e2e create and execute Flow test
  .github/workflows/e2e.yml
  package-lock.json
  ui/.gitignore
  ui/package-lock.json
  ui/package.json
  ui/run-e2e-tests.sh
  ui/src/components/inputs/MonacoEditor.vue
  ui/tests/e2e/data/application-postgres.yml
  ui/tests/e2e/data/entrypoint.sh
  ui/tests/e2e/docker-compose-postgres.yml
  ui/tests/e2e/fixtures/flows/hello.yaml
  ui/tests/e2e/flow.spec.ts
  ui/tests/e2e/playwright.config.ts
  ui/tests/e2e/start-e2e-tests-backend.sh
  ui/tests/e2e/stop-e2e-tests-backend.sh
  ui/tests/e2e/tsconfig.json
  ui/tests/storybook/components/executions/ExecutionsFilter.stories.jsx
  ui/tests/storybook/components/filter/KestraFilter.stories.tsx
  ui/tests/storybook/utils/monacoUtils.ts
  ui/vitest.config.js
Due: none

refactor: remove package lock json added by mistake
  package-lock.json
Due: none

Revert "fix(plugin): FileSystems.newFileSystem caused a Path component should be / in plugins tests (#9562)"
  core/src/main/java/io/kestra/core/plugins/PluginScanner.java
  core/src/test/resources/plugins/plugin-template-0.24.0-SNAPSHOT.jar
  core/src/test/resources/plugins/plugin-template-test-0.18.0-SNAPSHOT.jar
Due: Core

fix(plugin): FileSystems.newFileSystem caused a Path component should be / in plugins tests (#9570)
  cli/src/test/java/io/kestra/cli/commands/plugins/PluginDocCommandTest.java
  cli/src/test/java/io/kestra/cli/commands/plugins/PluginListCommandTest.java
  cli/src/test/resources/plugins/plugin-template-test-0.18.0-SNAPSHOT.jar
  cli/src/test/resources/plugins/plugin-template-test-0.24.0-SNAPSHOT.jar
  core/src/main/java/io/kestra/core/plugins/PluginScanner.java
  core/src/test/java/io/kestra/core/docs/DocumentationGeneratorTest.java
  core/src/test/resources/plugins/plugin-template-test-0.18.0-SNAPSHOT.jar
  core/src/test/resources/plugins/plugin-template-test-0.24.0-SNAPSHOT.jar
Due: Cli, Core

chore(core): add top-level exception NotFoundException
  core/src/main/java/io/kestra/core/exceptions/NotFoundException.java
  webserver/src/main/java/io/kestra/webserver/controllers/ErrorController.java
Due: Core

Feat/clean query filters (#9569)
  core/src/main/java/io/kestra/core/exceptions/InvalidQueryFiltersException.java
  core/src/main/java/io/kestra/core/models/QueryFilter.java
  core/src/test/java/io/kestra/core/models/QueryFilterTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractTriggerRepositoryTest.java
  jdbc-h2/src/test/java/io/kestra/repository/h2/H2FlowRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTriggerRepository.java
  jdbc/src/test/java/io/kestra/jdbc/repository/AbstractJdbcTriggerRepositoryTest.java
  ui/src/composables/monaco/languages/filters/impl/logFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/triggerFilterLanguage.ts
  webserver/src/main/java/io/kestra/webserver/controllers/ErrorController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
Due: Core, Jdbc, Jdbc H2

fix(podman): do not pass the tag directly to pullImageCmd (withTag) (#9607)
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
  script/src/test/java/io/kestra/plugin/scripts/runner/docker/DockerTest.java
  tests/src/main/java/io/kestra/core/models/tasks/runners/AbstractTaskRunnerTest.java
Due: Script

feat(ui): Allows ContextInfoBar.vue to have dynamic buttons from props (#9613)
  ui/src/App.vue
  ui/src/components/ContextInfoBar.vue
  ui/src/override/components/layout/DefaultLayout.vue
Due: none

fix: correctly use default tenant when synchronizing file with local (#9605)
  cli/src/main/java/io/kestra/cli/services/FileChangedEventListener.java
Due: Cli

Fix/tutorial flows with migration (#9620)
  jdbc-h2/src/main/java/io/kestra/repository/h2/H2TenantMigration.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTenantMigration.java
Due: Jdbc, Jdbc H2

feat: trigger EE CI when OSS develop branch succeed
  .github/workflows/main.yml
Due: none

perf(ui): load a sample schema while waiting (#9558)
  ui/src/components/code/segments/Editor.vue
  ui/src/components/code/segments/flow-schema.json
  ui/src/stores/flow.js
  ui/tests/storybook/components/flows/FlowEditor.stories.jsx
Due: none

feat(system): store version in the settings
  core/src/main/java/io/kestra/core/models/Setting.java
  core/src/main/java/io/kestra/core/utils/VersionProvider.java
Due: Core

tests: nocode editor (#9624)
  ui/tests/storybook/components/code/segments/Editor.stories.jsx
  ui/tests/storybook/components/filter/KestraFilter.stories.tsx
Due: none

chore(core): add top-level exception ConflictException
  core/src/main/java/io/kestra/core/exceptions/ConflictException.java
  webserver/src/main/java/io/kestra/webserver/controllers/ErrorController.java
Due: Core

fix(system): support allowFailure and allowWarning for the Pause task
  core/src/main/java/io/kestra/core/models/flows/State.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/runners/WorkerTask.java
  core/src/main/java/io/kestra/plugin/core/flow/ForEachItem.java
  core/src/main/java/io/kestra/plugin/core/flow/Subflow.java
  core/src/test/java/io/kestra/plugin/core/flow/PauseTest.java
  core/src/test/resources/flows/valids/pause-timeout-allow-failure.yaml
Due: Core

feat(executions): allow using local host files in tasks
  core/src/main/java/io/kestra/core/models/property/Data.java
  core/src/main/java/io/kestra/core/models/property/URIFetcher.java
  core/src/main/java/io/kestra/core/validations/DataValidation.java
  core/src/main/java/io/kestra/core/validations/validator/DataValidator.java
  core/src/test/java/io/kestra/core/docs/ClassPluginDocumentationTest.java
  core/src/test/java/io/kestra/core/models/property/DynamicPropertyExampleTask.java
  core/src/test/java/io/kestra/core/models/property/PropertyTest.java
  core/src/test/java/io/kestra/core/models/property/URIFetcherTest.java
  core/src/test/java/io/kestra/core/validations/DataValidationTest.java
Due: Core

chore(system): relax AbstractSettingRepositoryTest assertion
  core/src/test/java/io/kestra/core/repositories/AbstractSettingRepositoryTest.java
Due: Core

fix(ci): modify job id for end task
  .github/workflows/main.yml
Due: none

chore(system): relax again some test on AbstractSettingRepositoryTest
  core/src/test/java/io/kestra/core/repositories/AbstractSettingRepositoryTest.java
Due: Core

fix(plugin-versioning): replace current JAR if more recent (#9629)
  core/src/main/java/io/kestra/core/plugins/LocalPluginManager.java
  core/src/main/java/io/kestra/core/plugins/PluginManager.java
Due: Core

style: fix font-size of label (#9634)
  ui/src/components/flows/tasks/TaskObjectField.vue
Due: none

feat(namespaces): show ns description (#9610)
  ui/src/override/components/namespaces/Namespaces.vue
  ui/src/routes/routes.js
Due: none

fix(triggers): #4110 NPE when disable trigger with empty body (#9635)
  core/src/test/java/io/kestra/core/repositories/AbstractSettingRepositoryTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TriggerController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/TriggerControllerTest.java
Due: Core

feat(flows): allow to pass a typed object in Data.from()
  core/src/main/java/io/kestra/core/models/property/Data.java
  core/src/test/java/io/kestra/core/models/property/PropertyTest.java
Due: Core

fix(ui): default value for expression cannot be null (#9636)
  ui/src/components/flows/tasks/TaskExpression.vue
Due: none

feat(ui): Add support for bulk-select and bulk-delete (#8281)
  ui/src/components/inputs/EditorSidebar.vue
  ui/src/translations/en.json
Due: none

fix(system): SettingRepository test
  core/src/test/java/io/kestra/core/repositories/AbstractSettingRepositoryTest.java
Due: Core

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
