Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(core): add a meaningful log for flow that can inject defaults
  core/src/main/java/io/kestra/core/services/PluginDefaultService.java
Due: Core

fix(scripts)!: update pull policy to IF_NOT_PRESENT (#8169)
  script/src/main/java/io/kestra/plugin/scripts/exec/AbstractExecScript.java
Due: Script

fix(): allows namespace to be search by in filter
  core/src/main/java/io/kestra/core/models/QueryFilter.java
Due: Core

fix(core): mask secrets on log attributes
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
  core/src/test/java/io/kestra/core/runners/RunContextLoggerTest.java
Due: Core

Revert "fix(core): HttpClient log the URL even if it's a secret"
  core/src/main/java/io/kestra/core/http/client/apache/RunContextResponseInterceptor.java
Due: Core

fix!: update pullPolicy default value to IF_NOT_PRESENT (#8170)
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/models/DockerOptions.java
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
Due: Script

feat: add afterExecution to basic.md (#8126)
  ui/src/assets/docs/basic.md
Due: none

fix(ui): better autocompletion relevance
  ui/src/components/inputs/MonacoEditor.vue
Due: none

fix(gradle): Windows selfrun.bat
  gradle/jar/selfrun.bat
Due: none

fix(ci): use the right GitHub token for test report
  .github/workflows/workflow-backend-test.yml
Due: none

fix(jdbc): possible deadlock on service instance
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcServiceInstanceRepository.java
Due: Jdbc

chore(core): remove un-used attribute in FlowWithWorkerTrigger
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

fix(cli): fix NPE for commands not requiring plugins (#8212)
  cli/src/main/java/io/kestra/cli/AbstractApiCommand.java
  cli/src/main/java/io/kestra/cli/AbstractValidateCommand.java
  cli/src/test/java/io/kestra/cli/commands/flows/FlowExportCommandTest.java
  cli/src/test/java/io/kestra/cli/commands/flows/FlowUpdatesCommandTest.java
  cli/src/test/java/io/kestra/cli/commands/flows/TemplateValidateCommandTest.java
  cli/src/test/java/io/kestra/cli/commands/namespaces/files/NamespaceFilesUpdateCommandTest.java
  cli/src/test/java/io/kestra/cli/commands/namespaces/kv/KvUpdateCommandTest.java
Due: Cli

Feat(): ci changes (#8217)
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .github/workflows/workflow-release.yml
Due: none

fix(ui): auto-resize suggest window to fit tasks
  ui/src/components/inputs/MonacoEditor.vue
Due: none

fix(ui): remove all warnings from MonacoEditor.vue
  ui/package-lock.json
  ui/package.json
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/utils/regex.ts
  ui/src/vuex-shims.d.ts
Due: none

chore(ci): modify publish docker to align on EE
  .github/workflows/workflow-publish-docker.yml
  .github/workflows/workflow-release.yml
Due: none

chore(ci): align plugins handle for docker publish on EE CI
  .github/workflows/workflow-publish-docker.yml
Due: none

fix(core): be tolerant of decryption issue
  core/src/main/java/io/kestra/core/encryption/EncryptionService.java
  core/src/main/java/io/kestra/core/runners/Secret.java
Due: Core

fix(jdbc): #8219 unquoted timestamp field breaking query (#8222)
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
Due: Core, Jdbc

fire(core): flaky allow failure for each item test (#8228)
  core/src/test/java/io/kestra/core/runners/TaskWithAllowFailureTest.java
Due: Core

fix(docs): update task type in example to updated name
  core/src/main/java/io/kestra/plugin/core/templating/TemplatedTask.java
Due: Core

refactor: migrate plugin condition to dynamic properties (#6907)
  core/src/main/java/io/kestra/plugin/core/condition/DateTimeBetween.java
  core/src/main/java/io/kestra/plugin/core/condition/DayWeek.java
  core/src/main/java/io/kestra/plugin/core/condition/DayWeekInMonth.java
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionFlow.java
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionNamespace.java
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionOutputs.java
  core/src/main/java/io/kestra/plugin/core/condition/ExecutionStatus.java
  core/src/main/java/io/kestra/plugin/core/condition/Expression.java
  core/src/main/java/io/kestra/plugin/core/condition/HasRetryAttempt.java
  core/src/main/java/io/kestra/plugin/core/condition/PublicHoliday.java
  core/src/main/java/io/kestra/plugin/core/condition/TimeBetween.java
  core/src/main/java/io/kestra/plugin/core/condition/Weekend.java
  core/src/test/java/io/kestra/core/models/flows/FlowWithSourceTest.java
  core/src/test/java/io/kestra/core/models/triggers/multipleflows/AbstractMultipleConditionStorageTest.java
  core/src/test/java/io/kestra/core/runners/ListenersTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerConditionTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerPollingTriggerTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleTest.java
  core/src/test/java/io/kestra/core/services/ConditionServiceTest.java
  core/src/test/java/io/kestra/core/services/FlowTopologyServiceTest.java
  core/src/test/java/io/kestra/core/services/PluginDefaultServiceTest.java
  core/src/test/java/io/kestra/plugin/core/condition/DateTimeBetweenTest.java
  core/src/test/java/io/kestra/plugin/core/condition/DayWeekInMonthTest.java
  core/src/test/java/io/kestra/plugin/core/condition/DayWeekTest.java
  core/src/test/java/io/kestra/plugin/core/condition/ExecutionFlowTest.java
  core/src/test/java/io/kestra/plugin/core/condition/ExecutionNamespaceTest.java
  core/src/test/java/io/kestra/plugin/core/condition/ExecutionOutputsTest.java
  core/src/test/java/io/kestra/plugin/core/condition/ExecutionStatusTest.java
  core/src/test/java/io/kestra/plugin/core/condition/ExpressionTest.java
  core/src/test/java/io/kestra/plugin/core/condition/HasRetryAttemptTest.java
  core/src/test/java/io/kestra/plugin/core/condition/MultipleConditionTest.java
  core/src/test/java/io/kestra/plugin/core/condition/NotTest.java
  core/src/test/java/io/kestra/plugin/core/condition/OrTest.java
  core/src/test/java/io/kestra/plugin/core/condition/PublicHolidayTest.java
  core/src/test/java/io/kestra/plugin/core/condition/TimeBetweenTest.java
  core/src/test/java/io/kestra/plugin/core/condition/WeekendTest.java
  core/src/test/java/io/kestra/plugin/core/trigger/ScheduleTest.java
  script/src/test/java/io/kestra/plugin/scripts/runners/LogConsumerTest.java
Due: Core, Script

fix(docs): add title, description, and example to Dashboard chart data (#8220)
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Executions.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Logs.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Metrics.java
  core/src/main/java/io/kestra/plugin/core/execution/Assert.java
Due: Core

fix(core): default namespace in namespace file
  core/src/main/java/io/kestra/core/models/tasks/NamespaceFiles.java
  core/src/test/java/io/kestra/core/utils/NamespaceFilesUtilsTest.java
Due: Core

feat(jdbc): allow disabling queue cleaning.
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

feat(jdbc): avoid using the WorkerTaskResult queue when possible
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

feat(ui): add plugin icons to auto-completions + make autocompletion work upon writing full package
  ui/src/components/inputs/MonacoEditor.vue
Due: none

fix(ui): move bunch of utils to typescript
  ui/eslint.config.js
  ui/package-lock.json
  ui/package.json
  ui/src/components/dashboard/components/charts/custom/Bar.vue
  ui/src/components/dashboard/components/charts/custom/Pie.vue
  ui/src/components/dashboard/components/charts/custom/TimeSeries.vue
  ui/src/components/dashboard/components/charts/executions/BarChart.vue
  ui/src/components/dashboard/components/charts/executions/Doughnut.vue
  ui/src/components/dashboard/components/charts/executions/Namespace.vue
  ui/src/components/dashboard/components/charts/legend.js
  ui/src/components/dashboard/components/charts/logs/Bar.vue
  ui/src/components/layout/Cron.vue
  ui/src/components/logs/TaskRunDetails.vue
  ui/src/components/stats/LogChart.vue
  ui/src/components/stats/StateChart.vue
  ui/src/monaco-editor.d.ts
  ui/src/override/utils/route.ts
  ui/src/override/utils/yamlSchemas.js
  ui/src/override/utils/yamlSchemas.ts
  ui/src/stores/executions.js
  ui/src/utils/utils.ts
Due: none

fix(ui): avoid jsx confusion on cast that prevent Storybook from running
  ui/src/components/inputs/MonacoEditor.vue
Due: none

fix(ui): exclude additional files from UI coverage report
  ui/vitest.config.js
Due: none

feat(ui): introduce patched version of monaco-yaml & yaml-language-server to have better autocompletion
  ui/package-lock.json
  ui/package.json
  ui/patches/monaco-yaml+5.3.1.patch
  ui/patches/patch-package+8.0.0.patch
Due: none

feat(webserver): move oneOf to anyOf in JsonSchemaGenerator to have better autocompletion
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/main/resources/docs/macro.peb
  core/src/test/java/io/kestra/core/docs/ClassPluginDocumentationTest.java
  core/src/test/java/io/kestra/core/docs/JsonSchemaGeneratorTest.java
  ui/src/components/flows/tasks/AnyOfContent.vue
  ui/src/components/flows/tasks/Task.js
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/utils/init.js
Due: Core

fix(core): add `additionalProperties=false` to tasks to have a warning if there is unknown properties
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
Due: Core

chore(deps): update pebble to 3.2.4
  platform/build.gradle
Due: Platform

chore: add a rule to prevent angle brackets cast in TS
  ui/eslint.config.js
Due: none

Revert "fix(core): add `additionalProperties=false` to tasks to have a warning if there is unknown properties"
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
Due: Core

fix(ui): bump ui-libs to 0.0.167
  ui/package-lock.json
  ui/package.json
Due: none

fix(ui): bump ui-libs to 0.0.168
  ui/package-lock.json
  ui/package.json
Due: none

chore(ci): Implement JReleaser for GitHub Release (#8231)
  .github/workflows/workflow-github-release.yml
Due: none
