Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

fix(ui): restart trigger position for backfill column (#8246)
  ui/src/components/admin/Triggers.vue
  ui/src/components/layout/SelectTable.vue
  ui/tests/storybook/components/admin/Triggers.stories.jsx
  ui/tsconfig.json
Due: none

feat(plugin): add a way to provide additional type of plugins
  core/src/main/java/io/kestra/core/docs/DocumentationGenerator.java
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/main/java/io/kestra/core/docs/Plugin.java
  core/src/main/java/io/kestra/core/plugins/AdditionalPlugin.java
  core/src/main/java/io/kestra/core/plugins/PluginScanner.java
  core/src/main/java/io/kestra/core/plugins/RegisteredPlugin.java
  core/src/test/java/io/kestra/core/plugins/AdditionalPluginTest.java
  core/src/test/resources/flows/valids/additional-plugin.yaml
Due: Core

fix(ui): save existing flow after making changes (#8378)
  ui/src/components/inputs/EditorButtonsWrapper.vue
  ui/src/stores/flow.js
Due: none

fix(core): failing DocumentationGeneratorTest.returnDoc()
  core/src/test/java/io/kestra/core/docs/DocumentationGeneratorTest.java
Due: Core

chore(core): refactor component to composition API structure and with some styling (#8504)
  ui/src/components/logs/LogLevelNavigator.vue
Due: none

feat(flows): add validation for use of inputs and outputs with '-' in the name (#8379)
  core/src/main/java/io/kestra/core/validations/validator/FlowValidator.java
  core/src/test/java/io/kestra/core/validations/FlowValidationTest.java
  core/src/test/resources/flows/invalids/inputs-key-with-subtraction-symbol-validation.yaml
  core/src/test/resources/flows/invalids/outputs-key-with-subtraction-symbol-validation.yaml
Due: Core

test(core): fix breaking change in local flow repository (#8517)
  core/src/main/java/io/kestra/core/repositories/LocalFlowRepositoryLoader.java
Due: Core

feat(system)!: remove the SQLServer runner
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcRepositoryEnabled.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcRunnerEnabled.java
Due: Jdbc

chore(build): add Postgres stat extension
  docker-compose-ci.yml
Due: none

feat(plugins): add Langchain4J plugins
  .plugins
Due: none

chore(system): add warn log when emit logQueue failed (#8432)
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
Due: Core

feat(plugins): add Go Script plugin
  .plugins
Due: none

fix(jdbc): add service_id index on service_instance table
  jdbc-h2/src/main/resources/migrations/h2/V1_37__service_instance_index_on_service_id.sql
  jdbc-mysql/src/main/resources/migrations/mysql/V1_36__service_instance_index_on_service_id.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_36__service_instance_index_on_service_id.sql
Due: Jdbc H2, Jdbc Mysql, Jdbc Postgres

chore(flows): improve the blueprints view within the flow editing panels (#7983)
  ui/src/override/components/flows/blueprints/BlueprintsBrowser.vue
Due: none

fix(flows): properly load blueprints in multi panel view (#8524)
  ui/src/components/flows/blueprints/BlueprintsWrapper.vue
Due: none

feat(flows): improve the display of array inputs when running an execution (#7953)
  ui/src/components/inputs/InputsForm.vue
  ui/src/translations/en.json
Due: none

fix(system): change default config values for liveness
  cli/src/main/resources/application.yml
Due: Cli

fix(ui): amend Absolute date filter's looks (#8501)
  ui/src/components/filter/composables/useFilters.ts
  ui/src/translations/en.json
Due: none

docs(flow-trigger): add note about no Pebble in conditions
  core/src/main/java/io/kestra/plugin/core/trigger/Flow.java
Due: Core

fix(ui): remove parts of filter using backspace (#8105)
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(ui): open link in markdown in other tab. (#8258)
  ui/package-lock.json
  ui/package.json
  ui/src/utils/markdown-it-plugins.d.ts
  ui/src/utils/markdown.ts
  ui/src/utils/markdownDeps.ts
Due: none

fix(system): load OpenTelemetry lib in the app classloader
  core/src/main/java/io/kestra/core/plugins/PluginClassLoader.java
Due: Core

feat(ui): Add search in internal docs (#8458)
  ui/src/components/ContextInfoContent.vue
  ui/src/components/docs/ContextDocs.vue
  ui/src/components/docs/ContextDocsMenu.vue
  ui/src/components/docs/ContextDocsSearch.vue
  ui/src/translations/en.json
Due: none

fix(triggers): inject default later inside the Scheduler
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

chore(execution): update display names for executions. (#8527)
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/TimeSeries.java
  ui/src/components/dashboard/components/DashboardCreate.vue
  ui/src/components/dashboard/components/charts/executions/Bar.vue
Due: Core

fix(core): change incorrectly used search parameter (#8534)
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/LogController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TaskRunController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TriggerController.java
  webserver/src/main/java/io/kestra/webserver/utils/RequestUtils.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
  webserver/src/test/java/io/kestra/webserver/utils/RequestUtilsTest.java
Due: none

fix(ui): set isCreating to false when opening flow edit mode (#8549)
  ui/src/components/flows/FlowRoot.vue
Due: none

fix(core): safely access section and identifier query params (#8542)
  ui/src/components/inputs/EditorView.vue
Due: none

fix(ui): update storybook editor tests with provided keys (#8550)
  .github/workflows/workflow-frontend-test.yml
  ui/tests/storybook/components/code/segments/Editor.stories.jsx
  ui/vite.config.js
Due: none

fix(triggers): amend broken filtering on triggers tab (#8553)
  ui/src/components/admin/Triggers.vue
  ui/src/components/filter/composables/useFilters.ts
Due: none

chore: attempt to fix flaky tests (#8537)
  cli/src/test/java/io/kestra/cli/commands/flows/SingleFlowCommandsTest.java
  cli/src/test/resources/crudFlow/date.yml
  core/src/test/java/io/kestra/plugin/core/log/PurgeLogsTest.java
Due: Cli, Core

fix(namespaces): namespaceFiles with same name are wrongly overwritten (#8562)
  core/src/main/java/io/kestra/core/utils/NamespaceFilesUtils.java
  core/src/test/java/io/kestra/core/utils/NamespaceFilesUtilsTest.java
Due: Core

feat(core): forward execution labels in Flow Trigger
  core/src/main/java/io/kestra/plugin/core/trigger/Flow.java
  core/src/test/java/io/kestra/plugin/core/trigger/FlowTest.java
Due: Core

chore(triggers)*: properly handle switches for triggers disabled from within flow source (#8106)
  ui/src/components/admin/Triggers.vue
  ui/src/translations/en.json
Due: none

fix(executions): fix execution failure due to UnsupportedOperationException (#8563)
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
Due: Core

feat(system): add TestSuite model,taskFixture impl
  core/src/main/java/io/kestra/core/models/Label.java
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/RunnerUtils.java
  core/src/main/java/io/kestra/core/test/TestSuite.java
  core/src/main/java/io/kestra/core/test/flow/Assertion.java
  core/src/main/java/io/kestra/core/test/flow/Fixtures.java
  core/src/main/java/io/kestra/core/test/flow/TaskFixture.java
  core/src/main/java/io/kestra/core/test/flow/TriggerFixture.java
  core/src/main/java/io/kestra/core/test/flow/UnitTest.java
  core/src/test/java/io/kestra/core/runners/TestSuiteTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: Core

fix: redirect to edit when saving new flow (#8560)
  ui/src/stores/flow.js
Due: none

feat(system)*: decrease defaut JDBC queue poll size
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

feat(flows): Allow to define an onPause task on the Pause task
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/utils/ListUtils.java
  core/src/main/java/io/kestra/plugin/core/flow/Pause.java
  core/src/test/java/io/kestra/plugin/core/flow/PauseTest.java
  core/src/test/resources/flows/valids/pause_on_pause.yaml
Due: Core

feat(executions): Add workerId to each worker task attemps
  core/src/main/java/io/kestra/core/models/executions/TaskRunAttempt.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  ui/src/components/executions/ServiceInfo.vue
  ui/src/components/executions/TaskRunLine.vue
  ui/src/components/executions/WorkerInfo.vue
  ui/src/stores/service.js
  ui/src/stores/store.js
  ui/src/translations/en.json
  webserver/src/main/java/io/kestra/webserver/controllers/api/ClusterController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ClusterControllerTest.java
Due: Core

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
