Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

fix(core): update text from user to account. (#10187)
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(core): adjust word wrap and prevent newlines in input (#10176)
  ui/src/components/filter/KestraFilter.vue
Due: none

feat(core): add troubleshooting button and doc (#10191)
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

feat: introduce ui changes for keeping filename on file input
  ui/src/components/flows/Curl.vue
  ui/src/utils/submitTask.js
Due: none

feat(executions): use the uploaded file name for inputs of type FILE
  core/src/main/java/io/kestra/core/models/flows/input/FileInput.java
  core/src/main/java/io/kestra/core/runners/FlowInputOutput.java
  core/src/main/java/io/kestra/core/storages/StorageInterface.java
Due: Core

feat(security) #10180 open basic auth validation endpoint (#10190)
  webserver/src/main/java/io/kestra/webserver/filter/AuthenticationFilter.java
  webserver/src/test/java/io/kestra/webserver/filter/AuthenticationFilterTest.java
Due: none

fix(core): check if logged in before requesting usages (#10194)
  ui/src/App.vue
  ui/src/stores/misc.ts
Due: none

chore(deps): relocate mysql driver
  jdbc-mysql/build.gradle
  platform/build.gradle
Due: Jdbc Mysql, Platform

refactor(pebble): Stronger the uuid function from v4 to v7
  build.gradle
  core/src/main/java/io/kestra/core/runners/pebble/functions/UUIDFunction.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/UUIDFunctionTest.java
  platform/build.gradle
Due: Core, Platform

fix(tests): timezone issue
  core/src/test/java/io/kestra/core/runners/pebble/filters/DateFilterTest.java
Due: Core

fix(executions): support unicode file name inside the internal storage
  core/src/main/java/io/kestra/core/models/tasks/runners/ScriptService.java
  core/src/test/java/io/kestra/core/models/tasks/runners/ScriptServiceTest.java
Due: Core

feat(core): implement backend validation for login for configs and also fixes PH event (#10196)
  ui/src/components/basicauth/BasicAuthLogin.vue
  ui/src/components/basicauth/BasicAuthSetup.vue
  ui/src/main.js
  ui/src/stores/misc.ts
  ui/src/translations/en.json
  ui/src/utils/setupPosthog.ts
  webserver/src/main/java/io/kestra/webserver/services/BasicAuthService.java
Due: none

feat(core): update titles , add button slot for license (#10218)
  ui/src/components/admin/stats/EditionCharacteristics.vue
  ui/src/components/admin/stats/Usages.vue
  ui/src/override/components/admin/stats/Stats.vue
  ui/src/override/components/useLeftMenu.ts
  ui/src/translations/en.json
Due: none

feat(tests): use Flow YAML autocompletion
  ui/src/composables/monaco/languages/languagesConfigurator.ts
Due: none

fix(pebble): fix typo
  core/src/main/java/io/kestra/core/runners/pebble/AbstractDate.java
  core/src/test/java/io/kestra/core/runners/pebble/filters/DateFilterTest.java
Due: Core

feat(pebble): add millisecond date time format
  core/src/main/java/io/kestra/core/runners/pebble/AbstractDate.java
  core/src/test/java/io/kestra/core/runners/pebble/filters/DateFilterTest.java
  ui/src/assets/docs/basic.md
Due: Core

fix(pebble): fix typo
  core/src/test/java/io/kestra/core/runners/pebble/filters/DateFilterTest.java
Due: Core

fix(executions)*: restart with finally or afterExecution
  core/src/main/java/io/kestra/core/models/flows/Flow.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/RestartCaseTest.java
  core/src/test/resources/flows/valids/restart-with-after-execution.yaml
  core/src/test/resources/flows/valids/restart-with-finally.yaml
Due: Core

fix(flows): remove flows date filters UI, they do not exist
  ui/src/components/dashboard/sections/Sections.vue
  ui/src/components/flows/Flows.vue
  ui/src/composables/monaco/languages/filters/impl/flowFilterLanguage.ts
Due: none

fix(pebble): #8953 add more flexible day number conversion method (#10205)
  core/src/main/java/io/kestra/core/runners/pebble/filters/DateAddFilter.java
  core/src/test/java/io/kestra/core/runners/pebble/filters/DateAddFilterTest.java
Due: Core

feat(core): add a Pebble function to generate KSUID
  core/build.gradle
  core/src/main/java/io/kestra/core/runners/pebble/Extension.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/KSUIDFunction.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/KSUIDFunctionTest.java
Due: Core

fix(core): do not show release notes button for ee specific plugins (#10235)
  ui/src/utils/pluginUtils.ts
Due: none

fix: handle label filter with and instead or for flow
  jdbc-h2/src/main/java/io/kestra/repository/h2/H2FlowRepositoryService.java
  jdbc-mysql/src/main/java/io/kestra/repository/mysql/MysqlFlowRepositoryService.java
  jdbc-postgres/src/main/java/io/kestra/repository/postgres/PostgresFlowRepositoryService.java
Due: Jdbc H2, Jdbc Mysql, Jdbc Postgres

fix(tests): strengthen awaitExecution predicate
  core/src/main/java/io/kestra/core/models/flows/Flow.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/test/java/io/kestra/core/runners/RestartCaseTest.java
Due: Core

fix(executions): make sure outputs do not overflow over right drawer (#10238)
  ui/src/components/executions/outputs/Wrapper.vue
Due: none

fix(repositories): make filter service protected (#10241)
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
Due: Jdbc

chore(core): add missing translation key/value pairs (#10243)
  ui/src/translations/de.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(triggers): ensure clearing the selection. (#10245)
  ui/src/components/admin/Triggers.vue
Due: none

feat(cli): added skip-deprecated flag in plugindoc command
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginDocCommand.java
Due: Cli

fix(namespaces)*: prevent overwriting namespace file content with undefined string (#10247)
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/flows/useCodePanels.ts
  ui/src/components/inputs/EditorWrapper.vue
Due: none

fix(logs): update query filter to show logs ns and flowwise (#10248)
  ui/src/components/logs/LogsWrapper.vue
Due: none

feat: action to check if tag is latest in github release
  .github/workflows/workflow-github-release.yml
Due: none

chore(test): Improved TestsUtils and added more tests for coverage in… (#9776)
  tests/src/main/java/io/kestra/core/utils/TestsUtils.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: none

feat(pebble): create a in expression to look for a string in a list (#9817)
  core/src/main/java/io/kestra/core/runners/pebble/Extension.java
  core/src/main/java/io/kestra/core/runners/pebble/expression/InExpression.java
  core/src/test/java/io/kestra/core/runners/pebble/expression/InExpressionTest.java
  ui/src/assets/docs/basic.md
Due: Core

chore(plugins): rename Langchain4j plugin to AI
  .plugins
Due: none

fix(executions): fixes execution selection action button (#10257)
  ui/src/components/executions/Executions.vue
Due: none

feat: hide community button on EE edition (#10251)
  ui/src/components/ContextInfoBar.vue
Due: none

chore(version): bump ui-libs to version 0.0.222 (#10285)
  ui/package-lock.json
  ui/package.json
Due: none

fix(executions): fixes file preview (#10252)
  ui/src/components/executions/FilePreview.vue
  ui/src/stores/executions.ts
Due: none

feat(execution): "Debug Expression" for Trigger Variables (#10242)
  ui/src/components/executions/Overview.vue
  ui/src/components/executions/TriggerCascader.vue
  ui/src/translations/en.json
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
