Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

fix(core): properly show custom dashboard card titles (#9035)
  ui/src/components/dashboard/components/ChartsSection.vue
Due: none

fix(dashboard): simplify naming for ratio (#9041)
  ui/src/assets/dashboard/default_flow_definition.yaml
  ui/src/assets/dashboard/default_main_definition.yaml
  ui/src/assets/dashboard/default_namespace_definition.yaml
Due: none

fix: color of Failed status (#9042)
  ui/package-lock.json
  ui/package.json
Due: none

fix(core): handle AND by spaces in filters (#9046)
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/composables/useFilters.ts
  ui/src/composables/monaco/languages/filters/filterCompletion.ts
  webserver/src/main/java/io/kestra/webserver/converters/QueryFilterFormatBinder.java
Due: none

fix(ui): namespace tab didn't use the pluginDefault translation
  ui/src/override/components/namespaces/useTabs.ts
Due: none

fix(dashboard): Properly cast log level column in Dashboards
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  jdbc-postgres/src/main/java/io/kestra/repository/postgres/PostgresLogRepository.java
Due: Core, Jdbc Postgres

fix(core): scope is a single value filter
  ui/src/composables/monaco/languages/filters/impl/executionFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/flowFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/taskRunFilterLanguage.ts
Due: none

fix(core): avoid undefined due to scope filter addition
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/logs/LogsWrapper.vue
Due: none

fix(deps): fixed storybook router version to UI one
  ui/package.json
Due: none

fix(core): wrong childFilter naming
  ui/src/components/executions/Executions.vue
  ui/src/components/filter/composables/useValues.ts
  ui/src/composables/monaco/languages/filters/impl/executionFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/taskRunFilterLanguage.ts
Due: none

fix(core): avoid red-coloured filter keywords
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
Due: none

fix(core): filtering was not working with pagination
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(core): avoid overriding sort, size and page from new filtering
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(core): add REGEX filtering on namespace field in JDBC
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
Due: Jdbc

fix(core): support REGEX filtering
  ui/src/components/filter/KestraFilter.vue
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
Due: none

fix(core): amend keyboard save shortcut for both flow and namespace files (#9030)
  ui/src/components/inputs/EditorWrapper.vue
Due: none

fix(flow): diff shows as per revision number (#9080)
  ui/src/components/flows/FlowRevisions.vue
Due: none

test(storage): remove all null tenant test (#9054)
  tests/src/main/java/io/kestra/core/storage/StorageTestSuite.java
Due: none

chore(deps): remove @types/splitpanes and add a manual module for it + fix vue version
  ui/package-lock.json
  ui/package.json
  ui/src/splitpanes.d.ts
Due: none

chore(deps): splitpanes types
  ui/src/splitpanes.d.ts
Due: none

fix: setup anyof forms for taskRunner retry and others (#9049)
  ui/src/components/flows/MetadataRetry.vue
  ui/src/components/flows/MetadataSLA.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/tasks/Task.js
  ui/src/components/flows/tasks/Task.ts
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskConstant.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskObjectField.vue
Due: none

fix(core): prevent cursor in code editor from jumping to top (#9095)
  ui/src/components/code/segments/Task.vue
Due: none

fix(tests): add tenant id to log repository tests (#9100)
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
Due: Core

feat: replace daily charts by customized charts (#9081)
  ui/src/assets/dashboard/executions_timeseries_chart.yaml
  ui/src/assets/dashboard/logs_timeseries_chart.yaml
  ui/src/components/admin/Triggers.vue
  ui/src/components/dashboard/components/ChartsSection.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/FlowTriggers.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/logs/LogsWrapper.vue
Due: none

fix(system): wait for grace period before reemitting tasks for terminated_forced workers
  core/src/main/java/io/kestra/core/server/AbstractServiceLivenessCoordinator.java
Due: Core

feat(test): allow inline files fixtures and render fixture outputs
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/AbstractFileFunction.java
  core/src/main/java/io/kestra/core/test/flow/Fixtures.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/ReadFileFunctionTest.java
Due: Core

chore(flows): take default namespace into account on flow creation (#9110)
  ui/src/components/flows/FlowCreate.vue
Due: none

fix(executions): by-query not working with new filters (#9058)
  core/src/main/java/io/kestra/core/utils/DateUtils.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/main/java/io/kestra/webserver/utils/QueryFilterUtils.java
  webserver/src/test/java/io/kestra/webserver/utils/QueryFilterUtilsTest.java
Due: Core

feat(storage): refactor getPath (#9104)
  core/src/main/java/io/kestra/core/storages/StorageInterface.java
  storage-local/src/main/java/io/kestra/storage/local/LocalStorage.java
  tests/src/main/java/io/kestra/core/storage/StorageTestSuite.java
Due: Core, Storage Local

fix(core): bring back radio styles. (#9112)
  ui/src/components/flows/tasks/TaskAnyOf.vue
Due: none

fix(core): avoid red-coloured key in filters
  ui/src/components/filter/KestraFilter.vue
  ui/src/composables/monaco/languages/abstractLanguageConfigurator.ts
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
  ui/src/composables/monaco/languages/languagesConfigurator.ts
Due: none

fix(core): remove namespace & flowId keys on Flow -> Executions page filter
  ui/src/components/executions/Executions.vue
  ui/src/composables/monaco/languages/filters/impl/flowExecutionFilterLanguage.ts
Due: none

fix(core): log level is not a multi-value filter
  ui/src/composables/monaco/languages/filters/impl/logFilterLanguage.ts
Due: none

chore(dashboards): multiple ux improvements of dashboards (#9111)
  ui/src/assets/dashboard/default_flow_definition.yaml
  ui/src/assets/dashboard/default_main_definition.yaml
  ui/src/assets/dashboard/default_namespace_definition.yaml
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/components/ChartsSection.vue
  ui/src/components/dashboard/components/DashboardCreate.vue
  ui/src/components/dashboard/components/Header.vue
  ui/src/components/dashboard/components/MarkdownPanel.vue
  ui/src/components/dashboard/components/charts/custom/Bar.vue
  ui/src/components/dashboard/components/charts/custom/KPI.vue
  ui/src/components/dashboard/components/charts/custom/Pie.vue
  ui/src/components/dashboard/components/charts/custom/TimeSeries.vue
  ui/src/components/dashboard/components/charts/legend.js
  ui/src/components/dashboard/components/tables/custom/Table.vue
  ui/src/components/filter/segments/Dashboards.vue
  ui/src/components/layout/TopNavBar.vue
  ui/src/utils/charts.js
Due: none

feat: improved new custom dashboard (#9120)
  core/src/main/java/io/kestra/core/models/dashboards/DataFilterKPI.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/IExecutions.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/ILogs.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/IMetrics.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/ITriggers.java
  ui/src/components/dashboard/components/ChartsSection.vue
  ui/src/components/dashboard/components/MarkdownPanel.vue
  ui/src/components/dashboard/components/charts/custom/Bar.vue
  ui/src/components/dashboard/components/charts/custom/KPI.vue
  ui/src/components/dashboard/components/charts/custom/Pie.vue
  ui/src/components/dashboard/components/charts/custom/TimeSeries.vue
  ui/src/components/dashboard/components/tables/custom/Table.vue
  webserver/src/main/java/io/kestra/webserver/utils/TimeLineSearch.java
Due: Core

fix: don't use a endDate when not asked (#9056)
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
  webserver/src/main/java/io/kestra/webserver/utils/TimeLineSearch.java
Due: Core, Jdbc

fix(core): avoid sort, page & size from interfering with filter widget
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(system): use the correct config name for resonse cache
  cli/src/main/resources/application.yml
Due: Cli

chore(dashboards): remove text transformation in chart legend creation (#9130)
  ui/src/components/dashboard/components/charts/legend.js
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
