Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(platform): move slf4j api to enforce platform to fix it's version in test (#8007)
  platform/build.gradle
Due: Platform

feat: multi panel editor without the refactor (#7971)
  .gitignore
  ui/package-lock.json
  ui/package.json
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/flows/FlowCreate.vue
  ui/src/components/flows/FlowEditor.vue
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/flows/blueprints/BlueprintsWrapper.vue
  ui/src/components/flows/panelDefinition.ts
  ui/src/components/flows/useCodePanels.ts
  ui/src/components/inputs/EditorButtonsWrapper.vue
  ui/src/components/inputs/EditorSidebarWrapper.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/LowCodeEditorWrapper.vue
  ui/src/components/plugins/PluginDocumentationWrapper.vue
  ui/src/components/settings/BasicSettings.vue
  ui/src/translations/en.json
  ui/tests/storybook/components/MultiPanelTabs.stories.tsx
Due: none

feat: parse docs is 2 steps to avoid user waiting with nothing (#7149)
  ui/src/components/docs/ContextDocs.vue
Due: none

chore: refactor StorageInterfaceFactory to be a bean
  core/src/main/java/io/kestra/core/contexts/KestraBeansFactory.java
  core/src/main/java/io/kestra/core/contexts/KestraContext.java
  core/src/main/java/io/kestra/core/models/collectors/ServiceUsage.java
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/repositories/ServiceInstanceRepositoryInterface.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/server/AbstractServiceLivenessCoordinator.java
  core/src/main/java/io/kestra/core/server/Service.java
  core/src/main/java/io/kestra/core/server/ServiceInstance.java
  core/src/main/java/io/kestra/core/server/ServiceLivenessManager.java
  core/src/main/java/io/kestra/core/server/ServiceRegistry.java
  core/src/main/java/io/kestra/core/server/ServiceType.java
  core/src/main/java/io/kestra/core/storages/StorageConfiguration.java
  core/src/main/java/io/kestra/core/storages/StorageInterfaceFactory.java
  core/src/main/java/io/kestra/core/utils/IdUtils.java
  core/src/test/java/io/kestra/core/models/collectors/ServiceUsageTest.java
  core/src/test/java/io/kestra/core/models/flows/FlowWithSourceTest.java
  core/src/test/java/io/kestra/core/server/ServiceInstanceTest.java
  core/src/test/java/io/kestra/core/storages/StorageInterfaceFactoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/JdbcWorkerJobQueueService.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcServiceInstanceRepository.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcIndexer.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcServiceLivenessCoordinator.java
  jdbc/src/test/java/io/kestra/jdbc/repository/AbstractJdbcServiceInstanceRepositoryTest.java
  webserver/src/main/java/io/kestra/webserver/services/WebserverService.java
Due: Core, Jdbc

feat(core,jdbc): reset the trigger inside the JdbcExecutor
  core/src/main/java/io/kestra/core/runners/Executor.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/test/java/io/kestra/core/schedulers/AbstractSchedulerTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerConditionTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerPollingTriggerTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleOnDatesTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleTest.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerThreadTest.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcScheduler.java
Due: Core, Jdbc

fix(core): Handling for trailing slash in the KESTRA_URL configuration (#6373)
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: none

chore(ui): add anchors to plugin documentation (#8014)
  ui/package-lock.json
  ui/package.json
Due: none

fix(): make KestraFilter works with legacy default dashboard + avoid showing custom dashboard in namespace/flow pages (#8012)
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/composables/useFilters.ts
  ui/src/components/filter/utils/helpers.ts
  ui/tests/unit/filter/utils/helpers.spec.ts
Due: none

fix(): moved the logic to the backend (#5917)
  ui/src/components/executions/Executions.vue
  ui/src/stores/executions.js
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: none

fix(): make absolute date work with metrics (#8015)
  ui/src/components/flows/FlowMetrics.vue
  webserver/src/main/java/io/kestra/webserver/controllers/api/MetricController.java
Due: none

fix(): use correctly context-path when needed (#8018)
  ui/src/utils/axios.js
Due: none

fix(ui): prevent function parameters autocompletion from deleting parenthesis
  ui/src/components/inputs/MonacoEditor.vue
Due: none

feat(ui): introduce global Secrets page
  ui/src/assets/demo/secrets.png
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/executions/SetLabels.vue
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/composables/useValues.ts
  ui/src/components/kv/KVTable.vue
  ui/src/components/secrets/Secrets.vue
  ui/src/components/secrets/SecretsTable.vue
  ui/src/composables/entityIterator.ts
  ui/src/composables/useNamespaces.ts
  ui/src/composables/useSecrets.ts
  ui/src/models/action.ts
  ui/src/models/permission.ts
  ui/src/override/components/useLeftMenu.ts
  ui/src/routes/routes.js
  ui/src/stores/auth.ts
  ui/src/stores/namespaces.js
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
  webserver/src/main/java/io/kestra/webserver/controllers/api/NamespaceSecretController.java
  webserver/src/main/java/io/kestra/webserver/models/api/secret/ApiSecretListResponse.java
  webserver/src/main/java/io/kestra/webserver/models/api/secret/ApiSecretMeta.java
  webserver/src/main/java/io/kestra/webserver/utils/Searcheable.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/NamespaceControllerTest.java
  webserver/src/test/java/io/kestra/webserver/utils/SearcheableTest.java
Due: none

fix(ui): handle properly layout of global Secrets when there is a secret manager
  ui/src/components/secrets/Secrets.vue
  ui/src/components/secrets/SecretsTable.vue
  ui/src/composables/useSecrets.ts
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(core): ensure defaults can be injected in flows (#3206)
  core/src/main/java/io/kestra/core/services/PluginDefaultService.java
  core/src/test/java/io/kestra/core/services/PluginDefaultServiceTest.java
  core/src/test/resources/application-test.yml
Due: Core

fix(ui): allow multi label filtering (#8022)
  ui/src/components/filter/utils/helpers.ts
Due: none

chore(ui): limit flow run dialog maximum height (#7938)
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/InputsForm.vue
Due: none

fix(): use correct property for blueprint type
  ui/src/components/flows/blueprints/BlueprintDetail.vue
Due: none

fix(ui): fail-safe secrets API calls
  ui/src/composables/useNamespaces.ts
  ui/src/composables/useSecrets.ts
Due: none

fix(ui): amend operator value of labels inside the filter (#8028)
  ui/src/components/filter/components/Label.vue
Due: none

feat(docs): add example for best practice with multiline json http post request (#8023)
  core/src/main/java/io/kestra/plugin/core/http/Request.java
Due: Core

fix(ui): fail-safe secrets API calls on global secrets view
  ui/src/composables/entityIterator.ts
  ui/src/composables/useNamespaces.ts
  ui/src/composables/useSecrets.ts
  ui/src/stores/namespaces.js
Due: none

fix(core): fix NPE when closing standalone runner
  core/src/main/java/io/kestra/core/runners/StandAloneRunner.java
Due: Core

fix(ui): make sure global secret view iterates over all secrets
  ui/src/components/secrets/SecretsTable.vue
  ui/src/composables/useSecrets.ts
Due: none

feat(core): #5467 add inheritance for KV in pebble and Get task (#8031)
  core/src/main/java/io/kestra/core/runners/pebble/functions/KvFunction.java
  core/src/main/java/io/kestra/plugin/core/kv/Get.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/KvFunctionTest.java
  core/src/test/java/io/kestra/plugin/core/kv/GetTest.java
Due: Core

fix(): datetime filtering issues (#8027)
  jdbc-h2/src/main/java/io/kestra/repository/h2/H2ExecutionRepository.java
  jdbc-h2/src/main/java/io/kestra/repository/h2/H2ExecutionRepositoryService.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/LogController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TaskRunController.java
  webserver/src/main/java/io/kestra/webserver/utils/QueryFilterUtils.java
  webserver/src/main/java/io/kestra/webserver/utils/RequestUtils.java
  webserver/src/test/java/io/kestra/webserver/utils/RequestUtilsTest.java
Due: Jdbc, Jdbc H2

feat: cleaner multipanel tab move (#8029)
  ui/src/components/MultiPanelTabs.vue
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/tests/storybook/components/MultiPanelTabs.stories.tsx
Due: none

chore: upgrade to version 'v0.23.0-SNAPSHOT'
  gradle.properties
Due: none

chore(ci): lower build-artifacts workflow so github release can use it
  .github/workflows/workflow-publish-docker.yml
  .github/workflows/workflow-release.yml
Due: none

fix(build): fix gradle property for release
  build.gradle
Due: none

chore(ci): pass plugin version to docker workflow
  .github/workflows/workflow-release.yml
Due: none

chore(deps): regular dependency update (#8070)
  ui/package-lock.json
  ui/package.json
Due: none

feat(ui): improve styling of saved filter searches (#8040)
  ui/src/components/filter/segments/Items.vue
  ui/src/components/filter/styles/filter.scss
  ui/src/translations/en.json
Due: none

fix(): add missing command to flow subcommand
  cli/src/main/java/io/kestra/cli/commands/flows/FlowCommand.java
Due: Cli

chore(ui): improve saved search filtering functionality (#8073)
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/segments/Items.vue
  ui/src/components/filter/utils/helpers.ts
Due: none

feat(*): add new methods findAllAsync for the backup
  core/src/main/java/io/kestra/core/repositories/ExecutionRepositoryInterface.java
  core/src/main/java/io/kestra/core/repositories/LogRepositoryInterface.java
  core/src/main/java/io/kestra/core/repositories/MetricRepositoryInterface.java
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractMetricRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcMetricRepository.java
Due: Core, Jdbc

fix(cli): make worker args available through static KestraContext
  cli/src/main/java/io/kestra/cli/commands/servers/StandAloneCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/WorkerCommand.java
  core/src/main/java/io/kestra/core/contexts/KestraContext.java
  core/src/test/java/io/kestra/core/contexts/KestraContextTest.java
Due: Cli, Core

feat(docs): add `kestra.environment` and `kestra.url` expressions (#8085)
  ui/src/assets/docs/basic.md
Due: none

fix(core): charset should not be taken from
  core/src/main/java/io/kestra/core/http/HttpRequest.java
  core/src/test/java/io/kestra/core/http/client/HttpClientTest.java
Due: Core

fix(core): flatten map should not throw an exception
  core/src/main/java/io/kestra/core/models/Label.java
  core/src/main/java/io/kestra/core/topologies/FlowTopologyService.java
  core/src/main/java/io/kestra/core/utils/MapUtils.java
  core/src/test/java/io/kestra/core/utils/MapUtilsTest.java
Due: Core
