Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(core): fixes cumbersome operator selection (#10322)
  ui/src/composables/monaco/languages/filters/filterLanguage.ts
Due: none

Revert "fix(core): fixes cumbersome operator selection (#10322)" (#10377)
  ui/src/composables/monaco/languages/filters/filterLanguage.ts
Due: none

fix(test): flaky ExecutionControllerRunnerTest.triggerExecutionAndFollowDependencies()
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: none

fix(tests): increase wait time to 10 in LogConsumerTests.logs()
  script/src/test/java/io/kestra/plugin/scripts/runners/LogConsumerTest.java
Due: Script

fix(tests): await for terminated execution instead of sleep in ExecutionControllerRunnerTest.killByIdShouldFailed()
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: none

fix(flows): file watching flow should delete the flow when the file is deleted while reading for update
  cli/src/main/java/io/kestra/cli/services/FileChangedEventListener.java
Due: Cli

tests: update frontend-tests (#10380)
  ui/src/components/inputs/MonacoEditor.vue
  ui/tests/storybook/components/executions/ExecutionsFilter.stories.jsx
  ui/tests/storybook/components/flows/tasks/TaskDict.stories.tsx
  ui/tests/storybook/components/inputs/InputsForm.stories.jsx
Due: none

chore(plugins): simplify the plugins search field (#10373)
  ui/src/components/plugins/PluginHome.vue
Due: none

fix(namespaces): make sure the namespace parameter is properly passed when reading a file (#10384)
  ui/src/components/inputs/EditorWrapper.vue
Due: none

fix(flows): wrong warning in FILE input
  core/src/main/java/io/kestra/core/models/flows/input/FileInput.java
Due: Core

fix(plugins): go to list of plugins from sidebar (#10385)
  ui/src/components/layout/SideBar.vue
Due: none

fix(tests): flaky test with wire mock not staring fast enough (#10383)
  webserver/src/test/java/io/kestra/webserver/services/BasicAuthServiceTest.java
Due: none

fix(tests): fix assertions in DateFilterTest.now()
  core/src/test/java/io/kestra/core/runners/pebble/filters/DateFilterTest.java
Due: Core

fix(core): animation on ai agent button (#10379)
  ui/src/components/ai/AITriggerButton.vue
  ui/src/components/ai/AiIcon.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
Due: none

fix(triggers): bulk action on triggers did not take into account this is async (#10307)
  ui/src/components/admin/Triggers.vue
  ui/src/translations/en.json
Due: none

refactor(pebble): add more timestamp data time format
  core/src/main/java/io/kestra/core/runners/pebble/AbstractDate.java
  core/src/test/java/io/kestra/core/runners/pebble/filters/DateFilterTest.java
  ui/src/assets/docs/basic.md
Due: Core

fix(test): RestactCaseTest.restartFailedWithFinally() should use executionService.isTerminated()
  core/src/test/java/io/kestra/core/runners/RestartCaseTest.java
Due: Core

fix(tests): increase the sleep inside ExecutionControllerRunnerTest.triggerExecutionAndFollowDependencies()
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: none

chore: enforce micronaut open api version until Micronaut Platform works (#10393)
  platform/build.gradle
Due: Platform

fix: set postgres and mysql queue offset as a bigint (#10344)
  jdbc-mysql/src/main/resources/migrations/mysql/V1_41__offset_bigint.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_41__offset_bigint.sql
Due: Jdbc Mysql, Jdbc Postgres

chore: update ui-libs (#10391)
  ui/package-lock.json
  ui/package.json
Due: none

fix(flows): playground - use all tasks as breakpoints (#10399)
  ui/src/stores/playground.ts
Due: none

fix(flows): bring back alignment on overview (#10369)
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/flows/Overview.vue
  ui/src/styles/app.scss
Due: none

fix(core): make validation less aggressive (#10406)
  ui/src/components/inputs/InputsForm.vue
Due: none

chore(namespaces): properly handle file name field on flow run dialog if set from defaults (#10390)
  ui/src/components/inputs/InputsForm.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(test): flaky test JdbcQueueTest.withGroupAndType()
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcQueueTest.java
Due: Jdbc

feat(flows): add webhook curl and json field (#10392)
  ui/src/components/flows/FlowRun.vue
  ui/src/components/flows/WebhookCurl.vue
  ui/src/translations/en.json
Due: none

fix(tests): rework basic auth service test (#10409)
  webserver/src/main/java/io/kestra/webserver/services/BasicAuthService.java
  webserver/src/test/java/io/kestra/webserver/services/BasicAuthServiceTest.java
Due: none

fix(core): allow icons api call to take longer than local call (#10412)
  ui/src/stores/plugins.ts
Due: none

fix(core): topology was no longer working on new flows (#10411)
  ui/src/stores/flow.js
Due: none

fix(flows): remove text from warning button (#10370)
  ui/src/components/flows/ValidationError.vue
Due: none

feat(plugins): add plugin-deepseek
  .plugins
  package-lock.json
Due: none

chore(version): update to version 'v0.24.0-rc0-SNAPSHOT'.
  gradle.properties
Due: none

chore(version): upgrade to v1.0.0-SNAPSHOT
  gradle.properties
Due: none

fix(flows): playground clear current execution when clearExecutions() (#10414)
  ui/src/stores/playground.ts
Due: none

fix(ci): correctly pass GH token to release workflow
  .github/workflows/main.yml
  .github/workflows/workflow-release.yml
Due: none

feat(ci): allow to run github release ci on dispatch
  .github/workflows/workflow-github-release.yml
Due: none

refactor(flows): remove execution chart (#10425)
  ui/src/components/flows/Flows.vue
Due: none

fix(dashboard): pageSize & pageNumber is now correctly pass when fetching a chart (#10413)
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
Due: none
