Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

chore(secrets): allow deletion of all tags, including the last one (#9187)
  ui/src/components/secrets/SecretsTable.vue
Due: none

feat(tests): add tests preview tab in left menu (#9191)
  ui/src/assets/demo/tests.png
  ui/src/components/demo/Tests.vue
  ui/src/override/components/useLeftMenu.ts
  ui/src/routes/routes.js
  ui/src/translations/en.json
Due: none

fix(dashboards): use namespace parameter for next execution table to be able to build links (#9195)
  ui/src/assets/dashboard/default_flow_definition.yaml
  ui/src/assets/dashboard/default_main_definition.yaml
  ui/src/assets/dashboard/default_namespace_definition.yaml
Due: none

fix(core): amend positioning of the default tour elements (#9202)
  ui/src/components/flows/MultiPanelEditorView.vue
  ui/src/components/inputs/EditorWrapper.vue
  ui/src/components/inputs/LowCodeEditorWrapper.vue
  ui/src/components/onboarding/VueTour.vue
Due: none

feat(system): FlowRepository.findByNamespacePrefixWithSource()
  core/src/main/java/io/kestra/core/repositories/FlowRepositoryInterface.java
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
Due: Core, Jdbc

fix: restore namespace and id when emptying while editing (#9138)
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/inputs/EditorButtonsWrapper.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/flowOutdatedErrors.ts
  ui/src/stores/flow.js
Due: none

chore(triggers): remove column cron from triggers listing and sort out trigger details dialog (#9212)
  ui/src/components/admin/Triggers.vue
  ui/src/components/flows/TriggerVars.vue
Due: none

chore(core): keep the property name in no code in monospace font (#9216)
  ui/src/components/flows/tasks/TaskObjectField.vue
Due: none

docs(dashboard): fix indentations in examples and add KPI (#9203)
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Bar.java
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/KPI.java
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Markdown.java
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Pie.java
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/Table.java
  core/src/main/java/io/kestra/plugin/core/dashboard/chart/TimeSeries.java
Due: Core

refactor(system): centralize filters legacy mapping in controllers (#9183)
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/LogController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TaskRunController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TriggerController.java
  webserver/src/main/java/io/kestra/webserver/utils/QueryFilterUtils.java
  webserver/src/main/java/io/kestra/webserver/utils/RequestUtils.java
  webserver/src/main/java/io/kestra/webserver/utils/TimeLineSearch.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
  webserver/src/test/java/io/kestra/webserver/utils/QueryFilterUtilsTest.java
  webserver/src/test/java/io/kestra/webserver/utils/RequestUtilsTest.java
Due: Jdbc

feat(tenants): change the tenant migration command name (#9215)
  cli/src/main/java/io/kestra/cli/commands/migrations/TenantMigrationCommand.java
Due: Cli

fix(core): Valid correctly conditions in triggers (#9228)
  core/src/main/java/io/kestra/core/models/triggers/AbstractTrigger.java
Due: Core

fix(core): restoreUrl is now scoped to route tab
  ui/src/mixins/restoreUrl.js
Due: none

fix(core): better relevance on filter syntax highlighting + IN working
  ui/src/components/admin/Triggers.vue
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/executions/ExecutionMetric.vue
  ui/src/components/executions/Executions.vue
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/flows/FlowMetrics.vue
  ui/src/components/flows/Flows.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/components/logs/LogsWrapper.vue
  ui/src/components/taskruns/TaskRuns.vue
  ui/src/composables/monaco/languages/filters/filterCompletion.ts
  ui/src/composables/monaco/languages/filters/filterLanguage.ts
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
Due: none

fix(core): skip empty values from filters in query
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(core): properly parse IN & NOT_IN values for Dashboards
  core/src/main/java/io/kestra/core/models/QueryFilter.java
Due: Core

fix(triggers): show the url instead of open. (#9244)
  ui/src/components/executions/VarValue.vue
  ui/src/components/flows/TriggerVars.vue
Due: none

refactor(core): remove unnecessary import (#9245)
  ui/src/components/flows/tasks/ClearButton.vue
Due: none

chore(version): update @kestra-io/ui-libs to version 0.0.203 for finally block (#9246)
  ui/package-lock.json
  ui/package.json
Due: none

fix(dashboard): make refresh button works (#9238)
  ui/src/components/dashboard/Dashboard.vue
Due: none

fix(core): same position in center for all modals (#9247)
  ui/src/components/executions/Executions.vue
Due: none

fix(core): prevent monaco suggestion widget to update its position (#9164)
  ui/src/components/flows/tasks/TaskBasic.vue
  ui/src/components/flows/tasks/TaskExpression.vue
  ui/src/components/flows/tasks/TaskString.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/MonacoEditor.vue
Due: none

feat(execution): allow to loop until an unlimited duration or iteration count
  core/src/main/java/io/kestra/plugin/core/flow/LoopUntil.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/plugin/core/flow/LoopUntilCaseTest.java
  core/src/test/resources/flows/valids/waitfor-multiple-tasks.yaml
  core/src/test/resources/flows/valids/waitfor.yaml
  jdbc/src/test/java/io/kestra/jdbc/runner/JdbcRunnerTest.java
Due: Core, Jdbc

fix(secrets): display all namespaces (#9248)
  ui/src/components/namespaces/components/NamespaceSelect.vue
  ui/src/components/secrets/SecretsTable.vue
Due: none

fix(flows,executions): filtering QUERY NOT_EQUALS was not handled in jdbc
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Jdbc

fix(core): avoid adding incomplete key.{subKey} as text filter
  ui/src/components/filter/KestraFilter.vue
  ui/src/composables/monaco/languages/filters/filterLanguage.ts
Due: none

fix(dashboards): include pagination parameters in default dashboard tables (#9251)
  ui/src/components/dashboard/components/tables/custom/Table.vue
Due: none

feat(tenants): change the tenant migration command name (#9253)
  cli/src/main/java/io/kestra/cli/commands/migrations/TenantMigrationCommand.java
Due: Cli

fix(triggers): bulk actions for Triggers with new Filter
  core/src/main/java/io/kestra/core/repositories/TriggerRepositoryInterface.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTriggerRepository.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/TriggerController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/TriggerControllerTest.java
Due: Core, Jdbc

feat(flow): allow grouping plugin properties
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/main/java/io/kestra/core/models/tasks/Task.java
  core/src/main/java/io/kestra/core/models/tasks/runners/TaskRunner.java
  core/src/main/java/io/kestra/core/models/triggers/AbstractTrigger.java
  core/src/test/java/io/kestra/core/docs/JsonSchemaGeneratorTest.java
  model/src/main/java/io/kestra/core/models/annotations/PluginProperty.java
Due: Core, Model

test(cli): add return code and YAML-output tests for ConfigPropertiesCommand (#8827)
  cli/src/test/java/io/kestra/cli/commands/configs/sys/ConfigPropertiesCommandTest.java
Due: Cli

fix(ui): allows even embed table to be sorted (#9261)
  ui/src/mixins/dataTableActions.js
Due: none

fix: now correctly handles State filter for executions (#9223)
  core/src/main/java/io/kestra/plugin/core/dashboard/data/IExecutions.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
Due: Core, Jdbc

fix(assertions): fix assertions grammar (#9173)
  core/src/main/java/io/kestra/core/test/flow/Assertion.java
  core/src/test/java/io/kestra/core/test/AssertionTest.java
Due: Core

feat(flows): add global save functionality (#9262)
  ui/src/components/inputs/EditorWrapper.vue
Due: none

chore(core): remove margin from blueprints if used in combined view (#9264)
  ui/src/override/components/flows/blueprints/Blueprints.vue
Due: none

chore(core): remove sort buttons in no code if the block type is plugin defaults (#9265)
  ui/src/components/code/components/collapse/Element.vue
Due: none

fix(core): update save button disabled logic. (#9267)
  ui/src/components/inputs/EditorButtons.vue
Due: none

fix(core): remove REGEX filter for text search
  ui/src/composables/monaco/languages/filters/filterLanguage.ts
Due: none

feat(executions): add filter bar to flow concurrency tab (#9269)
  ui/src/components/flows/FlowConcurrency.vue
Due: none
