Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

feat(system): change the way we concurrently process executor queues
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

Update core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

fix(core): fixes change in theme aligned with selection in setttings. (#8815)
  ui/src/components/settings/BasicSettings.vue
Due: none

fix(core): properly handle input creation/updating via no code editor (#8787)
  ui/src/components/code/components/Save.vue
  ui/src/components/flows/MetadataInputsContent.vue
Due: none

feat(execution): add an execution kind
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/models/executions/ExecutionKind.java
  core/src/main/java/io/kestra/core/models/executions/LogEntry.java
  core/src/main/java/io/kestra/core/models/executions/MetricEntry.java
  core/src/main/java/io/kestra/core/repositories/ExecutionRepositoryInterface.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/RunContextFactory.java
  core/src/main/java/io/kestra/core/runners/RunContextInitializer.java
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
  core/src/main/java/io/kestra/core/runners/RunContextLoggerFactory.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/runners/WorkerTask.java
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractLogRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/AbstractMetricRepositoryTest.java
  core/src/test/java/io/kestra/core/repositories/ExecutionFixture.java
  jdbc-h2/src/main/resources/migrations/h2/V1_38__execution_kind.sql
  jdbc-mysql/src/main/resources/migrations/mysql/V1_37__execution_kind.sql
  jdbc-postgres/src/main/resources/migrations/postgres/V1_37__execution_kind.sql
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcLogRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcMetricRepository.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres

fix(plugins): type and type-defining properties are now readonly (#8820)
  core/src/main/java/io/kestra/core/docs/JsonSchemaGenerator.java
  core/src/test/java/io/kestra/core/docs/JsonSchemaGeneratorTest.java
Due: Core

fix(plugins): add back metrics to plugin docs (#8826)
  ui/package-lock.json
  ui/package.json
Due: none

chore(core): remove console warning due to deprecated property (#8819)
  ui/src/components/onboarding/OnboardingCard.vue
  ui/src/components/onboarding/execution/OverviewCard.vue
Due: none

feat(flows): Actions for Flow Navbar (#8838)
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/flows/FlowRootTopBar.vue
  ui/src/override/components/flows/Actions.vue
Due: none

fix: restore multipanle bottom of panels (#8823)
  ui/src/components/MultiPanelTabs.vue
Due: none

fix: update topology when no-code changes (#8822)
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/inputs/EditorWrapper.vue
Due: none

fix(system): use the minPollInterval when the last poll is beyond all interval
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

feat(core): change selection to tab and remove display of type and tooltip. (#8805)
  ui/src/components/flows/tasks/AnyOfContent.vue
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskComplex.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskWrapper.vue
Due: none

feat(tests): improve empty page
  ui/src/components/layout/empty/assets/visuals/testSuites.png
  ui/src/components/layout/empty/images.ts
  ui/src/translations/en.json
Due: none

chore(tests): add tests icon to tests list view
  ui/src/components/layout/DottedLayout.vue
Due: none

build: update release-plugin script to set kestra version for plugins
  dev-tools/release-plugins.sh
Due: none

build: influxdb and graphql not available yet
  .plugins
Due: none

chore(core): fix import (#8845)
  ui/src/components/flows/FlowRootTopBar.vue
Due: none

ui(fix): change namespace hover to white (#8842)
  ui/src/components/namespaces/Namespaces.vue
Due: none

change label color to white (#8850)
  ui/src/components/layout/Labels.vue
Due: none

fix(core): make sure that complex tasks are properly rendered (#8848)
  ui/src/components/flows/tasks/TaskComplex.vue
  ui/src/components/flows/tasks/TaskComplexContent.vue
  ui/src/components/flows/tasks/TaskObject.vue
Due: none

feat(core): #3427 add OSS tenant migration scripts (#8798)
  cli/src/main/java/io/kestra/cli/App.java
  cli/src/main/java/io/kestra/cli/commands/migrations/MigrationCommand.java
  cli/src/main/java/io/kestra/cli/commands/migrations/TenantMigrationCommand.java
  cli/src/main/java/io/kestra/cli/commands/migrations/TenantMigrationService.java
  core/src/main/java/io/kestra/core/repositories/TenantMigrationInterface.java
  jdbc-h2/src/main/java/io/kestra/repository/h2/H2TenantMigration.java
  jdbc-mysql/src/main/java/io/kestra/repository/mysql/MysqlTenantMigration.java
  jdbc-postgres/src/main/java/io/kestra/repository/postgres/PostgresTenantMigration.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcTenantMigration.java
Due: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres

feat(docker)!: remove non-critical dependencies (#8853)
  .github/workflows/docker.yml
Due: none

fix(system): handle storage version in storage interface factory
  core/src/main/java/io/kestra/core/plugins/PluginIdentifier.java
  core/src/main/java/io/kestra/core/storages/StorageInterfaceFactory.java
  core/src/test/java/io/kestra/core/plugins/PluginIdentifierTest.java
Due: Core

test(plugins): add code coverage to plugin command CLI (#8829)
  cli/src/test/java/io/kestra/cli/commands/plugins/PluginCommandTest.java
Due: Cli

feat(namespaces): Namespace search case insensitivity (#8717)
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
Due: Jdbc

fix(server): port changed during the redirection when no tenant id in uri (#8854)
  webserver/src/main/java/io/kestra/webserver/rooting/TenantAliasingRooter.java
Due: none

chore(system): skip sleep in the JdbcQueue when at max poll size
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

fix(system): use a concurrent list to possibly fix the flaky test
  script/src/test/java/io/kestra/plugin/scripts/runners/LogConsumerTest.java
Due: Script

fix(plugins): show back if property is dynamic (#8846)
  ui/package-lock.json
  ui/package.json
Due: none

fix(ui): update basePath to include 'main' tenant in api urls (#8856)
  ui/src/override/utils/route.ts
Due: none

fix(ui): nocode should allow to delete on click on bin (#8712)
  ui/package-lock.json
  ui/package.json
  ui/src/components/code/NoCode.vue
  ui/src/components/code/NoCodeWrapper.vue
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/code/components/collapse/Element.vue
  ui/src/components/code/injectionKeys.ts
  ui/src/components/code/segments/Task.vue
  ui/src/components/code/utils/types.ts
  ui/src/components/executions/TaskRunLine.vue
  ui/src/components/flows/TaskEdit.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/tasks/TaskCondition.vue
  ui/src/components/flows/tasks/TaskTask.vue
  ui/src/components/flows/tasks/TaskTaskRunner.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/stores/flow.js
  ui/src/translations/en.json
  ui/src/utils/constants.ts
Due: none

feat(tests): add fixtures to results
  core/src/main/java/io/kestra/core/test/flow/UnitTestResult.java
Due: Core

fix(core): tweak product tour flow listing (#8860)
  ui/src/components/onboarding/VueTour.vue
Due: none

chore(core): add group for deprecated properties in the no code editor (#8863)
  ui/src/components/code/components/inputs/InputText.vue
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskDict.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/translations/en.json
Due: none

fix(core): center last step in tour and add Finish animation (#8862)
  ui/src/components/onboarding/VueTour.vue
  ui/src/components/onboarding/components/buttons/Finish.vue
Due: none

test(controller): add logs to understand why the test fail (#8858)
  core/src/test/resources/flows/valids/sleep-short.yml
  webserver/src/main/java/io/kestra/webserver/responses/BulkErrorResponse.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

fix(system): remove main tenant from api/v1/configs
  ui/src/stores/miscs.js
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
Due: none

fix(core): fix rooting to main tenant for configs endpoint
  webserver/src/main/java/io/kestra/webserver/rooting/TenantAliasingRooter.java
Due: none
