Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

fix(core): #7227 cron schedule with timezone and backfile not triggering (#7285)
  core/src/main/java/io/kestra/plugin/core/trigger/Schedule.java
  core/src/test/java/io/kestra/plugin/core/trigger/ScheduleTest.java
Due: Core

fix: force run docs (#7289)
  ui/src/translations/en.json
Due: none

chore(ui): make action columns always visible on executions and flows (#7291)
  ui/src/components/executions/Executions.vue
  ui/src/components/flows/Flows.vue
Due: none

fix: collapsed menu colors in light mode
  ui/src/components/layout/SideBar.vue
Due: none

fix(ui): match chart colors (#7290)
  ui/src/utils/scheme.js
Due: none

feat(core): Added FileEmpty & FileExists Pebble Functions
  core/src/main/java/io/kestra/core/runners/pebble/Extension.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileEmptyFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileExistsFunction.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FileEmptyFunctionTest.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/FileExistsFunctionTest.java
  ui/src/assets/docs/basic.md
Due: Core

Add core plugin sanity checks (#6904)
  core/src/test/java/io/kestra/core/tasks/test/SanityCheckTest.java
  core/src/test/resources/sanity-checks/fail.yaml
  core/src/test/resources/sanity-checks/fetch.yaml
  core/src/test/resources/sanity-checks/if.yaml
  core/src/test/resources/sanity-checks/kv.yaml
  core/src/test/resources/sanity-checks/labels.yaml
  core/src/test/resources/sanity-checks/namespace_files.yaml
  core/src/test/resources/sanity-checks/parallel.yaml
  core/src/test/resources/sanity-checks/pause.yaml
  core/src/test/resources/sanity-checks/purge_current_execution_files.yaml
  core/src/test/resources/sanity-checks/request.yaml
  core/src/test/resources/sanity-checks/return.yaml
  core/src/test/resources/sanity-checks/sequential.yaml
  core/src/test/resources/sanity-checks/sleep.yaml
  core/src/test/resources/sanity-checks/switch.yaml
  core/src/test/resources/sanity-checks/write.yaml
Due: Core

fix(makefile): build plugin now build main branch too (#7297)
  Makefile
Due: none

fix(core): flacky trigger with backfile test (#7295)
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleOnDatesTest.java
  core/src/test/java/io/kestra/plugin/core/trigger/ScheduleTest.java
Due: Core

fix(core): http client was not using deprecated setter
  core/src/main/java/io/kestra/core/http/client/HttpClient.java
  core/src/main/java/io/kestra/core/http/client/configurations/AbstractAuthConfiguration.java
  core/src/main/java/io/kestra/core/http/client/configurations/BasicAuthConfiguration.java
  core/src/main/java/io/kestra/core/http/client/configurations/BearerAuthConfiguration.java
  core/src/main/java/io/kestra/core/http/client/configurations/HttpConfiguration.java
  core/src/test/java/io/kestra/plugin/core/http/RequestRunnerTest.java
  core/src/test/java/io/kestra/plugin/core/http/RequestTest.java
  core/src/test/resources/sanity-checks/request-basicauth-deprecated.yaml
  core/src/test/resources/sanity-checks/request-basicauth.yaml
Due: Core

chore(core): rename fileEmpty Pebble function to isFileEmpty
  core/src/main/java/io/kestra/core/runners/pebble/Extension.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/IsFileEmptyFunction.java
  core/src/test/java/io/kestra/core/runners/pebble/functions/IsFileEmptyFunctionTest.java
  ui/src/assets/docs/basic.md
Due: Core

chore(core): refactor file related Pebble function to share code
  core/src/main/java/io/kestra/core/runners/pebble/functions/AbstractFileFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileExistsFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/FileSizeFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/IsFileEmptyFunction.java
  core/src/main/java/io/kestra/core/runners/pebble/functions/ReadFileFunction.java
Due: Core

ci(): moved multiple actions to reusable workflows (#7299)
  .github/actions/backend-test/action.yml
  .github/actions/frontend-test/action.yml
  .github/workflows/check.yml
  .github/workflows/generate_translations.yml.old
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .github/workflows/workflow-backend-test.yml
  .github/workflows/workflow-build-artifacts.yml
  .github/workflows/workflow-frontend-test.yml
  .github/workflows/workflow-test.yml
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

ci(): run translations only if necessary
  .github/workflows/pull-request.yml
Due: none

chore: remove some compilation warnings
  core/src/main/java/io/kestra/core/docs/DocumentationGenerator.java
  core/src/main/java/io/kestra/core/models/property/Property.java
  core/src/main/java/io/kestra/core/plugins/PluginScanner.java
  core/src/main/java/io/kestra/core/plugins/RegisteredPlugin.java
  core/src/main/java/io/kestra/core/runners/DefaultRunContext.java
  core/src/main/java/io/kestra/core/runners/RunVariables.java
  core/src/main/java/io/kestra/plugin/core/execution/Exit.java
  jdbc/src/main/java/io/kestra/jdbc/AbstractJdbcRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcDashboardRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
Due: Core, Jdbc

fix(core): do not validate subflow if namespace or id is pebble (#7294)
  core/src/main/java/io/kestra/core/services/FlowService.java
Due: Core

chore(ui): improve styling of main filter tags (#7305)
  ui/src/components/filter/KestraFilter.vue
  ui/src/components/filter/components/Label.vue
  ui/src/components/filter/styles/filter.scss
Due: none

fix(h2): remove indenting in sql file (#7306)
  jdbc-h2/src/main/resources/migrations/h2/V1_25__dashboard.sql
Due: Jdbc H2

ci(): trigger main ci also on develop branch
  .github/workflows/main.yml
Due: none

ci(): trigger main ci on dispatch
  .github/workflows/main.yml
Due: none

ci(): rewrite release part
  .github/actions/build-artifacts/action.yml
  .github/actions/publish-docker/action.yml
  .github/actions/publish-maven/action.yml
  .github/workflows/main.yml
  .github/workflows/workflow-build-artifacts.yml
  .github/workflows/workflow-github-release.yml
  .github/workflows/workflow-publish-docker.yml
  .github/workflows/workflow-publish-maven.yml
  .github/workflows/workflow-release.yml
Due: none

ci(): Remove GITHUB_TOKEN from secrets definition
  .github/workflows/main.yml
  .github/workflows/workflow-github-release.yml
  .github/workflows/workflow-release.yml
Due: none

ci(): Missing GOOGLE_SERVICE_ACCOUNT secrets
  .github/workflows/main.yml
  .github/workflows/workflow-release.yml
Due: none

ci(): Remove unnecessary secrets
  .github/workflows/main.yml
  .github/workflows/workflow-release.yml
Due: none

ci(): Correct outputs
  .github/workflows/workflow-build-artifacts.yml
Due: none

ci(): Use correct workflow
  .github/workflows/workflow-release.yml
Due: none

ci(): Remove if from test workflow
  .github/workflows/workflow-test.yml
Due: none

fix(core): add request.yaml file back (#7308)
  core/src/test/resources/sanity-checks/request.yaml
Due: Core

feat(jdbc): puerge worker task result queue early
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

feat(jdbc): purge execution queue early
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

feat(jdbc): purge worker job queue early
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcQueue.java
Due: Jdbc

fix(core): possible NPE when an execution has no labels
  core/src/main/java/io/kestra/core/services/ExecutionService.java
Due: Core

fix(cicd): npm install in the wrong folder for vulnerabilities checks
  .github/workflows/vulnerabilities-check.yml
Due: none

docs(core): better documentation on docker tasks
  script/src/main/java/io/kestra/plugin/scripts/runner/docker/Docker.java
Due: Script

ci(): call reusable workflow correctly
  .github/workflows/workflow-release.yml
Due: none

chore(ui): introduce filters bar to flow triggers page (#7292)
  ui/src/components/flows/FlowTriggers.vue
Due: none

ci(): fixed vulnerabilities-check.yml wrong character
  .github/workflows/vulnerabilities-check.yml
Due: none

chore(ui): improve the doughnut chart legend (#7321)
  ui/src/components/dashboard/components/charts/legend.js
Due: none

ci():fix frontend being skipped (#7355)
  .github/workflows/pull-request.yml
  ui/src/App.vue
Due: none

chore(translations): amend theme key (#7356)
  ui/src/components/settings/BasicSettings.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none
