Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

codecov.yml:

component_management:
  individual_components:
    - component_id: cli
      name: Cli
      paths:
        - cli/**
    - component_id: core
      name: Core
      paths:
        - core/**
    - component_id: jdbc
      name: Jdbc
      paths:
        - jdbc/**
    - component_id: jdbc-h2
      name: Jdbc H2
      paths:
        - jdbc-h2/**
    - component_id: jdbc-mysql
      name: Jdbc Mysql
      paths:
        - jdbc-mysql/**
    - component_id: jdbc-postgres
      name: Jdbc Postgres
      paths:
        - jdbc-postgres/**
    - component_id: model
      name: Model
      paths:
        - model/**
    - component_id: platform
      name: Platform
      paths:
        - platform/**
    - component_id: processor
      name: Processor
      paths:
        - processor/**
    - component_id: repository-memory
      name: Repository Memory
      paths:
        - repository-memory/**
    - component_id: runner-memory
      name: Runner Memory
      paths:
        - runner-memory/**
    - component_id: script
      name: Script
      paths:
        - script/**
    - component_id: storage-local
      name: Storage Local
      paths:
        - storage-local/**

chore: add JacksonMapperTest.toMap()
  core/src/test/java/io/kestra/core/serializers/JacksonMapperTest.java
Due: Core

fix: allow timeout on the Pause task
  core/src/main/java/io/kestra/core/services/FlowService.java
Due: Core

fix: pause tasks didn't process erros or onFinally tasks
  core/src/main/java/io/kestra/core/models/executions/Execution.java
  core/src/main/java/io/kestra/core/runners/FlowableUtils.java
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/main/java/io/kestra/plugin/core/flow/Pause.java
  core/src/test/java/io/kestra/plugin/core/flow/PauseTest.java
  core/src/test/resources/flows/valids/pause-behavior.yaml
  core/src/test/resources/flows/valids/pause-errors-finally-after-execution.yaml
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Core, Jdbc

fix(plugins): improve plugin documentation update logic for element selection (#10908)
  ui/src/components/inputs/EditorWrapper.vue
Due: none

feat(core): implement improved graph for namespace dependencies view (#10909)
  package-lock.json
  ui/src/components/dependencies/Dependencies.vue
  ui/src/components/dependencies/components/Link.vue
  ui/src/components/dependencies/components/Table.vue
  ui/src/components/dependencies/composables/useDependencies.ts
  ui/src/components/dependencies/utils/style.ts
  ui/src/components/dependencies/utils/types.ts
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/layout/empty/images.ts
  ui/src/components/namespaces/components/content/Dependencies.vue
  ui/src/components/namespaces/utils/useHelpers.ts
  ui/src/composables/useBaseNamespaces.ts
  ui/src/stores/flow.ts
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
  ui/tests/fixtures/dependencies/getDependencies.ts
Due: none

fix(doc): remove .env.development.local instructions as it's no longer required
  .devcontainer/README.md
Due: none

fix(core): allow some left menu methods inheritance
  ui/src/override/components/useLeftMenu.ts
Due: none

fix(docs): move proxy target from `kestra` to `localhost` and add UI README.md (#10916)
  .devcontainer/README.md
  ui/README.md
  ui/vite.config.js
Due: none

chore(core): align flow options in tour to the top of the page (#10920)
  ui/src/components/onboarding/VueTour.vue
Due: none

feat(dashboard): mandatory id + add autogenerated id to source for legacy handling (#10912)
  ui/scripts/id.ts
  ui/src/components/dashboard/components/Create.vue
  ui/src/components/flows/FlowCreate.vue
  ui/src/override/components/dashboard/Edit.vue
  ui/src/translations/en.json
  ui/tests/fixtures/dependencies/getDependencies.ts
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/DashboardControllerTest.java
Due: none

fix: throw an error when trying to create a flow with a reserved keyword id
  core/src/main/java/io/kestra/core/validations/validator/FlowValidator.java
  core/src/test/java/io/kestra/core/runners/ExecutionServiceTest.java
  core/src/test/java/io/kestra/core/services/FlowServiceTest.java
  core/src/test/java/io/kestra/core/tasks/test/SanityCheckTest.java
  core/src/test/resources/flows/valids/pause.yaml
  core/src/test/resources/sanity-checks/pause-test.yaml
Due: Core

fix(dashboard): don't duplicate id on source retrieval
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/DashboardControllerTest.java
Due: none

fix(dashboard): working dashboard edit
  ui/src/components/dashboard/components/Editor.vue
  ui/src/override/components/dashboard/Edit.vue
Due: none

feat: export auditlogs through a streamed file (#10569)
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/ExecutionServiceTest.java
  core/src/test/java/io/kestra/plugin/core/execution/ResumeTest.java
  core/src/test/java/io/kestra/plugin/core/flow/PauseTest.java
  core/src/test/resources/flows/valids/pause-test.yaml
  webserver/src/main/java/io/kestra/webserver/utils/CSVUtils.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

feat(executions): add `autoselectFirst` property to select inputs (#10919)
  core/src/main/java/io/kestra/core/models/flows/input/MultiselectInput.java
  core/src/main/java/io/kestra/core/models/flows/input/SelectInput.java
  core/src/test/java/io/kestra/core/models/flows/input/MultiselectInputTest.java
  core/src/test/java/io/kestra/core/models/flows/input/SelectInputTest.java
Due: Core

feat(API): add a new endpoint to replay and execution / task with new… (#10868)
  core/src/test/resources/flows/valids/condition_with_input.yaml
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
Due: Core

fix(plugins): hide "apps", "appBlocks", "charts", "dataFilters", "dataFiltersKPI" types in Plugins page (#10965)
  core/src/main/java/io/kestra/core/docs/Plugin.java
  ui/src/components/plugins/Plugin.vue
  ui/src/stores/plugins.ts
Due: Core

fix(flows): properly delete task from topology to reflect everywhere (#10924)
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/components/inputs/LowCodeEditorWrapper.vue
Due: none

feat(namespaces): introduce inherited key/value pairs drawer (#10967)
  ui/src/components/kv/InheritedKVs.vue
  ui/src/components/kv/KVTable.vue
  ui/src/composables/useBaseNamespaces.ts
  ui/src/override/components/namespaces/Actions.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(core): align open source & ee configuration
  cli/src/main/resources/application.yml
Due: Cli

feat(core): add netty metrics on micrometer
  cli/src/main/resources/application.yml
Due: Cli

fix(core): disable useless health check
  cli/src/main/resources/application.yml
Due: Cli

chore(core): fix border color of validation btn and add loading state in Action button (#10982)
  ui/src/components/flows/ValidationError.vue
  ui/src/components/namespaces/components/buttons/Action.vue
Due: none

feat(executions): allow flow trigger on concurrency limit
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  core/src/test/java/io/kestra/core/runners/AbstractRunnerTest.java
  core/src/test/java/io/kestra/core/runners/FlowTriggerCaseTest.java
  core/src/test/resources/flows/valids/trigger-flow-listener-with-concurrency-limit.yaml
  core/src/test/resources/flows/valids/trigger-flow-with-concurrency-limit.yaml
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Core, Jdbc

chore(executions): optimize dependency graph state updates (#10985)
  ui/src/components/dependencies/composables/useDependencies.ts
Due: none

fix(ui): do not allow white space in password (#10987)
  ui/src/components/basicauth/BasicAuthSetup.vue
Due: none

chore(executions): make dependency graph table links navigate to execution pages (#10988)
  ui/src/components/dependencies/components/Link.vue
  ui/src/components/dependencies/composables/useDependencies.ts
  ui/src/components/dependencies/utils/types.ts
Due: none

fix(executions): clear errors/finally/afterExecution branches when changing the state of a taskrun
  core/src/main/java/io/kestra/core/services/ExecutionService.java
  core/src/test/java/io/kestra/core/runners/ExecutionServiceTest.java
  core/src/test/resources/flows/valids/change-state-errors.yaml
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
Due: Core

fix(secrets): base64-encoded secrets value obfuscation
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
  core/src/test/java/io/kestra/core/runners/RunContextLoggerTest.java
Due: Core

fix(secrets): empty secrets ignored in secret obfuscation
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
  core/src/test/java/io/kestra/core/runners/RunContextLoggerTest.java
Due: Core

fix(flows): add `version` autocompletion (#10973)
  ui/src/stores/plugins.ts
Due: none

feat(storage): add purge kv task (#10964)
  core/src/main/java/io/kestra/core/storages/kv/InternalKVStore.java
  core/src/main/java/io/kestra/core/storages/kv/KVStore.java
  core/src/main/java/io/kestra/plugin/core/kv/PurgeKV.java
  core/src/test/java/io/kestra/core/storages/InternalKVStoreTest.java
  core/src/test/java/io/kestra/core/tasks/test/SanityCheckTest.java
  core/src/test/java/io/kestra/plugin/core/kv/PurgeKVTest.java
  core/src/test/resources/sanity-checks/purge_kv.yaml
Due: Core

fix(storage): delete the metadata with the key when we delete an KV s… (#10990)
  core/src/main/java/io/kestra/core/storages/kv/InternalKVStore.java
  core/src/test/java/io/kestra/core/storages/InternalKVStoreTest.java
Due: Core

refactor(ui): posthog as composable and option for ui telemetry
  cli/src/main/resources/application.yml
  ui/src/App.vue
  ui/src/components/basicauth/BasicAuthSetup.vue
  ui/src/composables/usePosthog.ts
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
Due: Cli

feat(core): add thread http client, deadlock and virtual thread metrics
  core/build.gradle
  core/src/main/java/io/kestra/core/http/client/HttpClient.java
  core/src/main/java/io/kestra/core/metrics/MeterRegistryBinderFactory.java
Due: Core

fix(core): allow removal of block items from no code editor (#10992)
  ui/src/components/code/components/collapse/Collapse.vue
  ui/src/components/flows/tasks/TaskList.vue
Due: none

tests: add default false value to ui-anonymous-usage-report.enabled
  webserver/src/main/java/io/kestra/webserver/controllers/api/MiscController.java
Due: none

ci: fix setversion-tag.yml not triggering a main.yml job on a pushed tag
  .github/workflows/setversion-tag.yml
Due: none

chore(deps): bump com.gradleup.shadow to 9.1.0
  build.gradle
Due: none

fix(executions): clear errors on selected value change in outputs tab (#11007)
  ui/src/components/executions/outputs/Wrapper.vue
Due: none
