Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

chore(dashboards): make sure save button is disabled again on successful action (#9131)
  ui/src/override/components/dashboard/components/DashboardEdit.vue
Due: none

chore(dashboards): use displayName property for table headers, if existing (#9129)
  ui/src/components/dashboard/components/tables/custom/Table.vue
Due: none

chore(dashboards): load more dashboards at once (#9127)
  ui/src/stores/dashboard.js
Due: none

feat(system): monitor and close the Scheduler monitoring loop
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

test(storage): remove null tenant in test suit (#9139)
  tests/src/main/java/io/kestra/core/storage/StorageTestSuite.java
Due: none

fix(core): properly remap q parameter to text in filter bar
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(core): text search without needing "text" key prefix
  ui/src/components/filter/KestraFilter.vue
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
Due: none

fix(core): properly filter Namespace executions
  ui/src/components/executions/Executions.vue
Due: none

fix(core): avoid sending date filters to flow list API call
  ui/src/components/flows/Flows.vue
  ui/src/composables/monaco/languages/filters/impl/flowFilterLanguage.ts
  ui/src/mixins/dataTableActions.js
Due: none

feat(core): 503 Service Unavailable status in error messages. (#9135)
  ui/src/components/ErrorToast.vue
  ui/src/components/ErrorToastContainer.vue
Due: none

fix(core): switch filter colors on main theme change (#9140)
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(dashboards): amend line chart values & bar chart stacks sorting (#9141)
  ui/src/components/dashboard/components/charts/custom/TimeSeries.vue
Due: none

fix(dashboards): show proper value in dashboard table, flow column (#9142)
  ui/src/components/dashboard/components/tables/custom/Table.vue
Due: none

fix(dashboards): properly replace namespace and flow variables in flow dashboard yaml (#9145)
  ui/src/assets/dashboard/default_flow_definition.yaml
  ui/src/components/dashboard/Dashboard.vue
Due: none

fix(executions): properly guard against the npe error (#9147)
  ui/src/components/executions/Executions.vue
Due: none

fix(dashboards): change default dashboard yaml to include filtering in progress states (#9146)
  ui/src/assets/dashboard/default_flow_definition.yaml
  ui/src/assets/dashboard/default_main_definition.yaml
  ui/src/assets/dashboard/default_namespace_definition.yaml
Due: none

chore(dashboards): improve date format in dashboard table cells (#9150)
  ui/src/components/dashboard/components/tables/custom/Table.vue
Due: none

fix(core): update regex to correctly render the alert for embedded docs. (#9151)
  ui/src/components/layout/Markdown.vue
Due: none

ci: moved helm update trigger on EE side
  .github/workflows/workflow-github-release.yml
Due: none

fix(dashboards): amend line chart values & bar chart stacks sorting (#9158)
  ui/src/components/dashboard/components/charts/custom/TimeSeries.vue
Due: none

fix(core): definition now expands from properties. (#9160)
  ui/package-lock.json
  ui/package.json
Due: none

fix(core): amend padding on the global error notification container (#9161)
  ui/src/components/ErrorToastContainer.vue
Due: none

fix(executions): inclusive validation of start and end date
  core/src/main/java/io/kestra/core/utils/DateUtils.java
Due: Core

feat(flows): remove JDBC NAMESPACE START_WITH filter specifities
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Core, Jdbc

fix(flows): bulk actions for Flows with new Filter
  core/src/main/java/io/kestra/core/repositories/FlowRepositoryInterface.java
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
Due: Core, Jdbc

refactor(flows): remove old FlowRepositoryInterface.find method not used anymore
  core/src/main/java/io/kestra/core/repositories/FlowRepositoryInterface.java
  core/src/test/java/io/kestra/core/repositories/AbstractFlowRepositoryTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcFlowRepository.java
Due: Core, Jdbc

fix(core): better filter comparator detection
  ui/src/components/filter/KestraFilter.vue
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
Due: none

fix(core): repair audit logs type filter
  ui/src/models/auditLogTypes.ts
Due: none

fix(core): handle no code inputs type change (#9166)
  ui/src/components/flows/MetadataInputsContent.vue
Due: none

fix(core): fixed eslint not to apply to tests
  ui/eslint.config.js
  ui/src/components/secrets/MultilineSecret.vue
Due: none

feat(system): add STARTS_WITH_NAMESPACE_PREFIX query filter for by namespace query
  core/src/main/java/io/kestra/core/models/QueryFilter.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcRepository.java
  webserver/src/main/java/io/kestra/webserver/utils/RequestUtils.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
Due: Core, Jdbc

fix(core): implement STARTS_WITH_NAMESPACE_PREFIX global filter using REGEX
  core/src/main/java/io/kestra/core/models/QueryFilter.java
Due: Core

fix(core): handle text filter properly for dashboards
  ui/src/components/filter/utils/helpers.ts
Due: none

feat(core): implement STARTS_WITH_NAMESPACE_PREFIX filter
  ui/src/composables/monaco/languages/filters/filterCompletion.ts
  ui/src/composables/monaco/languages/filters/impl/dashboardFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/executionFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/flowFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/logFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/taskRunFilterLanguage.ts
  ui/src/composables/monaco/languages/filters/impl/triggerFilterLanguage.ts
Due: none

fix(core): add red highlighter upon using wrong comparator for a key in filters
  ui/src/composables/monaco/languages/filters/filterLanguageConfigurator.ts
Due: none

fix(system): don't set execution to queued twice
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Jdbc

chore(version): update the ui-libs version (#9184)
  ui/package-lock.json
  ui/package.json
Due: none

build(deps): bump org.testcontainers:testcontainers to 1.21.1
  core/build.gradle
Due: Core

fix(ui): nocode - add clear selected button for anyof (#9136)
  ui/src/components/code/segments/Editor.vue
  ui/src/components/flows/MetadataRetry.vue
  ui/src/components/flows/MetadataSLA.vue
  ui/src/components/flows/tasks/ClearButton.vue
  ui/src/components/flows/tasks/TaskAnyOf.vue
  ui/src/components/flows/tasks/TaskObjectField.vue
  ui/src/components/flows/tasks/TaskWrapper.vue
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

chore(secrets): make the key field disabled on secret editing (#9185)
  ui/src/components/secrets/SecretsTable.vue
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
