Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

feat(*): allow disabling flow logs and use a specific logger for executions, tasks and triggers
  cli/src/main/java/io/kestra/cli/AbstractCommand.java
  core/src/main/java/io/kestra/core/models/flows/Flow.java
  core/src/main/java/io/kestra/core/runners/ExecutorService.java
  core/src/main/java/io/kestra/core/runners/RunContextLogger.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/runners/WorkerTask.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  core/src/main/java/io/kestra/core/services/LogService.java
  core/src/main/resources/logback/base.xml
  core/src/test/java/io/kestra/core/services/LogServiceTest.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcExecutor.java
Due: Cli, Core, Jdbc

feat(core): require existing namespace
  core/src/main/java/io/kestra/core/services/FlowService.java
  core/src/main/java/io/kestra/core/validations/validator/FlowValidator.java
  core/src/test/java/io/kestra/core/validations/FlowValidationTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
Due: Core

fix(ui): amend dependabot errors with parsing of package-lock.json file (#7941)
  ui/package-lock.json
Due: none

fix(core): possible NPE if no manifest
  core/src/main/java/io/kestra/core/plugins/RegisteredPlugin.java
Due: Core

Revert "build(deps): bump protobufVersion from 3.25.5 to 4.30.1"
  platform/build.gradle
Due: Platform

chore(deps): regular dependency update (#7944)
  ui/package-lock.json
  ui/package.json
Due: none

chore(ui): introduce a refresh functionality to execution logs page (#7946)
  ui/src/components/executions/Logs.vue
Due: none

fix(ui): prevent filter text prefix to show up when searching locally (#7947)
  ui/src/components/filter/KestraFilter.vue
Due: none

feat(): save last dashboard used in local storage (#7948)
  ui/src/components/filter/segments/Dashboards.vue
  ui/src/utils/constants.js
Due: none

fix(core): triggers don't have an execution ID already
  core/src/main/java/io/kestra/core/trace/TraceUtils.java
Due: Core

fix(core-ee): NPE when execution labels are null (#7950)
  core/src/main/java/io/kestra/plugin/core/trigger/Flow.java
Due: Core

fix(): Adapt the usage of the new query filter for custom dashboard (#7935)
  core/src/main/java/io/kestra/core/models/Label.java
  core/src/main/java/io/kestra/core/models/QueryFilter.java
  core/src/main/java/io/kestra/core/models/dashboards/DataFilter.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Executions.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Logs.java
  core/src/main/java/io/kestra/plugin/core/dashboard/data/Metrics.java
  core/src/test/java/io/kestra/core/schedulers/SchedulerScheduleTest.java
  jdbc/src/main/java/io/kestra/jdbc/repository/AbstractJdbcExecutionRepository.java
  ui/src/components/dashboard/Dashboard.vue
  ui/src/components/dashboard/components/charts/custom/Bar.vue
  ui/src/components/dashboard/components/charts/custom/Pie.vue
  ui/src/components/dashboard/components/charts/custom/TimeSeries.vue
  ui/src/components/dashboard/components/tables/custom/Table.vue
  ui/src/components/filter/components/Label.vue
  ui/src/components/filter/composables/useFilters.ts
  ui/src/components/filter/segments/Dashboards.vue
  ui/src/components/filter/utils/helpers.ts
  ui/src/stores/dashboard.js
  webserver/src/main/java/io/kestra/webserver/controllers/api/DashboardController.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/ExecutionController.java
  webserver/src/main/java/io/kestra/webserver/converters/QueryFilterFormatBinder.java
  webserver/src/main/java/io/kestra/webserver/models/GlobalFilter.java
  webserver/src/main/java/io/kestra/webserver/utils/TimeLineSearch.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerRunnerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/ExecutionControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/FlowControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/LogControllerTest.java
  webserver/src/test/java/io/kestra/webserver/controllers/api/TriggerControllerTest.java
  webserver/src/test/java/io/kestra/webserver/converters/QueryFilterFormatBinderTest.java
  webserver/src/test/java/io/kestra/webserver/utils/TimeLineSearchTest.java
Due: Core, Jdbc

feat(): allow to specify a parent namespace in the flow updates command, and the possibility to allow child namespace in the flow bulk create command (#7956)
  cli/src/main/java/io/kestra/cli/commands/flows/FlowUpdatesCommand.java
  cli/src/test/java/io/kestra/cli/commands/flows/FlowUpdatesCommandTest.java
  webserver/src/main/java/io/kestra/webserver/controllers/api/FlowController.java
Due: Cli

chore: add jattach into our Docker image
  .github/workflows/docker.yml
  .github/workflows/workflow-publish-docker.yml
  Makefile
Due: none

chore: add GraalVM plugin
  .plugins
Due: none

fix: only run posthog in prod mode (#7952)
  ui/src/App.vue
Due: none

fix(core): add metric Publish task doc & icon
  core/src/main/java/io/kestra/plugin/core/metric/Publish.java
  core/src/main/resources/icons/io.kestra.plugin.core.metric.svg
Due: Core

fix: update ui-libs
  ui/package-lock.json
  ui/package.json
Due: none

fix(): remove old '$eq' to avoid error in dashboard
  ui/src/components/filter/components/Label.vue
  ui/src/components/layout/Labels.vue
Due: none

fix(): prevent using LABELS in JDBC
  core/src/main/java/io/kestra/core/validations/validator/DataChartValidator.java
Due: Core

feat(ui): introduce global KV Store view
  ui/package-lock.json
  ui/package.json
  ui/src/components/kv/KVTable.vue
  ui/src/components/kv/KVs.vue
  ui/src/components/layout/BulkSelect.vue
  ui/src/components/layout/SelectTable.vue
  ui/src/components/namespace/Namespace.vue
  ui/src/components/namespace/NamespaceKV.vue
  ui/src/components/namespace/NamespaceSelect.vue
  ui/src/components/namespace/Namespaces.vue
  ui/src/composables/useNamespaces.ts
  ui/src/override/components/useLeftMenu.ts
  ui/src/routes/routes.js
  ui/src/stores/namespaces.js
  ui/src/styles/layout/root.scss
  ui/src/translations/de.json
  ui/src/translations/en.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix(ui): filter tests were not up-to-date
  ui/tests/unit/filter/utils/helpers.spec.ts
Due: none

fix(cicd): display ui unit test status
  .gitignore
  ui/package.json
  ui/vitest.config.js
Due: none

fix(ui): change plugin doc properly upon switching plugin type
  ui/src/components/plugins/Plugin.vue
Due: none

feat(core): allow null or empty proxy address to bypass proxy conf
  core/src/main/java/io/kestra/core/http/client/HttpClient.java
Due: Core

feat(core): speed up namespace file download and add a log & metrics
  core/src/main/java/io/kestra/core/utils/NamespaceFilesUtils.java
  core/src/main/java/io/kestra/plugin/core/flow/WorkingDirectory.java
  core/src/test/java/io/kestra/core/utils/NamespaceFilesUtilsTest.java
  script/src/main/java/io/kestra/plugin/scripts/exec/scripts/runners/CommandsWrapper.java
Due: Core, Script

feat(core): #7932 add file exist comportment to NamespaceFiles (#7979)
  core/src/main/java/io/kestra/core/models/tasks/FileExistComportment.java
  core/src/main/java/io/kestra/core/models/tasks/NamespaceFiles.java
  core/src/main/java/io/kestra/core/runners/LocalWorkingDir.java
  core/src/main/java/io/kestra/core/runners/WorkingDir.java
  core/src/main/java/io/kestra/core/utils/NamespaceFilesUtils.java
  core/src/test/java/io/kestra/core/runners/LocalWorkingDirTest.java
  core/src/test/java/io/kestra/core/runners/TestWorkingDir.java
Due: Core

fix(core): working dir interface contract by putting back putFile(path, content) (#7980)
  core/src/main/java/io/kestra/core/runners/LocalWorkingDir.java
  core/src/main/java/io/kestra/core/runners/WorkingDir.java
  core/src/test/java/io/kestra/core/runners/TestWorkingDir.java
Due: Core

fix(ui): include parameters into request for plugin schema fetching (#8002)
  ui/src/components/flows/tasks/Task.js
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/stores/plugins.js
Due: none

fix(core): amend server start announcements
  cli/src/main/java/io/kestra/cli/commands/servers/ExecutorCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/IndexerCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/SchedulerCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/StandAloneCommand.java
  cli/src/main/java/io/kestra/cli/commands/servers/WorkerCommand.java
  core/src/main/java/io/kestra/core/runners/Worker.java
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
  jdbc/src/main/java/io/kestra/jdbc/runner/JdbcIndexer.java
Due: Cli, Core, Jdbc

fix(build): Gradle space-assignment deprecation
  build.gradle
Due: none

refactor: move flow editor logic into flow store (#7968)
  ui/src/components/Tabs.vue
  ui/src/components/code/NoCode.vue
  ui/src/components/code/segments/Editor.vue
  ui/src/components/filter/components/Label.vue
  ui/src/components/flows/Curl.vue
  ui/src/components/flows/FlowCreate.vue
  ui/src/components/flows/FlowRoot.vue
  ui/src/components/flows/FlowRootTopBar.vue
  ui/src/components/flows/Overview.vue
  ui/src/components/flows/TaskEditor.vue
  ui/src/components/flows/Topology.vue
  ui/src/components/flows/tasks/TaskArray.vue
  ui/src/components/flows/tasks/TaskCondition.vue
  ui/src/components/flows/tasks/TaskObject.vue
  ui/src/components/flows/tasks/TaskTask.vue
  ui/src/components/flows/tasks/TaskTaskRunner.vue
  ui/src/components/inputs/Editor.vue
  ui/src/components/inputs/EditorButtons.vue
  ui/src/components/inputs/EditorSidebar.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/KeyShortcuts.vue
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/components/inputs/MonacoEditor.vue
  ui/src/components/layout/Markdown.vue
  ui/src/main.js
  ui/src/stores/core.js
  ui/src/stores/editor.js
  ui/src/stores/flow.js
  ui/src/stores/plugins.js
  ui/src/utils/axios.js
  ui/src/utils/constants.ts
  ui/src/utils/init.js
  ui/src/utils/markdown.ts
  ui/src/utils/scheme.js
  ui/src/utils/toast.ts
  ui/src/utils/unsavedChange.js
  ui/tests/storybook/components/code/segments/Editor.stories.jsx
  ui/tests/storybook/components/flows/FlowEditor.stories.jsx
  ui/tests/storybook/components/inputs/LowCodeEditor.stories.jsx
  ui/tests/storybook/components/plugins/PluginDocumentation.stories.jsx
Due: none

fix(): restarting trigger does not break the list anymore (#8004)
  ui/src/components/admin/Triggers.vue
Due: none

fix(core): race in the FlowListener
  core/src/main/java/io/kestra/core/runners/FlowListeners.java
  core/src/test/java/io/kestra/plugin/core/http/TriggerTest.java
Due: Core

fix(core): race while initializing trigger + possible duplicate update
  core/src/main/java/io/kestra/core/schedulers/AbstractScheduler.java
Due: Core

feat(core): add new subkey arg to secret pebble function
  core/src/main/java/io/kestra/core/runners/pebble/functions/SecretFunction.java
  core/src/main/java/io/kestra/core/secret/SecretException.java
  core/src/main/java/io/kestra/core/secret/SecretNotFoundException.java
  core/src/test/java/io/kestra/core/secret/SecretFunctionTest.java
Due: Core

fix: remove unwanted change in Curl
  ui/src/components/flows/Curl.vue
Due: none

chore(ui): removing dynamic section of collapsible plugin properties (#8008)
  ui/package-lock.json
  ui/package.json
Due: none

chore(ui): highlight first item in global search bar autocomplete (#8009)
  ui/src/components/layout/GlobalSearch.vue
  ui/src/styles/layout/element-plus-overload.scss
Due: none

fix(ui): amend task source tabs colors (#8010)
  ui/src/styles/layout/element-plus-overload.scss
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
