Repository wakeensito/kestraTeamC: changes, and which Codecov flags are due for each by the changed paths.
All: Cli, Core, Jdbc, Jdbc H2, Jdbc Mysql, Jdbc Postgres, Model, Platform, Processor, Repository Memory, Runner Memory, Script, Storage Local

chore(core): move run context property validation to the run context
  core/src/main/java/io/kestra/core/runners/DefaultRunContext.java
  core/src/main/java/io/kestra/core/runners/RunContext.java
  core/src/main/java/io/kestra/core/runners/RunContextProperty.java
  core/src/test/java/io/kestra/core/runners/RunContextTest.java
Due: Core

feat(ui): introduce topology export to image files (#7541)
  ui/package-lock.json
  ui/package.json
Due: none

fix(ui): amend label filter encoding after values change (#7536)
  ui/src/components/filter/utils/helpers.ts
Due: none

fix(ui): plugins TOC is now handling every type of plugins
  ui/src/components/plugins/Toc.vue
Due: none

fix(ui): styling enhancements for plugin doc
  ui/package-lock.json
  ui/package.json
  ui/src/styles/components/plugin-doc.scss
Due: none

fix(ui): preselect filter comparator option (#7518)
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(ui): improve coloring for task object tooltips in no code editor (#7515)
  ui/src/components/flows/tasks/TaskObject.vue
Due: none

chore: add wiremock and update tests
  cli/build.gradle
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginSearchCommand.java
  cli/src/main/resources/application.yml
  cli/src/test/java/io/kestra/cli/commands/plugins/PluginSearchCommandTest.java
Due: Cli

fix: refactor PluginSearchCommand
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginSearchCommand.java
Due: Cli

refactor: update http client and fix tests
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginSearchCommand.java
  cli/src/main/resources/application.yml
  cli/src/test/java/io/kestra/cli/commands/plugins/PluginSearchCommandTest.java
Due: Cli

feat: add plugin search command
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginCommand.java
  cli/src/main/java/io/kestra/cli/commands/plugins/PluginSearchCommand.java
  cli/src/test/java/io/kestra/cli/commands/plugins/PluginSearchCommandTest.java
Due: Cli

Labels multiselect: (#7544)
  core/src/test/java/io/kestra/core/repositories/AbstractExecutionRepositoryTest.java
  jdbc-h2/src/main/java/io/kestra/repository/h2/H2ExecutionRepositoryService.java
  jdbc-h2/src/main/java/io/kestra/repository/h2/H2FlowRepositoryService.java
  jdbc-mysql/src/main/java/io/kestra/repository/mysql/MysqlExecutionRepositoryService.java
  jdbc-mysql/src/main/java/io/kestra/repository/mysql/MysqlFlowRepositoryService.java
  jdbc-postgres/src/main/java/io/kestra/repository/postgres/PostgresExecutionRepositoryService.java
  jdbc-postgres/src/main/java/io/kestra/repository/postgres/PostgresFlowRepositoryService.java
  ui/src/components/filter/KestraFilter.vue
  webserver/src/main/java/io/kestra/webserver/converters/QueryFilterFormatBinder.java
Due: Core, Jdbc H2, Jdbc Mysql, Jdbc Postgres

chore(ui): respect default execution tab settings field when opening single execution (#7576)
  ui/src/components/executions/ExecutionRoot.vue
Due: none

fix(ui): make flow deletion work as expected (#7579)
  ui/src/components/inputs/EditorView.vue
  ui/src/components/inputs/LowCodeEditor.vue
  ui/src/components/layout/BookmarkLink.vue
  ui/src/components/layout/ContextNews.vue
Due: none

fix(ui): amend inconsistencies inside the product tour (#7582)
  ui/src/components/flows/FlowCreate.vue
  ui/src/components/inputs/EditorView.vue
  ui/src/components/layout/TopNavBar.vue
  ui/src/components/onboarding/OnboardingBottom.vue
  ui/src/components/onboarding/VueTour.vue
  ui/src/components/onboarding/components/buttons/Wrapper.vue
Due: none

fix(core): log can have no executionId
  core/src/main/java/io/kestra/core/services/LogStreamingService.java
Due: Core

chore(ui): remove background and check mark from selected filters dropdown list (#7583)
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(core): properly render list properties
  core/src/main/java/io/kestra/core/models/property/Property.java
  core/src/test/java/io/kestra/core/models/property/PropertyTest.java
Due: Core

fix(ui): make sure adding labels on flow run dialog is possible (#7587)
  ui/src/components/labels/LabelInput.vue
Due: none

chore(deps): regular dependency update (#7588)
  ui/package-lock.json
  ui/package.json
Due: none

Feat/npe on runcontext cleanup (#7585)
  core/src/main/java/io/kestra/core/runners/DefaultRunContext.java
Due: Core

fix(ui): LabelInput.vue was causing UI freeze
  ui/src/components/labels/LabelInput.vue
Due: none

Fix issue text filter after label
  ui/src/components/filter/KestraFilter.vue
Due: none

chore: introduce Devcontainer setup (#7507)
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Due: none

feat(ui): improve inspecting details of multiple executions (#7516)
  ui/src/components/executions/Overview.vue
  ui/src/translations/en.json
Due: none

feat(ui): add ability to have persistent filter options (#7276)
  ui/src/components/filter/KestraFilter.vue
Due: none

chore(translations): standalone action for translations (#7597)
  .github/workflows/generate-translations.yml
  ui/src/translations/generate_translations.py
Due: none

Update generate-translations.yml
  .github/workflows/generate-translations.yml
Due: none

fix: ci for translations (#7602)
  .github/actions/generate-translations/action.yml
  .github/workflows/generate-translations.yml
  .github/workflows/pull-request.yml
Due: none

fix(translations): fix translation key detection by comparing against last modifying commit (#7604)
  ui/src/translations/generate_translations.py
Due: none

feat: add full examples for datetimebetween condition (#7598)
  core/src/main/java/io/kestra/plugin/core/condition/DateTimeBetween.java
Due: Core

fix: only re-translate if the key is not already in the target dict (#7608)
  .github/workflows/generate-translations.yml
  ui/src/translations/generate_translations.py
Due: none

Revert "chore(translations): localize to languages other than English (#7605)" (#7609)
  ui/src/translations/de.json
  ui/src/translations/es.json
  ui/src/translations/fr.json
  ui/src/translations/hi.json
  ui/src/translations/it.json
  ui/src/translations/ja.json
  ui/src/translations/ko.json
  ui/src/translations/pl.json
  ui/src/translations/pt.json
  ui/src/translations/ru.json
  ui/src/translations/zh_CN.json
Due: none

fix: clean up translations script
  .github/workflows/generate-translations.yml
  ui/src/translations/generate_translations.py
Due: none

chore(deps): upgrade Micronaut core to 4.7.15
  platform/build.gradle
Due: Platform

feat(ui): introduce the execution timeline section on overview tab (#7498)
  ui/src/components/executions/Overview.vue
  ui/src/components/layout/Duration.vue
  ui/src/components/layout/Timeline.vue
  ui/src/translations/en.json
Due: none

fix: improve some wording
  ui/src/translations/en.json
Due: none

feat(ui): make filter dropdown be positioned below the input caret (#7614)
  ui/src/components/filter/KestraFilter.vue
Due: none

fix(translations): allow retranslating modified keys when needed
  .github/workflows/generate-translations.yml
  ui/src/translations/generate_translations.py
Due: none

fix: turn CI flag to a dropdown
  .github/workflows/generate-translations.yml
Due: none

Path conditions:
  Cli: any of: cli/**
  Core: any of: core/**
  Jdbc: any of: jdbc/**
  Jdbc H2: any of: jdbc-h2/**
  Jdbc Mysql: any of: jdbc-mysql/**
  Jdbc Postgres: any of: jdbc-postgres/**
  Model: any of: model/**
  Platform: any of: platform/**
  Processor: any of: processor/**
  Repository Memory: any of: repository-memory/**
  Runner Memory: any of: runner-memory/**
  Script: any of: script/**
  Storage Local: any of: storage-local/**
